
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=a8545689b0c9255e93e8aed8dcfe2d42
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress