
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=85a0b38b8a0f847677e6f6a46e486b31
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress