
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=2999a17919900ce3b6132da44ad0b4c9
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress