/* Images
/* ------------------------- */

@if $template == 'esports' {

	figure.aligncenter,
	figure.alignleft,
	figure.alignright,
	figure.alignnone,
	figure.wp-block-image {

		figcaption {
			background-color: rgba($body-bg-color, .8);
			color: $color-white;

			&::before {
				color: $color-primary;
			}
		}
	}
}
