/*
// #Typography
// --------------------------------------------------
*/

/* Headings */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: $headings-color;
	font-family: $headings-font-family;
}

h1, .h1 {
	font-size: $font-size-h1;
	font-style: $font-style-h1;
	text-transform: $text-transform-h1;
	font-weight: $font-weight-h1;
}

h2, .h2 {
	font-size: $font-size-h2;
	font-style: $font-style-h2;
	text-transform: $text-transform-h2;
	font-weight: $font-weight-h2;
}

h3, .h3 {
	font-size: $font-size-h3;
	font-style: $font-style-h3;
	text-transform: $text-transform-h3;
	font-weight: $font-weight-h3;
}

h4, .h4 {
	font-size: $font-size-h4;
	text-transform: $text-transform-h4;
	font-style: $font-style-h4;
	font-weight: $font-weight-h4;
}

h5, .h5 {
	font-size: $font-size-h5;
	font-style: $font-style-h5;
	text-transform: $text-transform-h5;
	font-weight: $font-weight-h5;
}

h6, .h6 {
	font-size: $font-size-h6;
	font-style: $font-style-h6;
	text-transform: $text-transform-h6;
	line-height: $base-line-height;
	font-weight: $font-weight-h6;
}

/* Links */
a {
	color: $link-color;
	text-decoration: $link-decoration;

	&:hover,
	&:focus {
		color: $link-color-hover;
		text-decoration: $link-decoration-hover;
	}
}

/* Lists */
.widget_text,
div.wpb_text_column,
.list,
.hentry {
	ol:not([class]) {
		list-style-type: none;

		> li {

			&::before {
				color: $ol-number-color;
				font-family: $font-family-accent;
			}
		}
	}
}

.widget_text,
div.wpb_text_column,
.list,
.hentry {
	ul:not([class]) {
		list-style-type: none;

		> li {

			&::before {
				color: $color-primary;

				@if $template == 'esports' {
					border-color: $color-primary;
					color: $headings-color;
				}
			}
		}
	}
}


/* Content Title */
.content-title__subtitle {
	color: $body-font-color;
}


/* Blockquotes */
.blockquote--default,
blockquote {

	&::before {
		font-family: $font-family-accent;
		color: $headings-color;
	}

	.blockquote__content,
	> p {
		font-family: $font-family-accent;

		@if $template == 'football' {
			color: $headings-color;
		} @else {
			color: lighten($headings-color, 5%);
		}
	}

	.blockquote__cite {
		font-family: $font-family-accent;
		color: $body-font-color;
	}
}

.text-success {
	color: $color-success !important;
}
.text-danger {
	color: $color-danger !important;
}
.text-warning {
	color: $color-warning !important;
}
.text-info {
	color: $color-info !important;
}

// Address
address {

	strong {
		color: $headings-color;
	}
}

// Definition List
dl {

}
	dt {
		font-family: $font-family-accent;
	}
