/*=============================================
=            eSports Footer            =
=============================================*/

/* Footer Widgets */
.footer-widgets {

}

/* Sponsors */
.sponsors-wrapper {
	background-color: $color-dark;

	.sponsors {
		border-top: 0;

		@media (min-width: 768px) {
			margin-top: 0;
			padding: 40px 0;
		}

		@media (min-width: 992px) {
			padding: 60px 0;
		}

		@media (min-width: 992px) {
			margin-top: 0;
		}
	}

	.sponsors-title {
		font-size: 1em;
		text-transform: uppercase;
	}

	.sponsors-logos {
		align-items: center;
		justify-content: space-around;
	}

		.sponsors__item {
			@media (min-width: 1200px) {
				margin: 0 20px;
			}
		}
}
