/*=============================================
=            eSports Footer            =
=============================================*/

/* Sponsors */
.sponsors-wrapper {
	background-color: $color-dark;
}

/* Footer Social */
.footer-social {
	background: $footer-secondary-bg;
}
			.footer-social__icon {

				svg {
					fill: $link-color;
				}
			}
				.footer-social__txt {
					font-family: $font-family-accent;
				}
					.footer-social__name {
						color: #fff;
					}
					.footer-social__user {
						color: #a59cae;
					}
