@import 'import/reset';
@import 'import/variables';
@import 'pingvin';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'sprite';
@import 'fonts/font_fontawesome';
@import 'fonts/font_opensans';
@import 'fonts/font_roboto';
@import 'owl.carousel.min';

.clearfix {
  *zoom: 1;
  &:before {
    display: table;

    content: '';
  }
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}
.clear {
  clear: both;
}
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  position: relative;

  color: $base-font-color;
  background-color: $dark-blue;

  -webkit-font-smoothing: antialiased;
  &:after,
  &:before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
  }
  &:after {
    z-index: -1;

    background-image: url(../img/bg/body-bg.png);
  }
  &:before {
    z-index: -2;

    background-image: linear-gradient(135deg, rgba(47,46,47,1) 0%,  rgba(1,1,1,1) 100%);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
/**
 * HEADER
 */
.navbar {
  position: relative;

  height: 90px;
  padding-top: 10px;

  border-radius: 0;
  background-color: $nigger-blue;
  .navbar-brand {
    display: block;

    width: 94px;
    height: 70px;
    img {
      width: 100%;
    }
  }
}
.header-nav {
  padding-top: 20px;
  .headnav {
    @extend .clearfix;
    @extend .justify-child;
  }
  li {

    display: inline-block;
    .sub-menu {
      position: absolute;
      z-index: 50;
      top: 25px;

      display: none;

      padding: 5px;

      background-color: $nigger-blue;
      li {
        width: 100%;
        margin-bottom: 5px;
        &:hover > ul {
          display: block !important;
          a {
          color:#fff;
          &:hover {
            color:$gold;
          }
        }
        }
        ul {
          position: absolute;
          top: 0;
          left: 101%;

          display: none !important;

          margin-top: -5px;
        }
        a {
          white-space: nowrap;

          color: #fff;
        }
        &:hover {
          a {
            color: $gold;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    a {
      font-size: 18px;

      text-decoration: none;

      color: #fff;
    }
    &:hover {
      .sub-menu {
        display: block;
      }
      a {
        color: $gold;
      }
    }
  }
}

/** /HEADER */


/**
 * TEAM NAV
 */
.section-teams {
  height: 60px;
  padding: 0;
  .col-md-12-teams {
    padding-right: 0;
    padding-left: 0;
  }
  ul {
    display: block;

    width: 100%;
    height: 60px;
    li {
      position: relative;

      display: inline-block;
      float: left;

      width: 4%;
      height: 100%;
      margin: 0 .28%;
      a {
        overflow: hidden;

        width: 100%;

        @extend .align-center ;
        img {
          transition: all .2s ease-in-out;
        }
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/**
 * HOME SLIDER
 */
.carousel-caption h1 {
  font-size: 34px;

  padding: 15px;

  text-align: left;

  color: $gold;
}



.slider_but {
  font-size: 16px;

  position: absolute;
  top: 40%;
  left: 10%;

  width: 35%;
}

.btn.second {
  font-size: 16px;

  margin-left: 8px;
  padding: 10px;

  color: #fff;
  background-color: $gold;
  &:hover {
    border-radius: 3px;
    background-color: #ceb400;
  }
}

/**
 * FRONTPAGE SECTION NEWS // BOTTOM
 */
.section-news {
  padding: 10px;

  background-color: $dark-blue;
  h3 {
    color: $gold;
  }
  .news_block {
    padding: 20px 0;
    h3 {
      font-size: 18px;

      padding: 20px 0;

      text-align: center;
    }
    h4 {
      line-height: 1.4;

      text-align: center;
      a {
        font-size: 16px;

        transition: all .6s;

        color: #fff;
      }
      &:hover a {
        color: $gold;
      }
    }
    .hover_image {
      position: relative;

      display: block;

      width: 100%;
      height: 250px;
      margin-bottom: 20px;
      img {
        max-width: 100%;
        height: 250px;
      }
      &:before {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';
        transition: all .6s;

        opacity: 0;
        background-color: rgba(0, 0, 0, .4);
        background-image: url('../img/hover.png');
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 1);
      }
      .date {
        font-size: 10px;

        position: absolute;
        z-index: 99;
        bottom: 0;
        left: 0;

        padding: .4em .75em;

        color: #fff;
        border-radius: 0 3px 0 0;
        background-color: #222;
        background-color: rgba(0, 0, 0, .5);
      }
    }
    a:hover {
      text-decoration: none;
    }
    .hover_image {
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }
  .our-partners {
    .brands {
      display: block;

      @extend .clearfix;
      li {
        position: relative;

        display: inline-block;
        float: left;

        width: 12.5%;
        height: 145px;
        padding: 0 10px;
        img {
          width: 100%;

          @extend .align-center;
        }
      }
    }
  }
}
.section-news.category {
  background-image: url(../img/bg/body-bg.png);
}
/**
 * PAGE AND SINGLE
 */
article {
  color: #fff;
  .page-title {
    font-size: 160%;

    margin-bottom: 20px;

    color: $gold;
  }
}

/**
 * PAGE
 */
.section-history {
  border-top: 3px solid $nigger-blue;
  background-color: $dark-blue;
  article {
    padding: 20px;

    color: #fff;
  }
  .date {
    padding-top: 15px;

    color: $gold;
  }
  .comments {
    color: $gold;
    a {
      display: none;
    }
  }
  .tags {
    display: block;

    text-align: right;

    color: $gold;
    p {
      color: $gold;
      a {
        color: grey;
        &:hover {
          text-decoration: none;

          color: $gold;
        }
      }
    }
  }
  .category {
    display: block;

    text-align: right;

    color: $gold;
    p {
      color: $gold;
      a {
        color: grey;
        &:hover {
          text-decoration: none;

          color: $gold;
        }
      }
    }
  }
}
.relative-pages {
  padding-bottom: 30px;

  background-color: $dark-blue;
}
/**
 * SINGLE
 */
.container-comments {
  .date {
    padding-top: 15px;

    color: $gold;
  }
  .comments {
    color: $gold;
    a {
      display: none;
    }
  }
  .tags {
    text-align: right;

    color: $gold;
    p {
      color: $gold;
      a {
        color: grey;
        &:hover {
          text-decoration: none;

          color: $gold;
        }
      }
    }
  }
  .category {
    text-align: right;

    color: $gold;
    p {
      color: $gold;
      a {
        color: grey;
        &:hover {
          text-decoration: none;

          color: $gold;
        }
      }
    }
  }
}
/**
 * SINGLE PLAYER
 */



/**
 * FOOTER
 */
footer {
  height: 60px;

  background-color: #000215;
  .social {
    padding-top: 12px;

    text-align: right;
    li {
      width: 45px;
      height: 40px;
      a {
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
      }
    }
  }
  p {
    padding-top: 12px;

    color: #fff;
  }
}
.container-content {
  padding-top: 30px;

  border-top: 3px solid #000215;
}
.player-card {
  height: 300px;
  .player-main-photo {
    padding: 0;
    img {
      height: 300px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;

    height: 200px;

    justify-content: flex-end;
    li {
      display: block;
    }
  }
  .quarterback-image {
    display: flex;

    align-content: flex-start;
    justify-content: flex-end;
  }
}
.inner {
  .player-score {
    position: relative;

    text-align: center;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      content: '';

      border-radius: 25px;
      background-color: rgba(50,50,48,.5);
    }
    th {
      padding-left: 20px;

      border: none;
    }
    tr {
      background-color: rgba(50,50,48,.5);
      &:nth-child(2n+1),
      &:last-child {
        background-color: rgba(50,50,48,.1);
        th {
          width: 145px;
          height: 143px;

          text-align: center;
          &:first-child {
            background-color: rgba(50,50,48,.1);
          }
          img {
            max-width: 100%;
          }
        }
      }
      td {
        font-size: 15px;

        padding: 0 0 0 20px;

        color: $gold;
        border: none;
        &:first-child {
          text-align: left;

          color: #fff;
        }
      }
    }
  }
}

.player-bio {
  padding-top: 50px;
  p {
    color: #fff;
  }
}

.player-game-photo {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}
#featured {
  overflow: hidden;

  width: 940px;
  height: 450px;
  margin: auto;
  padding: 15px 0;

  background: #009cff url('orbit/loading.gif') no-repeat center center;
}
.head-table {
  h2 {
    font-size: 25px;
    font-weight: bold;

    padding-top: 25px;

    text-align: center;
  }
}
.heading-stats {
  font-size: 18px;

  color: $gold;
}
.game-stats {
  td {
    text-align: center;

    color: $gold;
  }
}
.team-colors {
  display: inline-block;

  height: 25px;

  border: 1px solid black;
  span {
    display: inline-block;

    width: 25px;
    height: 100%;
  }
}
.team_name {
  font-size: 30px;

  color: $gold;
}
.description {
  padding-bottom: 20px;

  text-align: center;
  li {
    display: inline-block;

    width: 23%;
    span {
      color: $gold;
    }
    a {
      display: inline-block;
    }
  }
}
.team-character {
  position: relative;

  text-align: center;
  .team-logo {
    position: absolute;
  }
}
.team_achievements {
  font-size: 25px;

  color: $gold;
}
.text-achiv {
  display: block;

  color: #fff;
}
.item-slide {
  position: relative;
  .slider_title {
    font-size: 32px;

    position: absolute;
    top: 14%;
    left: 10%;

    display: flex;

    width: 70%;
    padding-top: 10px;

    color: $gold;
    background-color: rgba(0, 0, 0, .5);

    justify-content: center;
  }
  .descr {
    font-size: 18px;

    position: absolute;
    top: 29%;
    left: 10%;

    width: 35%;
    padding: 10px;

    color: #fff;
    background-color: rgba(0, 0, 0, .5);
  }
}
.owl-controls {
  margin-top: 0 !important;
  .owl-dots {
    position: absolute;
    top: 95%;
    left: 48%;
  }
}
.owl-player-slide.owl-carousel.owl-theme.owl-loaded {
  position: relative;
  .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;

    width: 30px;
    height: 50px;
    padding: 13px 7px;

    text-align: center;

    background-color: $gold;
  }
  .owl-next {
    position: absolute;
    top: 50%;
    right: 0;

    width: 30px;
    height: 50px;
    padding: 13px 7px;

    text-align: center;

    background-color: $gold;
  }
}
.owl-team-slide.owl-carousel.owl-theme.owl-loaded {
  position: relative;
  .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;

    width: 30px;
    height: 50px;
    padding: 13px 7px;

    text-align: center;

    background-color: $gold;
  }
  .owl-next {
    position: absolute;
    top: 50%;
    right: 0;

    width: 30px;
    height: 50px;
    padding: 13px 7px;

    text-align: center;

    background-color: $gold;
  }
}
.owl-people-slide.owl-carousel.owl-theme.owl-loaded {
  position: relative;
  .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;

    width: 30px;
    height: 50px;
    padding: 13px 7px;

    text-align: center;

    background-color: $gold;
  }
  .owl-next {
    position: absolute;
    top: 50%;
    right: 0;

    width: 30px;
    height: 50px;
    padding: 13px 7px;

    text-align: center;

    background-color: $gold;
  }
}
.player-bio.poeple {
  padding-top: 30px;
}
.description.people {
  li {
    width: 100%;

    text-align: left;
  }
}
.description.single-player {
  li {
    width: 100%;

    text-align: left;
    span {
      color: $gold;
    }
  }
}
.inner > div {
  overflow-y: hidden !important;

  height: 425px ;
}
.team-score {
  position: relative;

  width: 1250px !important;

  text-align: center;
  .inner.teams {
    height: 331px;
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';

    border-radius: 25px;
    background-color: rgba(50,50,48,.5);
  }
  th {
    padding-left: 20px;

    border: none;
  }
  tr {
    background-color: rgba(50,50,48,.5);
    &:nth-child(2n+1),
    &:last-child {
      background-color: rgba(50,50,48,.1);
      th {
        width: 145px;
        height: 143px;

        text-align: center;
        &:first-child {
          background-color: rgba(50,50,48,.1);
        }
        img {
          max-width: 100%;
        }
      }
    }
    td {
      font-size: 15px;

      padding: 0 0 0 20px;

      color: $gold;
      border: none;
      &:first-child {
        text-align: left;

        color: #fff;
      }
    }
  }
}

.player-score {
  width: 1400px !important;
}
.inner.teams {
  height: 331px;
}
.people-desciption {
  text-align: center;
  h4 {
    padding: 15px 10px;

    color: #fff;
  }
}
.sponsors {
  text-align: center;
  h4 {
    padding: 15px 10px;

    color: #fff;
  }
  img {
    border: none;
    border-radius: none;
  }
}
.owl-footer-slide {
  .sponsors-footer-images {
    position: relative;

    display: inline-block;
    float: left;

    width: 60%;
    height: 160px;
    padding: 0 10px;

    @extend .clearfix;
    img {
      width: 100%;

      @extend .align-center;
    }
  }
}

// Relative posts//
.relative-posts {
  padding: 20px 10px;
  h4 {
    line-height: 1.4;

    text-align: center;
    a {
      font-size: 16px;

      transition: all .6s;

      color: #fff;
    }
    &:hover a {
      color: $gold;
    }
  }
  .hover_image {
    position: relative;

    display: block;

    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    img {
      max-width: 100%;
      height: 250px;
    }
    &:before {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: '';
      transition: all .6s;

      opacity: 0;
      background-color: rgba(0, 0, 0, .4);
      background-image: url('../img/hover.png');
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0 0 20px 5px rgba(255, 255, 255, 1);
    }
    .date {
      font-size: 10px;

      position: absolute;
      z-index: 99;
      bottom: 0;
      left: 0;

      padding: .4em .75em;

      color: #fff;
      border-radius: 0 3px 0 0;
      background-color: #222;
      background-color: rgba(0, 0, 0, .5);
    }
  }
  a:hover {
    text-decoration: none;
  }
  .hover_image {
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}
// *Relative posts//

.category-news {
  color: #fff;
  h1 {
    padding: 15px 0;
  }
  div {
    margin-top: 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid grey;
    div {
      border: none;
      overflow:hidden;
      img {
        width:370px;
        height:auto;
      }
    }
  }
  a {
    color: $gold;
    &:hover {
      text-decoration: none;

      color: #c61e03;
    }
  }
  img {
    &:hover {
      transition: all .5s;

      box-shadow: 0 0 20px 5px rgba(255, 255, 255, 1);
    }
  }
  .pagination {
    text-align: center;

    border: none;
    &:hover {
      text-decoration: none;

      color: #c61e03;
    }
  }
}
.comment-respond {
  color: #fff;
}

//PLAYER POSITION TABLE HEIGHT//
.player-position-qb > div {
  height: 422px !important;
}
.player-position-te > div {
  height: 422px !important;
}
.player-position-fs > div {
  height: 405px !important;
}
.player-position-cb > div {
  height: 412px !important;
}
.player-position-k > div {
  height: 350px !important;
}
.player-position-p > div {
  height: 280px !important;
}
.player-position-c > div {
  height: 250px !important;
}
.player-position-og > div {
  height: 250px !important;
}
.player-position-ot > div {
  height: 250px !important;
}
//*PLAYER POSITION TABLE HEIGHT*//
.inner-title {
  padding: 15px 25px;
}
.best-players {
  position: relative;

  text-align: center;
  text-align: center;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';

    border-radius: 25px;
  }
  th {
    padding-left: 20px;

    border: none;
  }
  tr {
    background-color: rgba(50,50,48,.5);
    &:nth-child(2n+1),
    &:last-child {
      background-color: rgba(50,50,48,.1);
      th {
        width: 145px;
        height: 143px;

        text-align: center;
        &:first-child {
          background-color: rgba(50,50,48,.1);
        }
        img {
          max-width: 100%;
        }
      }
    }
    td {
      font-size: 18px;

      padding: 10px 13px 10px 0 ;

      color: #fff;
      border: none;
      &:first-child {
        color: $gold;
      }
    }
  }
}
.game-info {
  &:first-child {
    padding-top: 35px;
  }
  h2 {
    margin-bottom: -20px;

    color: $gold;
  }
  .championship {
    margin: 30px 0;

    border-bottom: 1px solid grey;
    background-color: rgba(50,50,48,.5);
    &:hover {
      transition: all .3s;

      background-color: rgba(50,50,48,.1);
      box-shadow: 0 0 20px 5px #fff;
    }
    div {
      height: 75px;

      border-right: 1px solid grey;
    }
    .game-date {
      font-size: 30px;

      padding-top: 7px;

      text-align: center;
    }
    .game-score {
      font-size: 40px;

      padding-top: 7px;

      text-align: center;
      span {
        width: 39px;
        height: 60px;
        margin-right: 3px;

        color: $gold;
      }
    }
    .team-game {
      font-size: 30px;

      display: flex;

      color: #0070a7;

      justify-content: space-between;
      align-items: center;
      img {
        max-height: 70px;
      }
    }
    .team-city {
      font-size: 20px;

      margin-top: 15px;

      text-align: center;
    }
  }
}
.single-game {
  color: #fff;
  h1 {
    font-size: 30px;

    color: $gold;
  }
  .team-single-game {
    font-size: 120px;

    display: flex;

    color: #0070a7;

    justify-content: space-around;
    align-items: flex-start;
    .single-game-score {
      display: flex;

      height: 180px;
      margin: 0 -80px;

      border-radius: 20%;
      background-color: rgba(50,50,49,.3);
    }
  }
}
.players-game-stats {
  text-align: center;
  ul {
    border-bottom: 1px solid grey;
    li {
      display: flex;

      justify-content: space-between;
    }
  }
  .second-team-players {
    display: flex;

    justify-content: flex-start;
    a {
      padding-left: 130px;
    }
  }
}
.team-game-score {
  margin-bottom: 20px;
  .gold-score {
    color: $gold;
  }
  td {
    text-align: center;
  }
}
.col-sm-6-news-posts {
  a {
    text-align: center;
  }
}
.gallery {
  li {
    display: inline-block;

    padding-right: 15px;
    padding-bottom: 15px;
    img {
      width: 265px;
      height: 180px;

      border-radius: 5%;
      &:hover {
        transition: all .3s;

        background-color: rgba(50,50,48,.1);
        box-shadow: 0 0 20px 5px #fff;
      }
    }
  }
}

/** media query */
@media (max-width:1100px) {
  .item-slide .descr {
    top: 38%;
  }
  .slider_but {
    top: 57%;
  }
}
@media (max-width:835px) {
  .item-slide .slider_title {
    font-size: 25px;
  }
  .item-slide .descr {
    font-size: 15px;

    top: 38%;
  }
  .slider_but {
    top: 57%;

    width: 40%;
    a {
      font-size: 13px;
    }
  }
}

@media (max-width:735px) {
  .header-nav {
    li {
      a {
        font-size: 15px;
      }
    }
  }
  .slider_but {
    top: 60%;

    width: 45%;
    a {
      font-size: 12px;
    }
    .btn.second {
      font-size: 12px;
    }
  }
}

@media (max-width:675px) {
  .item-slide .slider_title {
    font-size: 20px;
  }
  .item-slide .descr {
    font-size: 12px;

    top: 38%;

    width: 70%;
  }
  .slider_but {
    top: 60%;

    width: 60%;
    a {
      font-size: 12px;
    }
  }
}

@media (max-width:565px) {
  .header-nav {
    li {
      a {
        font-size: 12px;
      }
    }
  }
  .item-slide .slider_title {
    font-size: 20px;

    width: 80%;
  }
  .item-slide .descr {
    font-size: 12px;

    top: 43%;

    width: 80%;
  }
  .slider_but {
    top: 64%;

    width: 60%;
    a {
      font-size: 12px;
    }
  }
}
@media (max-width:475px) {
  .col-md-12 .team-character {
    .team-logo {
      img {
        display: none !important;
      }
    }
  }
  .navbar {
    .col-xs-10 {
      width: 100%;
    }
    .navbar-brand {
      display: none !important;
    }
  }
  .header-nav {
    li {
      a {
        font-size: 10px;
      }
    }
    .headnav {
      margin-top: -20px;
    }
  }
  .owl-home-slide {
    display: none !important;
  }
  .footer {
    .social {
      text-align: center;
    }
    .subscribe {
      width: 100%;
      li {
        width: 35px;
      }
    }
    .ulaf-year {
      display: none !important;
    }
  }

  .description {
    font-size: 10px;
  }
}

/* media query*/
.owl-controls {
  display: none !important;
}

@import 'import/print';
@import 'owl/owl.carousel.min';
@import 'owl/owl.theme.default.min';
