/* Desktop site header
--------------------------------------------- */
.bt-header-responsive-inactive {
	.site-header {
		z-index: 10;
		width: 100%;
		a {
			color: inherit;
		}
		.site-header-top-bar {
			min-height: var(--topbar-height);
			display: flex;
			align-items: center;
			.site-header-top-bar-inner {
				flex-basis: 100%;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				> div {
					display: flex;
					align-items: center;
				}
				.site-header-top-bar-inner-right:only-child {
					margin-left: auto;
				}
				.site-header-top-bar-inner-left:only-child {
					margin-right: auto;
				}
			}
		}
		.site-branding {
			.site-branding-inner {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				.site-branding-text {
					.site-title {
						margin: 0;
						a {
							color: inherit;
						}
					}
					.site-description {
						margin: 0;
					}
				}
				.site-branding-logo-text {
					display: flex;
					align-items: center;
					.site-branding-logo {
						flex: 1 0 auto;
						.logo {
							display: block;
							img {
								height: max(var(--logo-height),var(--min-header-height));
								display: block;
							}
							@at-root .bt-header-responsive-inactive.bt-sticky-header-active .site-header .site-branding .site-branding-logo-text .site-branding-logo .logo img {
								height: var(--sticky-logo-height);
							}
							@at-root .bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header .site-header .site-branding .site-branding-logo-text .site-branding-logo .logo {
								display: none;
							}	
							
						}
						.sticky-logo {
							display: none;
							img {
								height: var(--sticky-logo-height);
							}
							@at-root .bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header .site-header .site-branding .site-branding-logo-text .site-branding-logo .sticky-logo {
								display: block;
							}
						}
						+ .site-branding-text {
							margin-left: .5em;
						}
					}
				}
			}
		}
		.site-menu-responsive-widgets, .site-header-responsive-widgets {
			display: none;
		}
	}
	&.rtl {
		.site-header {
			.site-header-top-bar {
				.site-header-top-bar-inner {
					flex-direction: row-reverse;
				}
			}
		}
		.site-branding {
			.site-branding-inner {
				.site-branding-logo-text {
					.site-branding-logo {
						+ .site-branding-text {
							margin-left: 0;
							margin-right: .5em;
						}
					}
				}
			}
		}
	}
	/* Menu below logo + content behind header + transparent logo and menu area - header get's a small line */
	&.primary-menu-position-bottom-left,
	&.primary-menu-position-bottom-right,
	&.primary-menu-position-bottom-center {
		&.header-position-above {
			.site-header:has(.main-navigation[style*="--secondary-color:var(--transparent-color)"]) {
				.site-branding[style*="--secondary-color:var(--transparent-color)"] {
					.site-branding-inner {
						position: relative;
						&:after {
							content: "";
							display: block;
							height: 2px;
							width: 100%;
							background: currentColor;
							position: absolute;
							inset: auto 0 0 0;
							opacity: .1;
						}
					}
				}
			}
		}
	}
}

/* Navigation  */
.bt-header-responsive-inactive  {
	.main-navigation {
		display: flex; 
		align-items: center;
		ul.main-navigation-menu {
			display: flex;
			margin: 0;
			padding: 0;
			li {
				display: flex;	
				margin: 0;
				padding: 0;
				ul {
					opacity: 0;
					pointer-events: none;
					display: none;
				}
			}
		}
		nav > ul.main-navigation-menu {
			> li {
				position: relative;
				display: flex;
				align-items: center;
				margin: 0 var(--desktop-menu-gap) 0 0;
				justify-content: space-between;
				@at-root .bt-header-responsive-inactive.rtl .main-navigation ul.main-navigation-menu > li {
					margin: 0 0 0 var(--desktop-menu-gap);
				}
				> a {
					text-decoration: none;
					color: inherit;
					padding: 0;
				}
			}
			ul {
				box-shadow: var(--submenu-shadow);
				position: absolute;
				left: calc(var(--desktop-menu-gap) * .5 * -1);
				z-index: 99999; 
				width: var(--submenu-width);
				flex-direction: column;
				display: flex;
				opacity: 0;
				pointer-events: none;
				/* Menu below logo */
				@at-root .bt-header-responsive-inactive .main-navigation ul ul {
					top: var(--below-logo-menu-height);
				}
				/* Next to logo */
				@at-root .bt-header-responsive-inactive .main-navigation.main-navigation-logo-area ul ul {
					top: calc(100% - ((var(--logo-height) - var(--min-header-height)) / 2));
				}
				/* Sticky situation */
				@at-root .bt-header-responsive-inactive.bt-sticky-header-active .main-navigation.main-navigation-logo-area ul ul {
					top: calc(((max(var(--sticky-logo-height), var(--min-header-sticky-height)) - min(var(--sticky-logo-height), var(--min-header-sticky-height))) / 2) + min(var(--sticky-logo-height), var(--min-header-sticky-height)));
				}
				ul {
					top: 0;
					left: var(--submenu-width);
				}
			}
			li.on > ul {
				opacity: 1;
				pointer-events: initial;
				ul {
					left: var(--submenu-width);
					top: calc(var(--submenu-top-bottom-padding) * -1) !important;
				}
			}
		}
		nav > ul.main-navigation-menu {
			> li {
				> a {
					white-space: nowrap;
					padding: 0;
					z-index: 1;
					overflow: hidden;
					&:before {
						content: "";
						display: block;
						background-color: var(--accent-color);
						position: absolute;
						z-index: -2;
						left: 0;
						width: var(--desktop-menu-selected-line-width);
						height: var(--desktop-menu-selected-line-thickness);
						transform: scaleX(0);
						/* Menu below logo */
						@at-root .bt-header-responsive-inactive .main-navigation nav > ul > li > a:before {
							bottom: 0;
						}
						/* Next to logo */
						@at-root .bt-header-responsive-inactive .main-navigation.main-navigation-logo-area nav > ul > li > a:before {
							bottom: 0;
						}
						/* Sticky situation */
						@at-root .bt-header-responsive-inactive.bt-sticky-header-active .main-navigation.main-navigation-logo-area nav > ul > li > a:before {
							top: calc(min(var(--sticky-logo-height),var(--min-header-sticky-height)) / 2 - 4px + 50%);
						}
					}
					&:after {
						content: "";
						display: block;
						position: absolute;
						z-index: -1;
						bottom: 0;
						top: 0;
						left: calc(var(--desktop-menu-gap) * .5 * -1);
						right: calc(var(--desktop-menu-gap) * .5 * -1);
						opacity: 0;
						/* Menu below logo */
						@at-root .bt-header-responsive-inactive .main-navigation nav > ul > li > a:after {
							height: var(--below-logo-menu-height);
						}
						/* Next to logo */
						@at-root .bt-header-responsive-inactive .main-navigation.main-navigation-logo-area nav > ul > li > a:after {
							top: calc((var(--logo-height) - var(--min-header-height)) / 2);
							height: var(--min-header-height);
							/* height: auto; */
						}
						/* Sticky situation */
						@at-root .bt-header-responsive-inactive.bt-sticky-header-active .main-navigation.main-navigation-logo-area nav > ul > li > a:after {
							top: calc((var(--sticky-logo-height) - var(--min-header-sticky-height)) / 2);
							height: min(var(--sticky-logo-height), var(--min-header-sticky-height));
						}
					}
				}
				/* Menu below logo */
				@at-root .bt-header-responsive-inactive .main-navigation nav > ul > li > a {
					line-height: var(--below-logo-menu-height);
				}
				/* Next to logo */
				@at-root .bt-header-responsive-inactive .main-navigation.main-navigation-logo-area nav > ul > li > a {
					line-height: max(var(--logo-height),var(--min-header-height));
				}
				/* Set line height when next to logo and sticky */
				@at-root .bt-header-responsive-inactive.bt-sticky-header-active .main-navigation.main-navigation-logo-area nav > ul > li > a {
					line-height: max(var(--sticky-logo-height),var(--min-header-sticky-height));
				}
				&.menu-item-has-children {
					.touch & {
						> a:after {
							right: calc(var(--desktop-menu-gap) * .3 * -1 - .65rem - var(--subtoggler-size));
						}
					}
					/*.touch .rtl & {*/
					.touch[dir="rtl"] & {
						> a:after {
							right: calc(var(--desktop-menu-gap) * 0.5 * -1);
							left: calc(var(--desktop-menu-gap) * .3 * -1 - .65rem - var(--subtoggler-size));
						}
					}
				}
				&.on {
					> a {
						&:before {
						}
						&:after {
							opacity: 1;
						}
					}
				}
				&.current-menu-item {
					> a {
						&:before {
							transform: scaleX(1);
						}
					}
					&.on {
						> a {
							&:before {
							}
						}
					}
				}
			}
		}
	}
	&.rtl {
		.main-navigation {
			nav > ul.main-navigation-menu {
				ul {
					right: calc(var(--desktop-menu-gap) * .5 * -1);
					left: auto;
				}
				li.on > ul {
					ul {
						left: auto;
						right: var(--submenu-width);
					}
				}
				> li {
					> a {
						&:before {
							left: auto;
							right: 0;
						}
					}
				}		
			}
		}
	}
}

/* Wide dropdown menu 
-------------------------------------- */
.bt-header-responsive-inactive  {
	.main-navigation {
		 nav > ul {
			> li.bt-wide-dropdown {
				> li:not(:last-child) {
					&:after {
						display: none;
					}
				}
				ul {
					&:before {
						content: "";
						display: block;
						left: 1em;
						right: 1em;
						height: 2px;
						background-color: currentColor;
						opacity: .2;
						top: 0;
					}
				}
				> ul {
					width: fit-content;
					left: 50%;
					flex-direction: row;
					background-color: var(--dropdown-hover-secondary-color);
					transform: translateX(-50%);
					> li {
						margin-top: var(--submenu-top-bottom-padding);
						margin-bottom: var(--submenu-top-bottom-padding);
						background-color: var(--dropdown-hover-secondary-color);
						.sub-toggler {
							display: none;
						}
						> ul {
							opacity: 1;
							position: initial;
							top: auto;
							left: initial;
							transform: none;
							box-shadow: none;
							> li {
								padding-left: 0;
								padding-right: 0;
								&:last-child {
									margin-bottom: 0;
								}
							}
						}	
					}
				}
			}
		}
	}
	&.rtl {
		.main-navigation {
			 nav > ul {
				> li.bt-wide-dropdown {
					> ul {
						transform: translateX(50%);
					}
				}
			 }
		}
	}
}

/* Wide menu aligment depending on wide menu additional class (for user control)
-------------------------------------- */
:not(.rtl).bt-header-responsive-inactive  {
	.main-navigation {
		 nav > ul {
			> li.bt-wide-dropdown {
				&.bt-wide-dropdown-align-left {
					> ul {
						transform: translateX(calc(-1 * var(--submenu-width)/2)) !important;
						left: 0;
						right: auto;
					}
				}
				&.bt-wide-dropdown-align-right {
					> ul {
						transform: translateX(calc(var(--submenu-width)/2)) !important;
						left: auto;
						right: 0;
					}
				}
			}
		}
	}
}
.rtl.bt-header-responsive-inactive  {
	.main-navigation {
		 nav > ul {
			> li.bt-wide-dropdown {
				&.bt-wide-dropdown-align-left {
					> ul {
						transform: translateX(calc(-1 * var(--submenu-width)/2)) !important;
						left: 0;
						right: auto;
					}
				}
				&.bt-wide-dropdown-align-right {
					> ul {
						transform: translateX(calc(var(--submenu-width)/2)) !important;
						left: auto;
						right: 0;
					}
				}
			}
		}
	}
}

/* Sticky header */
.site-header {
	.bt-header-responsive-inactive & {
		position: absolute;
		transition: none;
		top: 0;
	}
	.bt-header-responsive-inactive.bt-sticky-header & {
		position: absolute;
		transition: none;
		transition: 300ms ease transform;
		top: 0;
	}
	.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header & {
		transition: none;
		position: fixed;    
		left: 0;
		right: 0;
		margin: auto;
		transform: translateY(-100%);
		z-index: 10;
		.site-header-top-bar {
			display: var(--site-header-top-bar-sticky-display);
		}
	}
	.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-open & {
		transform: translateY(0%);
		transition: 300ms ease transform;
	}
	.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-closed & {
		transform: translateY(-100%);
		transition: 300ms ease transform;
	}
}

/* Sticky header styles - FIX AND SHRINK */
.site-header {
	.bt-header-responsive-inactive.sticky-style-shrink & {
		position: fixed;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 10;
		transform: none !important;
		/* Regular fix and shrink sticky style defaults */
		.site-branding,
		.main-navigation:not(.main-navigation-logo-area) {
			transition: background-color 300ms ease 0s, color 300ms ease 0s;
		}
		.site-branding-inner .site-branding-logo-text .site-branding-logo {
			position: relative;
			.logo {
				display: block !important;
				opacity: 1;
			}
			.sticky-logo {
				display: flex !important;
				position: absolute;
				inset: 0;
				justify-content: flex-start;
				align-items: center;
				opacity: 0;
				img {
					height: var(--logo-height);
				}
			}
		}
	}
	/* Handle top bar */
	.site-header-top-bar {
		/* Activated, waiting */
		.bt-header-responsive-inactive.bt-sticky-header.sticky-style-shrink & {
			overflow: hidden;
		}
		/* In process of transform */
		.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.sticky-style-shrink & {
			display: flex;
			overflow: hidden;
			transform: translateY(calc(var(--real-top-bar-height) * -1));
			transition: all 300ms ease 0s;
			margin-bottom: calc(var(--real-top-bar-height) * -1);
		}
		/* Transformed */
		.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-open.sticky-style-shrink & {
		}
		/* Going back to normal */
		.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-closed.sticky-style-shrink & {
			transform: translateY(0);
			margin-bottom: 0;
		}
	}
	/* Handle logo area and site branding */
	.site-branding .site-branding-inner .site-branding-logo-text {
		.site-branding-text {
			.site-title {
				.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-closed.sticky-style-shrink & {
					font-size: clamp(1.25em,calc(var(--logo-height)*0.25),1.75em);
				}
			}
		}
		.site-branding-logo {
			.logo {
				.bt-header-responsive-inactive.bt-sticky-header.sticky-style-shrink &,
				.bt-header-responsive-inactive.bt-sticky-header.bt-sticky-header-active.bt-sticky-header-active-closed.bt-sticky-header-active-open.sticky-style-shrink & {
					opacity: 1;
				}
				.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.sticky-style-shrink & {
					opacity: 0;
				}
				.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-closed.sticky-style-shrink & {
					display: block !important;
				}
			}
			.sticky-logo {
				.bt-header-responsive-inactive.bt-sticky-header.sticky-style-shrink &,
				.bt-header-responsive-inactive.bt-sticky-header.bt-sticky-header-active.bt-sticky-header-active-closed.bt-sticky-header-active-open.sticky-style-shrink & {
					opacity: 0;
				}
				.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.sticky-style-shrink & {
					opacity: 1;
				}
			}
			img {
				.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.sticky-style-shrink & {
					transition: height 300ms ease 0s;
					height: var(--sticky-logo-height);
				}
				.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-closed.sticky-style-shrink & {
					transition: height 300ms ease 0s;
					height: var(--logo-height);
				}
			}
		}
	}
}

/* Sticky header styles - SHOW ON SCROLL UP */
.site-header {
	/* Transformed */
	.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-open.sticky-style-show-on-scroll-up &,
	.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-open.bt-sticky-header-active-closed.sticky-style-show-on-scroll-up.bt-scroll-up &,
	.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-open.sticky-style-show-on-scroll-up.bt-scroll-down & {
		transform: translateY(-100%);
		box-shadow: none;
	}
	/* Scrolled up */
	.bt-header-responsive-inactive.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-open.sticky-style-show-on-scroll-up.bt-scroll-up & {
		transform: translateY(0);
		box-shadow: var(--sticky-menu-shadow);
	}
}

/* Menu positioning */
.site-header {
	.site-branding .main-navigation.main-navigation-logo-area,
	> .main-navigation .main-navigation-inner {
		.bt-header-responsive-inactive & {
			flex-basis: auto;
			flex-grow: 1;
			display: flex;
			flex-wrap: wrap;
		}
		.bt-header-responsive-inactive.primary-menu-position-logo-left &,
		.bt-header-responsive-inactive.primary-menu-position-bottom-left &,
		.bt-header-responsive-inactive.primary-menu-position-logo-right.rtl &,
		.bt-header-responsive-inactive.primary-menu-position-bottom-right.rtl & {
			justify-content: space-between;
		}
		.bt-header-responsive-inactive.primary-menu-position-logo-right &,
		.bt-header-responsive-inactive.primary-menu-position-bottom-right &,
		.bt-header-responsive-inactive.primary-menu-position-logo-left.rtl &,
		.bt-header-responsive-inactive.primary-menu-position-bottom-left.rtl & {
			justify-content: flex-end;
		}
		.bt-header-responsive-inactive.primary-menu-position-logo-center &,
		.bt-header-responsive-inactive.primary-menu-position-bottom-center & {
			justify-content: center;
			position: relative;
			.site-navigation-widgets {
				position: absolute;
				right: var(--content-padding);
			}
		}
		.bt-header-responsive-inactive.primary-menu-position-logo-center.rtl & {
			.site-navigation-widgets {
				right: auto;
				left: 0;
			}
		}
	}
	.site-branding-inner {
		.bt-header-responsive-inactive.primary-menu-position-bottom-left &,
		.bt-header-responsive-inactive.primary-menu-position-bottom-right &,
		.bt-header-responsive-inactive.primary-menu-position-bottom-center & {
			justify-content: space-between;
		}
		.bt-header-responsive-inactive.primary-menu-position-bottom-center & {
			.site-branding-logo-text {
				display: block;
				padding: 0;
				width: 100%;
				text-align: center;
				.site-branding-logo {
					display: flex;
					align-items: center;
					justify-content: center;
					.logo {
						margin: auto;
					}
				}
				.site-branding-text {
					margin: .5em 0 !important;
				}
			}
			.site-branding-widgets {
				position: absolute;
				right: var(--content-padding);
			}
		}
	}
	.site-branding-logo-text {
		.bt-header-responsive-inactive & {
			padding-right: var(--desktop-menu-gap);
		}
		.bt-header-responsive-inactive.rtl & {
			padding-right: auto;
			padding-left: var(--desktop-menu-gap);
		}
	}
	.site-branding-widgets {
		padding-right: var(--desktop-menu-gap);
		.bt-header-responsive-inactive & {
			min-height: max(var(--logo-height),var(--min-header-height));
			display: flex;
			align-items: center;
		}
		.bt-header-responsive-inactive.bt-sticky-header-active & {
			min-height: max(var(--sticky-logo-height),var(--min-header-sticky-height));
		}
		.bt-header-responsive-inactive.primary-menu-position-bottom-left &,
		.bt-header-responsive-inactive.primary-menu-position-bottom-right &,
		.bt-header-responsive-inactive.primary-menu-position-bottom-center & {
			padding-right: 0;
		}
		.bt-header-responsive-inactive.primary-menu-position-bottom-left.rtl &,
		.bt-header-responsive-inactive.primary-menu-position-bottom-right.rtl &,
		.bt-header-responsive-inactive.primary-menu-position-bottom-center.rtl & {
			padding-right: auto;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.site-navigation-widgets { 
		display: flex;
		align-items: center;
	}
	.main-navigation {
		.bt-header-responsive-inactive & {
			min-height: var(--below-logo-menu-height);
		}
		.site-navigation-widgets {
			.bt-header-responsive-inactive & {
				min-height: var(--below-logo-menu-height);
			}
		}
	}
	.main-navigation.main-navigation-logo-area {
		.bt-header-responsive-inactive & {
			min-height: max(var(--logo-height),var(--min-header-height));
		}
		.bt-header-responsive-inactive.bt-sticky-header-active & {
			min-height: auto;
			height: max(var(--sticky-logo-height),var(--min-header-sticky-height));
		}
		.site-navigation-widgets {
			.bt-header-responsive-inactive & {
				height: max(var(--logo-height),var(--min-header-height));
			}
			.bt-header-responsive-inactive.bt-sticky-header-active & {
				height: max(var(--sticky-logo-height),var(--min-header-sticky-height));
			}
		}
	}
}

/* Reverse last menu items */
$reverse-levels: 5;
@for $i from 0 through $reverse-levels {
	.primary-menu-reverse-menu-levels-#{$i}.bt-header-responsive-inactive .main-navigation nav > ul:not(.left-nav) > li:nth-last-child(-n+#{$i}):not(.bt-wide-dropdown) ul {
		left: auto;
		right: calc(var(--desktop-menu-gap) * .5 * -1);
		.touch & {
			right: calc(var(--desktop-menu-gap) * 0.3 * -1 - 0.65rem - var(--subtoggler-size));
		}
		ul {
			left: auto;
			right: var(--submenu-width);
			.touch & {
				right: var(--submenu-width);
			}
		}
	}
}
$reverse-levels: 5;
@for $i from 0 through $reverse-levels {
	.rtl.primary-menu-reverse-menu-levels-#{$i}.bt-header-responsive-inactive .main-navigation nav > ul:not(.left-nav) > li:nth-last-child(-n+#{$i}):not(.bt-wide-dropdown) ul {
		right: auto;
		left: calc(var(--desktop-menu-gap) * .5 * -1);
		.touch & {
			left: calc(var(--desktop-menu-gap) * 0.3 * -1 - 0.65rem - var(--subtoggler-size));
		}
		ul {
			right: auto;
			left: var(--submenu-width);
			.touch & {
				left: var(--submenu-width);
			}
		}
	}
}


/* Boxed header */
.site-header {
	.main-navigation {
		nav {
			.bt-header-responsive-inactive & {
				display: flex;	
			}
			.bt-header-responsive-inactive.primary-menu-position-bottom-left &,
			.bt-header-responsive-inactive.primary-menu-position-bottom-right.rtl & {
				justify-content: flex-start;
			}
			.bt-header-responsive-inactive.primary-menu-position-bottom-right &,
			.bt-header-responsive-inactive.primary-menu-position-bottom-left.rtl & {
				justify-content: flex-end;
			}
			.bt-header-responsive-inactive.primary-menu-position-bottom-center & {
				justify-content: center;
			}
		}
	}
}

$header-width: 1200, 1400, 1600, 1800;

@each $width in $header-width {
	.site-header {
		/* Header width / wide */
		.header-width-wide-boxed-#{$width}.bt-header-responsive-inactive.bt-sticky-header-inactive & {
			> .site-header-top-bar, > .site-branding, > .main-navigation {
				width: 100%;
				justify-content: space-around;
			}
			> .site-header-top-bar .site-header-top-bar-inner,
			> .site-branding .site-branding-inner,
			> .main-navigation .main-navigation-inner {
				width: 100%;
				margin: auto;
				max-width: calc(#{$width}px + var(--content-padding)*2);
			}
		}
		/* Header width / boxed */
		.header-width-boxed-boxed-#{$width}.bt-header-responsive-inactive.bt-sticky-header-inactive & {
			> .site-header-top-bar, 
			> .site-branding, 
			> .main-navigation {
				width: 100%;
				justify-content: space-around;
				max-width: calc(#{$width}px + var(--content-padding)*2);
				margin: auto;
			}
		}
		/* Sticky header width / wide */
		.sticky-header-width-wide-boxed-#{$width}.bt-header-responsive-inactive.bt-sticky-header-active & {
			> .site-header-top-bar, > .site-branding, > .main-navigation {
				width: 100%;
				justify-content: space-around;
			}
			> .site-header-top-bar .site-header-top-bar-inner,
			> .site-branding .site-branding-inner,
			> .main-navigation .main-navigation-inner {
				width: 100%;
				margin: auto;
				max-width: calc(#{$width}px + var(--content-padding)*2);
			}
		}
		/* Sticky header width / boxed */
		.sticky-header-width-boxed-boxed-#{$width}.bt-header-responsive-inactive.bt-sticky-header-active & {
			> .site-header-top-bar, 
			> .site-branding, 
			> .main-navigation {
				width: 100%;
				justify-content: space-around;
				max-width: calc(#{$width}px + var(--content-padding)*2);
				margin: auto;
			}
		}
		/* Sticky header fix and shrink width / boxed */
		.sticky-header-width-boxed-boxed-#{$width}.bt-header-responsive-inactive.sticky-style-shrink & {
			left: unset;
			right: unset;
			max-width: #{$width}px;
			width: 100%;
			margin-left: calc((100vw - #{$width}px)/2);
			margin-right: calc((100vw - #{$width}px)/2);
		}
	}

	@media (max-width: #{$width}px) {
		.site-header {
			/* Sticky header fix and shrink width / boxed */
			.sticky-header-width-boxed-boxed-#{$width}.bt-header-responsive-inactive.sticky-style-shrink & {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}


	/* Page header width / wide */
	.default-headline-width-wide-boxed-#{$width} .page-header-inner {
		width: 100%;
		margin: auto;
		max-width: calc(#{$width}px + var(--content-padding)*2);
	}
	/* Page header width / boxed */
	.default-headline-width-boxed-boxed-#{$width} {
		.page-header {
			width: 100%;
			margin: auto;
			max-width: calc(#{$width}px + var(--content-padding)*2);
		}
	}
}

