@use 'global';

/* BT Widgets 
--------------------------------------------- */
.btIconWidget {
	display: flex;
	align-items: center;
}
/* Handle first / last widget in the desktop header and responsive header */
.widget_boldthemes_icon_widget,
.widget_boldthemes_button_widget,
.widget_boldthemes_service_widget,
.widget_search,
.widget_shopping_cart,
.btIconWidget[id*=time] {
	.site-header &,
	.site-header-responsive-widgets & {
		display: inline-flex;
		&:last-child {
			padding-right: 0;
		}
		.rtl & {
			padding-right: 0;
			&:last-child {
				padding-left: 0;
			}
		}
	}
}

/* Setting for the search, cart and time widgets */
.widget_search,
.widget_shopping_cart,
.btIconWidget[id*=time] {
	.site-header &,
	.site-header-responsive-widgets & {
		padding-right: var(--widgets-icon-spacing-header);
		.rtl & {
			padding-left: var(--widgets-icon-spacing-header);
		}
	}
}

/* Settings for the icon widget */
.widget_boldthemes_icon_widget {
	.site-header &,
	.site-header-responsive-widgets & {
		padding-right: var(--widgets-icon-spacing-header);
		.bt_bb_icon {
			padding-right: 0;
			padding-left: 0;
		}
		.rtl & {
			padding-left: var(--widgets-icon-spacing-header);
		}
	}
	&.sidebar-box,
	.site-footer-widgets & {
		.bt_bb_icon {
			padding-right: 0;
			padding-left: 0;
		}
	}
}
/* Settings for the button widget */
.widget_boldthemes_button_widget {
	.site-header &,
	.site-header-responsive-widgets & {
		padding-right: var(--widgets-button-spacing-header);
		.bt_bb_button {
			margin-bottom: 0;
			.bt_bb_button_text {
				white-space: nowrap;
			}
		}
		.rtl & {
			padding-left: var(--widgets-button-spacing-header);
		}
	}
	&.sidebar-box,
	.site-footer-widgets & {
		.bt_bb_button {
			display: block;
			margin-bottom: 0;
		}
	}
}

/* Settings for the service widget */
.widget_boldthemes_service_widget {
	.site-header &,
	.site-header-responsive-widgets & {
		padding-right: var(--widgets-service-spacing-header);
		.rtl & {
			padding-left: var(--widgets-service-spacing-header);
		}
		.bt_bb_service_content_title,
		.bt_bb_service_content_text {
			white-space: nowrap;
		}
	}
}
/* Settings for the cart widget */
.widget_shopping_cart {
	.site-header &,
	.site-header-responsive-widgets & {
		display: inline-block;
	}
}

/* Special case widgets in the mobile header */
.bt-header-responsive-active .site-header {
	/* Everything that should be 100% width */
	.widget_boldthemes_icon_widget:has(.bt_bb_icon > .bt_bb_icon_holder > span),
	.widget_boldthemes_button_widget,
	.widget_boldthemes_service_widget,
	.widget_search:not(.bt-enable-fullscreen),
	.btIconWidget[id*=time] {
		width: 100%;
		margin-bottom: 1rem;
		padding-left: 0 !important;
		padding-right: 0 !important;
		display: inline-flex;
		justify-content: center;
		&:last-child {
			margin-bottom: 0;
		}
	}
	/* Button widget */
	.widget_boldthemes_button_widget {
		.bt_bb_button {
			width: 100%;
		}
	}
	/* Service and time widget - goes into column, instead of row */
	.widget_boldthemes_service_widget {
		.bt_bb_service {
			flex-direction: column;
			.bt_bb_service_content {
				text-align: center;
				padding-left: 0 !important;
				padding-right: 0 !important;
				padding-top: .5em;
			}
		}
	}
	.btIconWidget[id*=time] {
		flex-direction: column;
		.btIconWidgetContent {
			padding-left: 0 !important;
			padding-right: 0 !important;
			padding-top: .5em;
		}
	}
	/* Icon without text, cart and search that only has an icon */
	.widget_boldthemes_icon_widget,
	.widget_shopping_cart,
	.widget_search {
		display: inline-flex;
		width: auto;
		margin-bottom: 1rem;
	}
}

/* Cover the sticky override */
.site-header,
.site-header-responsive-widgets {
	.bt-sticky-header-active & {
		.widget_boldthemes_service_widget .bt_bb_service.bt_bb_has_widget_sticky_color_scheme,
		.widget_boldthemes_button_widget .bt_bb_button.bt_bb_has_widget_sticky_color_scheme,
		.widget_boldthemes_icon_widget .bt_bb_icon.bt_bb_has_widget_sticky_color_scheme {
			--primary-color: var(--widget-sticky-primary-color) !important;
			--secondary-color: var(--widget-sticky-secondary-color) !important;
		}
		.widget_shopping_cart .widgettitle .widgetcounter {
			--primary-color: var(--widget-sticky-primary-color, var(--widget-primary-color));
			--secondary-color: var(--widget-sticky-secondary-color, var(--widget-secondary-color), inherit);
		}
		.widget_search.bt-enable-fullscreen {
			--primary-color: var(--widget-sticky-primary-color, var(--widget-primary-color));
			--secondary-color: var(--widget-sticky-secondary-color, var(--widget-secondary-color), inherit);
		}
	}
	.widget_shopping_cart .widgettitle .widgetcounter {
		--primary-color: var(--widget-primary-color, inherit);
		--secondary-color: var(--widget-secondary-color, inherit);
	}
	.widget_search.bt-enable-fullscreen {
		--primary-color: var(--widget-primary-color, inherit);
		--secondary-color: var(--widget-secondary-color, inherit);
	}
}




/* Sidebar
--------------------------------------------- */
.sidebar-box {
	&:not(:last-child) { 
		margin-bottom: var(--widgets-inner-spacing); 
	}
	> h4 {
		font-size: 2em;
		margin-bottom: 0.5em;
		padding-bottom: 0em;
		display: inline-block;
		width: 100%;
	}
	h5 {
		font-size: 1.4em;
		margin-bottom: 0.35em;
	}
	select {

	}
	ul, ol {
		list-style: none;
		margin: 0;
		display: block;
		padding: 0;
		li {
			display: block;
			width: auto;
			margin: 0;
			padding: 0.8em 0;
			position: relative;
			border-bottom: 1px solid var(--primary-07-color);
			background-color: transparent !important;
			line-height: inherit;
			&:last-child {
				padding-bottom: 0;
				border-bottom: 0;
			}
			ul {
				margin: 0.8em 0 0;
				padding: 0em 0 0;
				color: inherit !important;
				border-top: 1px solid var(--primary-07-color);
				background-color: transparent !important;
				li {
					margin-left: 1em;
					.rtl & {
						padding-left: 0;
						padding-margin: 1em;
					}
				}
			}
			&:after {
				content: "";
				clear: both;
				display: block;
			}
			li:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
	}
	> ul > li:first-child {
		padding-top: 0;
	}
	p.posted, .quantity {
		margin: 0;
	}
}

/* Calendar 
--------------------------------------------- */
.widget_calendar table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 0.5em;
	caption {
		font-family: var(--heading-font);
		padding: 5px;
		background: var(--accent-color);
		color: var(--light-color);
		text-transform: var(--heading-text-transform);
	}
	thead th {
		background: var(--primary-07-color);
		text-align: center;
		padding: 3px;
	}
	tfoot {
		td {
			padding: 3px;
		}
		td#next {
			text-align: right;
		}
	}
	tbody {
		tr td {
			background: transparent;
		}
		tr td#today {
			color: var(--accent-color);
		}
		td {
			text-align: center;
			padding: 2px 3px;
		}
	}
	.wp-calendar-nav {
		display: flex;
		justify-content: space-between;
	}
}

/* Archives 
--------------------------------------------- */
.sidebar-box.widget_archive, .sidebar-box.widget_categories {
	ul li {
		text-align: right;
		.rtl & { text-align: left; }
		a {
			display: block;
			float: left;
			.rtl & { float: right; }
		}
		ul.children {
			float: left;
			width: 100%;
		}
	}
	& .fancy-select {
		ul li {
			text-align: initial;
			&:first-child {
				padding-top: 0.5em;
			}
			a {
				display: inline;
				float: none !important;
			}
		}
	}
}

/* Recent comments 
--------------------------------------------- */
.widget_recent_comments {
	.comment-author-link a {
		display: inline;
		padding: 0;	
	}
}

/* Recent posts 
--------------------------------------------- */
.widget_recent_entries {
	ul li span.post-date {
		opacity: 0.5;
	}
}

/* RSS 
--------------------------------------------- */
.widget_rss li {
	margin-bottom: 1em;
	a.rsswidget {
		font-size: 1.3rem;
		font-family: var(--heading-font);
		font-weight: var(--heading-font-weight);
		text-transform: var(--heading-text-transform);
		font-style: var(--heading-font-style);
	}
	.rss-date {
		font-size: 0.8em;
		font-family: var(--supertitle-font);
		font-weight: var(--supertitle-font-weight);
		text-transform: var(--supertitle-text-transform);
		font-style: var(--supertitle-font-style);
		margin: 0 0 1em;
		display: block;
		opacity: 0.6;
	}
	cite {
		font-size: 0.8em;
		font-family: var(--subtitle-font);
		font-weight: var(--subtitle-font-weight);
		text-transform: var(--subtitle-text-transform);
		font-style: var(--subtitle-font-style);
		line-height: 2em;
		margin-top: 0.5em;
		display: block;
		opacity: 0.6;
	}
}

/* Tags 
--------------------------------------------- */
.sidebar-box.widget_tag_cloud,
.sidebar-box.widget_tag_cloud .tagcloud,
.widget_block .tagcloud,
.widget_product_tag_cloud .tagcloud {
	a {
		margin: 0 .4rem .4rem 0;
		padding: 0;
		display: inline-flex;
		&:hover {
			color: var(--accent-color);
		}
		.rtl & {
			margin: 0 0 .4rem .4rem;
		}
	}
	&:after {
		content: " ";
		clear: both;
		display: table;
		width: 100%;
	}
}

/* Search widget 
--------------------------------------------- */
.widget_search, .widget_block {
	.wp-block-search {
		.wp-block-search__label {
			display: none;
		}
	}	
	.search-form,
	.wp-block-search__inside-wrapper {
		position: relative;
	}
	.wp-block-search__input {
		padding-right: 3em !important;
		.rtl & {
			padding-right: .8em !important;
			padding-left: 3em !important;
		}
	}
	.search-form {
		.search-field {
			padding-right: 6em !important;
			.rtl & {
				padding-right: .8em !important;
				padding-left: 6em !important;
			}
		}
	}
	input[type="submit"] {
		font-size: .75em;
		position: absolute;
		right: .6em;
		top: .6em;
		padding-right: 1.5em;
		padding-left: 1.5em;
		.rtl & {
			right: auto;
			left: .7rem;
		}
	}
	button[type="submit"] {
		border: 0;
		padding: 0;
		margin: 0;
		position: absolute;
		right: .7rem;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 200ms ease all;
		box-shadow: none !important;
		color: inherit !important;
		background: transparent !important;
		border-radius: 0;
		text-indent: -999999px;
		&:after {
			content: var(--search-widget-icon-search);
			font-family: var(--search-widget-icon-search-font);
			font-size: 1em;
			font-weight: normal;
			margin: 0 .25em;
			text-indent: 0;
		}
		&:hover {
			background: transparent !important;
			box-shadow: none !important;
			color: inherit !important;
			opacity: .6;
			transform: none;
		}
		.rtl & {
			right: auto;
			left: .7rem;
		}
	}
}
.wp-block-search .wp-block-search__input {
	color: inherit;
	border: 1px solid var(--primary-07-color);
}

/* Block widgets
--------------------------------------------- */
.wp-block-button.aligncenter, .wp-block-calendar {
	text-align: left;
}
.wp-block-calendar a {
	text-decoration: none;
}

/* Fullscreen search
--------------------------------------------- */
.widget_search {
	--widget-full-screen-enabled: off;
}
.widget_search.bt-enable-fullscreen {
	.site-header &, .site-header-responsive & {
		.bt-enable-fullscreen-open {
			color: var(--primary-color);
			transition: 280ms ease color;
			&:before {
				content: var(--search-widget-icon-open);
				font-family: var(--search-widget-icon-open-font);
				font-size: var(--search-widget-icon-open-size);
				display: block;
				cursor: pointer;
				line-height: 1;
				color: inherit;
			}
			&:hover {
				color: var(--secondary-color);
			}
		}
		.bt-enable-fullscreen-close {
			display: flex;
			position: fixed;
			right: 0rem;
			top: 2rem;
			z-index: 10001;
			opacity: 0;
			pointer-events: none;
			width: 5rem;
			height: 5rem;
			align-items: center;
			justify-content: center;
			color: var(--page-color, var(--page-primary-color));
			&:before {
				content: var(--search-widget-icon-close);
				font-family: var(--search-widget-icon-close-font);
				font-size: var(--search-widget-icon-close-size);
				line-height: 1;
				display: block;
				cursor: pointer;
			}
			.rtl & {
				right: auto;
				left: 0;
			}
		}
		.widgettitle {
			display: none;
		}
		.full-screen-wrapper {
			position: fixed;
			inset: 0;
			width: 100vw;
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0;
			pointer-events: none;
			background: var(--page-background-color, var(--page-secondary-color));
			z-index: 10000;
		}
		form.search-form {
			width: var(--search-widget-desktop-width);
			max-width: var(--search-widget-desktop-max-width);
			margin: auto;
			color: var(--page-color, var(--page-primary-color));
			flex-direction: row;
			align-items: center;
			> label {
				display: block;
				width: 100%;
				position: relative;
				z-index: 2;
				> span {
					font-family: var(--heading-font);
					font-weight: var(--heading-font-weight);
					text-transform: var(--heading-text-transform);
					font-style: var(--heading-font-style);
					font-size: 2em;
					clip: unset;
					clip-path: unset;
					height: unset;
					margin: unset;
					width: 100%;
					position: unset !important;
					display: block;
					text-align: center;
					transform: translateY(-100%);
					position: absolute !important;
					margin: 0 auto;
					padding: 0 0 .25em;
				}
				input {
					font-size: 1.5em;
				}
			}
			button {
				z-index: 2;
				&:after {
					font-size: 2.5rem;
				}
			}
		}
	}
}

.widget_search.bt-enable-fullscreen.bt-on {
	.site-header &, .site-header-responsive & {
		.bt-enable-fullscreen-close {
			opacity: 1;
			pointer-events: initial;
		}
		.full-screen-wrapper {
			opacity: 1;
			pointer-events: initial;
		}
	}
}


.widget_search.bt-enable-fullscreen {
	.bt-enable-fullscreen-open:before {
		/* Main search icon size */
		.site-header .site-branding-widgets & {
			font-size: var(--search-widget-icon-open-size);
		}
		.site-header .site-navigation-widgets & {
			.primary-menu-position-logo-left &,
			.primary-menu-position-logo-right &,
			.primary-menu-position-logo-center & {
				font-size: var(--search-widget-icon-open-size);
			}
		}
		/* Below menu search icon size */
		.site-header .site-navigation-widgets & {
			.primary-menu-position-bottom-left &,
			.primary-menu-position-bottom-right &,
			.primary-menu-position-bottom-center & {
				font-size: var(--search-widget-icon-open-size-belowmenu);
			}
		}
		/* Topbar icon size */
		.site-header-top-bar & {
			font-size: var(--search-widget-icon-open-size-topbar);
		}
		/* Responsive search icon size */
		.site-header-responsive & {
			font-size: var(--search-widget-icon-open-size-resptopbar);
		}
		/* Responsive menu search icon size */
		.bt-sidebar-responsive-active .site-header & {
			font-size: var(--search-widget-icon-open-size-respmenu);
		}
	}
}

body.bt-header-responsive-inactive.bt-fullscreen-search-widget-on {
	overflow: hidden;
	.site-header {
		.site-header-responsive-widgets,
		.site-menu-responsive-widgets {
			.widget_search.bt-enable-fullscreen .full-screen-wrapper {
				pointer-events: none;
			}
		}
	}
}
body.bt-header-responsive-active.bt-fullscreen-search-widget-on {
	.site-header {
		overflow: hidden;
		.site-navigation-widgets,
		.site-branding-widgets,
		.site-header-top-bar {
			.widget_search.bt-enable-fullscreen .full-screen-wrapper {
				pointer-events: none;
			}
		}
	}
	.site-header-responsive {
		.site-header-responsive-trigger {
			opacity: 0;
			pointer-events: none;
		}
	}
}

body.bt-header-responsive-active.responsive-menu-position-right.bt-fullscreen-search-widget-on {
	overflow: hidden;
	.site-header {
		overflow: visible;
		z-index: 11;
	}
}
body.bt-header-responsive-active.responsive-menu-position-left.bt-fullscreen-search-widget-on {
	overflow: hidden;
	.site-header {
		overflow: visible;
		z-index: 11;
		.bt-enable-fullscreen-close {
			margin-right: calc((100vw - var(--responsive-menu-max-width)) * -1);
		}
	}
}
body.rtl.bt-header-responsive-active.responsive-menu-position-right.bt-fullscreen-search-widget-on {
	overflow: hidden;
	.site-header {
		overflow: visible;
		z-index: 11;
		.bt-enable-fullscreen-close {
			margin-left: calc((100vw - var(--responsive-menu-max-width)) * -1);
		}
	}
}
body.rtl.bt-header-responsive-active.responsive-menu-position-left.bt-fullscreen-search-widget-on {
	overflow: hidden;
	.site-header {
		overflow: visible;
		z-index: 11;
		.full-screen-wrapper {
			margin-right: calc((100vw - var(--responsive-menu-max-width)) * -1);
		}
	}
}
body.bt-header-responsive-active.responsive-menu-position-right.bt-fullscreen-search-widget-on {
	overflow: hidden;
	.site-header {
		overflow: visible;
		z-index: 11;
		.full-screen-wrapper {
			margin-left: calc((100vw - var(--responsive-menu-max-width)) * -1);
		}
	}
}


/* BB Recent Comments 
--------------------------------------------- */
.sidebar-box.widget_bt_bb_recent_comments {
	h5 {
		font-size: 1.125em;
		margin-bottom: 0;
	}
	.posted {
		opacity: 0.6;
	}
}

/* Text widget
----------------------------------------------*/
.btImageTextWidgetWraper {
	ul li {
		.btImageTextWidget {
			display: flex;
			align-items: center;
			&:not(:last-child) {
				margin-bottom: 0.5em;
			}
			.btImageTextWidgetImage {
				flex: 0 0 30%;
				padding-right: 10px;
				max-width: 80px;
				.rtl & {
					padding-right: 0;
					padding-left: 10px;
				}
				a {
					display: block;
					line-height: 0;
					img {
						margin: 0;
						max-width: 100%;
						width: 100%;
						height: auto;
					}
				}
			}
			.btImageTextWidgetText {
				flex: 0 0 70%;
				overflow: hidden;
				.bt_bb_headline_tag {
					font-size: 1.125em;
				}
				.bt_bb_headline_content span {
					a:hover {
						color: var(--accent-color);
					}
				}
			}
		}
	}
}

/* Time widget
--------------------------------------------- */
.btIconWidget[id*="time"] {
	display: inline-flex;
	max-width: 100%;
	justify-content: space-between;
	align-content: flex-start;
	flex-flow: row nowrap;
	.btIconWidgetIcon {
		order: 1;
		.bt_bb_icon_holder {
			line-height: 1;
			display: block;
		}
	}
	.btIconWidgetContent {
		flex: 1 1 auto;
		order: 2;
		padding: 0 0 0 .5em;
		display: block;
		.rtl & {
			padding: 0 .5em 0 0;
		}
		.btIconWidgetTitle {
			font-size: 1em;
			font-family: var(--supertitle-font);
			font-style: var(--supertitle-font-style);
			font-weight: var(--supertitle-font-weight);
			text-transform: var(--supertitle-text-transform);	
			line-height: 1.2;
			display: block;
		}
		.btIconWidgetText {
			font-size: 1.125em;
			font-weight: var(--heading-font-weight);
			line-height: 1.1;
			padding-top: 0.1em;
			display: block;
		}
	}
	
	/* Icon size variations */
	.widget-area & {
		margin-bottom: var(--widgets-inner-spacing);
		.btIconWidgetIcon {
			font-size: var(--time-widget-icon-size);
		}
	}
	.site-header .site-branding-widgets & {
		.btIconWidgetIcon {
			font-size: var(--time-widget-icon-size);
		}
	}
	.site-header .site-navigation-widgets & {
		.primary-menu-position-logo-left &,
		.primary-menu-position-logo-right &,
		.primary-menu-position-logo-center & {
			.btIconWidgetIcon {
				font-size: var(--time-widget-icon-size);
			}
		}
	}
	/* Below menu search icon size */
	.site-header .site-navigation-widgets & {
		.primary-menu-position-bottom-left &,
		.primary-menu-position-bottom-right &,
		.primary-menu-position-bottom-center & {
			.btIconWidgetIcon {
				font-size: var(--time-widget-icon-size-belowmenu);
			}
		}
	}
	/* Topbar icon size */
	.site-header-top-bar & {
		.btIconWidgetIcon {
			font-size: var(--time-widget-icon-size-topbar);
		}
		.btIconWidgetContent {
			display: flex;
			.btIconWidgetTitle,
			.btIconWidgetText {
				line-height: 1.1;
				font-size: 1em;
				font-style: normal;
				font-weight: normal;
				padding: 0;
			}
			&:after {
				content: "";
				display: block;
				width: .3em;
				order: 2;
			}
			.btIconWidgetTitle {
				order: 1;
			}
			.btIconWidgetText {
				order: 3;
				opacity: .6;
			}
		}
	}
	/* Responsive search icon size */
	.site-header-responsive & {
		.btIconWidgetIcon {
			font-size: var(--time-widget-icon-size-resptopbar);
		}
	}
	.bt-sidebar-responsive-active .site-header & {
	/* Responsive menu search icon size */
		.btIconWidgetIcon {
			font-size: var(--time-widget-icon-size-respmenu);
		}
	}
}

/* Service widget
--------------------------------------------- */
.widget_boldthemes_service_widget {
	.site-header-top-bar & {
		.bt_bb_service {
			align-items: center;
			.bt_bb_service_content {
				display: flex;
				.bt_bb_service_content_title,
				.bt_bb_service_content_text {
					line-height: 1.1;
					font-size: 1em;
					font-style: normal;
					font-weight: normal;
					padding: 0;
				}
				&:after {
					content: "";
					display: block;
					width: .3em;
					order: 2;
				}
				.bt_bb_service_content_title {
					order: 1;
				}
				.bt_bb_service_content_text {
					order: 3;
					opacity: .6;
				}
			}
		}
	}
}

/* Shopping cart
--------------------------------------------- */
.site-header, .site-header-responsive {
	.widget_shopping_cart {
		.widget_shopping_cart_content {
			display: none;
			background: var(--page-background-color, var(--page-secondary-color));
			color: var(--page-color, var(--page-primary-color));
		}
		&.bt-on {
			.widget_shopping_cart_content {
				display: block;
			}
		}
		.widgettitle {
			padding: 0;
			text-indent: -99999px;
			position: relative;
			display: inline-flex;
			align-items: center;
			font-weight: normal;
			.widgetcounter {
				text-indent: 0;
				display: inline-flex;
				align-items: center;
				color: var(--primary-color);
				transition: 280ms ease color;
				&:before {
					font-family: var(--woo-cart-widget-icon-font);
					content: var(--woo-cart-widget-icon);
					margin: 0 .1em 0 0;
					line-height: 1;
					.rtl & {
						margin: 0 0 0 .1em;
					}
				}
				&:hover {
					color: var(--secondary-color);
				}
			}
		}
	}
}

/* Cart wiget in responsive menu */
.site-header {
	.bt-header-responsive-active & {
		.widget_shopping_cart {
			.widgettitle {
				.widgetcounter {
					&:after {
						content: var(--woo-cart-widget-icon-close);
						font-family: var(--woo-cart-widget-icon-close-font);
						font-size: var(--woo-cart-widget-icon-close-size);
						display: block;
						position: fixed;
						top: calc(var(--woo-cart-widget-responsive-padding) / 2);
						left: 50%;
						transform: translateX(-50%);
						z-index: 100000;
						opacity: 0;
						pointer-events: none;
						color: var(--page-color, var(--page-primary-color));
					}
				}
			}
			.widget_shopping_cart_content {
				position: fixed;
				inset: 0;
				z-index: 99999;
				padding: calc(var(--woo-cart-widget-responsive-padding) + var(--woo-cart-widget-icon-close-size)*2) var(--woo-cart-widget-responsive-padding) var(--woo-cart-widget-responsive-padding);
			}
			&.bt-on {
				.widgettitle {
					.widgetcounter {
						&:after {
							opacity: 1;
							pointer-events: initial;
						}
					}
				}
			}
		}
	}
}

.widget_shopping_cart {
	.widgettitle {
		.widgetcounter {
			&:before {
				/* Main icon cart size */
				.site-header .site-branding-widgets & {
					font-size: var(--woo-cart-widget-icon-size);
				}
				.site-header .site-navigation-widgets & {
					.primary-menu-position-logo-left &,
					.primary-menu-position-logo-right &,
					.primary-menu-position-logo-center & {
						font-size: var(--woo-cart-widget-icon-size);
					}
				}
				/* Below menu cart icon size */
				.site-header .site-navigation-widgets & {
					.primary-menu-position-bottom-left &,
					.primary-menu-position-bottom-right &,
					.primary-menu-position-bottom-center & {
						font-size: var(--woo-cart-widget-icon-size-belowmenu);
					}
				}
				/* Topbar icon size */
				.site-header-top-bar & {
					font-size: var(--woo-cart-widget-icon-size-topbar);
				}
				/* Responsive cart icon size */
				.site-header-responsive & {
					font-size: var(--woo-cart-widget-icon-size-resptopbar);
				}
				/* Responsive menu cart icon size */
				.bt-sidebar-responsive-active .site-header & {
					font-size: var(--woo-cart-widget-icon-size-respmenu);
				}
			}
		}
	}
}

/* Cart position depending of responsive and desktop menu position nad RTL */
.widget_shopping_cart {
	.widget_shopping_cart_content {
		.bt-header-responsive-inactive .site-header &,
		.bt-header-responsive-active .site-header-responsive & {
			position: absolute;
			padding: var(--woo-cart-widget-padding);
			right: 0;
			width: var(--woo-cart-widget-width);
			box-shadow: var(--woo-cart-widget-shadow);
			z-index: 99999;
		}
		.bt-header-responsive-inactive .site-header & {
			max-height: calc(90vh - max(var(--logo-height), var(--sticky-logo-height)));
			overflow-y: auto;
		}
		.bt-header-responsive-active .site-header-responsive & {
			max-height: calc(85vh - max(var(--responsive-logo-height), var(--responsive-sticky-logo-height)));
			overflow-y: auto;
		}
		.responsive-logo-position-left.responsive-trigger-position-left.rtl .site-header-responsive &,
		.responsive-logo-position-center.responsive-trigger-position-left.rtl .site-header-responsive &,
		.responsive-logo-position-left.responsive-trigger-position-right.rtl .site-header-responsive & {
			right: 0;
			left: auto;
		}
		.responsive-logo-position-right.responsive-trigger-position-left .site-header-responsive &,
		.responsive-logo-position-center.responsive-trigger-position-right .site-header-responsive &,
		.responsive-logo-position-right.responsive-trigger-position-right .site-header-responsive & {
			left: 0;
			right: auto;
		}
		.bt-header-responsive-inactive .site-header .site-header-top-bar-inner-left & {
			right: auto;
			left: 0;
		}
		.rtl.bt-header-responsive-inactive .site-header .site-header-top-bar-inner-left & {
			right: 0;
			left: auto;
		}
		.rtl.bt-header-responsive-inactive .site-header &,
		.rtl.bt-header-responsive-active .site-header-responsive & {
			right: auto;
			left: 0;
		}
	}
	.bt-header-responsive-inactive .site-header &,
	.bt-header-responsive-active .site-header-responsive & {
		position: relative;
	}
}
