/* Custom Select
/* ------------------------- */

/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: $left;
	background: #fff;
	z-index: 100;
	width: 100%;
	user-select: none;

	&:focus {
		outline: none; /* For better accessibility add a style for this in your skin */
	}
}

.cs-select {

	select {
		display: none;
	}

	span {
		display: block;
		position: relative;
		cursor: pointer;
		padding: side-values($filter-padding-top-sm 24px $filter-padding-bottom-sm 24px);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@media (min-width: 992px) {
			padding-top: $filter-padding-top;
			padding-bottom: $filter-padding-bottom;
		}
	}

	/* Placeholder and selected option */
	> span {
		padding-#{$right}: 3em;
	}

	> span::after {
		speak: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		content: $filter-caret;
		#{$right}: 23px;
		display: block;
		font-size: 10px;
		line-height: 1.2em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: "Font Awesome 5 Free";
		font-weight: 700;
		font-style: normal;
		color: $filter-caret-color;
		transition: transform 0.2s ease;
	}

	&.cs-active {

		> span::after {
			transform: translateY(-50%) rotate(180deg);
		}
	}

	/* Options */
	.cs-options {
		position: absolute;
		overflow: hidden;
		background: $filter-dropdown-bg;
		visibility: hidden;
		#{$left}: 0;
		#{$right}: 0;
		width: 100%;
	}

	&.cs-active .cs-options {
		visibility: visible;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 10px 0;
		width: 100%;
	}

	ul span {
		padding: 1em;
	}

	ul li.cs-focus span {
		background-color: #ddd;
	}

	/* Optgroup and optgroup label */
	li.cs-optgroup ul {
		padding-#{$left}: 1em;
	}

	li.cs-optgroup > span {
		cursor: default;
	}
}

div.cs-active {
	z-index: 200;
}

/* Skin */
div.cs-skin-border {
	background: transparent;
	@include font-accent($filter-title-font-size);
	text-transform: unset;

	> span {
		border-#{$left}: 1px solid $filter-border;
		border-#{$right}: 1px solid $filter-border;
		border-bottom: none;
		border-top: none;
		color: $filter-color;
		transition: background 0.2s, border-color 0.2s;
	}

	ul span::after {
		content: "";
		opacity: 0;
	}

	.cs-placeholder {
		font-style: $filter-placeholder-font-style;
		text-transform: uppercase;
	}

	.cs-selected span {
		color: $filter-dropdown-color-hover;
	}

	&.cs-active > span {
		color: $filter-color;
		background-color: $filter-active;
	}

	.cs-options {
		border-#{$left}: 1px solid $filter-dropdown-border;
		border-#{$right}: 1px solid $filter-dropdown-border;
		border-bottom: 1px solid $filter-dropdown-border;
		color: $filter-dropdown-color;
		font-size: $filter-dropdown-font-size;
		font-style: $filter-dropdown-font-style;
		opacity: 0;
		transition: opacity 0.2s, visibility 0s 0.2s;

		ul li {
			text-transform: uppercase;
		}
	}

	&.cs-active .cs-options {
		opacity: 1;
		-webkit-transition: opacity 0.2s;
		transition: opacity 0.2s;
	}

	ul span {
		padding: 5px 24px;
		backface-visibility: hidden;
		transition: color 0.2s ease;
	}

	.cs-options li span:hover,
	li.cs-focus span {
		color: $filter-dropdown-color-hover;
	}
}
