/*
// #Social Links
// --------------------------------------------------
*/

.social-links {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
	.social-links__item {
		display: inline-block;
		vertical-align: middle;
		font-size: 9px;
		text-transform: uppercase;
		font-family: $font-family-accent;
		margin-#{$right}: 12px;

		.fa,
		.fab,
		svg {
			font-size: 12px;
			margin-#{$right}: 5px;
			transition: color 0.2s ease;
			color: $color-primary;

			.header & {
				color: $header-social-link-color;
			}

			.footer & {
				color: $footer-contact-info-social-icon-color;
			}
		}

		svg {
			fill: $color-primary;

			.header & {
				fill: $header-social-link-color;
			}

			.footer & {
				fill: $footer-contact-info-social-icon-color;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}
		.social-links__link {
			display: inline-block;
			color: $footer-contact-info-social-link-color;
			transition: color 0.2s ease;

			.header &:hover {

				.fa,
				.fab {
					color: $header-social-link-color-hover;
				}
			}

			.footer &:hover {
				color: $footer-contact-info-social-link-color-hover;

				.fa,
				.fab {
					color: $footer-contact-info-social-icon-color-hover;
				}
			}
		}

// Social Links in Main Nav
.social-links--main-nav {
	display: inline-block;
	padding-#{$left}: 30px;

	.social-links__item {
		margin-#{$right}: 19px;

		@media (min-width: 992px) and (max-width: 1199px) {
			margin-#{$right}: 10px;
		}
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		padding-#{$left}: 30px;
	}

	.social-links__link--svg {

		svg {
			display: inline-block;
			width: 14px;
			height: 18px;
			line-height: 18px;
			vertical-align: top;
		}
	}
}

// Social Links in the Top Bar
.social-links--top-bar {
	padding-#{$left}: 0;

	.social-links__item {
		margin-#{$right}: 20px;

		.fa,
		.fab,
		svg {
			font-size: 16px;
			opacity: calc($top-bar-social-icon-opacity / 100);
		}
	}
		.social-links__link {

			.fa,
			.fab {
				color: $top-bar-social-icon-color;
			}

			&:hover {

				.fa,
				.fab {
					opacity: 1;
					color: $top-bar-social-icon-color-hover;
				}
			}
		}

		.social-links__link--svg {

			svg {
				fill: $top-bar-social-icon-color;
			}

			&:hover {

				svg {
					opacity: 1;
					fill: $top-bar-social-icon-color-hover;
				}
			}
		}
}

// Social Links Buttons
.social-links--btn {

	.social-links__item {
		margin: 0;
	}
		.social-links__link {
			display: inline-block;
			width: 26px;
			height: 26px;
			line-height: 26px;
			text-align: center;
			color: #fff;
			border-radius: 2px;
			font-size: 12px;
			margin: 0 2px;
			transition: opacity 0.2s ease-in-out;

			&:hover {
				opacity: 0.8;

				.fa,
				.fab {
					color: #fff;
				}
			}

			.fa,
			.fab {
				margin: 0;
			}
		}

		.social-links__link--lg {
			width: 32px;
			height: 32px;
			line-height: 32px;
			margin: 0 6px;
		}

		// Set white icon color if icon is boxed
		[class*="social-links__link--"] {

			> .fa,
			> .fab {
				color: #fff;
			}
		}

		// Facebook
		.social-links__link--fb {
			background-color: #4d6baa;
		}
		// Twitter
		.social-links__link--twitter {
			background-color: #3fcef2;
			color: #fff;
		}
		// Linkedin
		.social-links__link--linkedin {
			background-color: #0077B5;
		}
		// VK
		.social-links__link--vk {
			background-color: #6383A8;
		}
		// Odnoklassniki
		.social-links__link--ok {
			background-color: #F4731C;
		}
		// WhatsApp
		.social-links__link--whatsapp {
			background-color: #25D366;
		}
		// Viber
		.social-links__link--viber {
			background-color: #7C529E;

			img {
				width: 12px;
				height: auto;
			}
		}
		// Telegram
		.social-links__link--telegram {
			background-color: #2CA5E0;
		}
		// Email, Site
		.social-links__link--mail,
		.social-links__link--site {
			background-color: $color-gray;
		}

	&.social-links--btn-block {

		.social-links__item {
			display: inline;
		}

			.social-links__link {
				display: block;
				width: 100%;
				padding-#{$left}: 0;
				padding-#{$right}: 0;
				margin-bottom: 12px;
				font-size: 9px;
				height: 24px;
				line-height: 24px;
			}
	}
}

// Social Links Circle
.social-links--circle {

	.social-links__item {
		margin-#{$right}: 20px;

		@media (min-width: 992px) {
			margin-#{$right}: 10px;
		}

		@media (min-width: 1200px) {
			margin-#{$right}: 24px;
		}

		&:last-child {
			margin-#{$right}: 0;
		}
	}
		.social-links__link {
			border: 2px solid rgba($body-font-color, 0.4);
			border-radius: 50%;
			width: 34px;
			height: 34px;
			text-align: center;
			transition: border-color 0.3s ease;
			vertical-align: top;

			.fa,
			.fab {
				margin-#{$right}: 0;
				font-size: 14px;
				line-height: 30px;
			}

			svg {
				display: inline-block;
				width: 14px;
				height: 30px;
				margin-#{$right}: 0;
			}

			&:hover {
				border-color: $color-4;

				.fa,
				.fab {
					color: #fff;
				}

				svg {
					fill: #fff;
				}
			}
		}
}


// Social Links Circle Filled
.social-links--circle-filled {

	.social-links__item {
		margin-#{$right}: 10px;

		@media (min-width: 992px) {
			margin-#{$right}: 10px;
		}

		@media (min-width: 1200px) {
			margin-#{$right}: 18px;
		}

		&:last-child {
			margin-#{$right}: 0;
		}
	}
		.social-links__link {
			border-radius: 50%;
			width: 40px;
			height: 40px;
			text-align: center;
			transition: opacity 0.3s ease;
			vertical-align: top;

			&::before {
				color: #fff;
				margin-#{$right}: 0;
				font-size: 14px;
				line-height: 40px;
			}

			&:hover {
				opacity: .8;

				&::before {
					color: #fff;
				}
			}
		}
}

.social-links--circle-filled-sm {

	.player-info-details__item--social-links & {
		padding-top: 4px;
	}

	.social-links__item {
		margin-#{$right}: 5px;

		@media (min-width: 992px) {
			margin-#{$right}: 5px;
		}

		@media (min-width: 1200px) {
			margin-#{$right}: 9px;
		}

		&:last-child {
			margin-#{$right}: 0;
		}
	}
		.social-links__link {
			width: 24px;
			height: 24px;
			line-height: 24px;

			&::before {
				font-size: 12px;
				line-height: 24px;
			}
		}
}


// Adds icon and color based on URL
.social-link-url {

	&::before {
		content: "";
		margin-#{$right}: 0;
		text-rendering: auto;
		font-family: 'Font Awesome 5 Free';
		font-weight: 700;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	/* Default link icon - keep this icon first */
	&[href*="http"],
	&[href*="#"] {
		background-color: rgba(0,0,0,.1);

		&::before {
			content: "\f0c1";
		}
	}

	/* Amazon */
	&[href*="amazon."] {
		background-color: #ff9900;

		&::before {
			content: "\f270";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 700;
		}
	}

	/* Behance */
	&[href*="behance.net"],
	&[href*="be.net"] {
		background-color: #1769ff;

		&::before {
			content: "\f1b4";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Bitbucket */
	&[href*="bitbucket.org"] {
		background-color: #205081;

		&::before {
			content: "\f171";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Delicious */
	&[href*="del.icio.us"] {
		background-color: #3399ff;

		&::before {
			content: "\f1a5";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Dribbble */
	&[href*="dribbble.com"] {
		background-color: #ea4c89;

		&::before {
			content: "\f17d";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Digg */
	&[href*="digg.com"] {
		background-color: #005be2;

		&::before {
			content: "\f1a6";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Etsy */
	&[href*="etsy.com"] {
		background-color: #d5641c;

		&::before {
			content: "\f2d7";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Facebook */
	&[href*="facebook.com"] {
		background-color: $social-facebook;

		&::before {
			content: "\f09a";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Faceit */
	&[href*="faceit.com"] {
		background-color: #FF5500;

		&::before {
			display: none;
		}

		&::after {
			content: "";
			display: inline-block;
			width: 14px;
			height: 40px;
			line-height: 40px;
			background-image: url("../../assets/images/icon-faceit.svg");
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 14px auto;
		}
	}

	/* Flickr */
	&[href*="flickr.com"] {
		background-color: #ff1981;

		&::before {
			content: "\f16e";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Foursquare */
	&[href*="foursquare.com"] {
		background-color: #f94877;

		&::before {
			content: "\f180";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Github*/
	&[href*="github.com"] {
		background-color: #333;

		&::before {
			content: "\f09b";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Gitlab */
	&[href*="gitlab.com"] {
		background-color: #554488;

		&::before {
			content: "\f296";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* IMDb */
	&[href*="imdb.com"] {
		background-color: #f5de50;

		&::before {
			content: "\f2d8";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Instagram */
	&[href*="instagram.com"] {
		background-color: $social-instagram;

		&::before {
			content: "\f16d";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* LinkedIn */
	&[href*="linkedin.com"] {
		background-color: $social-linkedin;

		&::before {
			content: "\f0e1";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Medium */
	&[href*="medium.com"] {
		background-color: #00ab6c;

		&::before {
			content: "\f23a";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Paypal */
	&[href*="paypal.com"] {
		background-color: #003087;

		&::before {
			content: "\f1ed";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Pinterest */
	&[href*="pinterest.com"] {
		background-color: #bd081c;

		&::before {
			content: "\f231";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Quora */
	&[href*="quora.com"] {
		background-color: #a82400;

		&::before {
			content: "\f2c4";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Reddit */
	&[href*="reddit.com"] {
		background-color: #ff4500;

		&::before {
			content: "\f281";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Slack */
	&[href*="slack.com"] {
		background-color: #3eb991;

		&::before {
			content: "\f198";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Soundcloud */
	&[href*="soundcloud.com"] {
		background-color: #ff8800;

		&::before {
			content: "\f1be";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Spotify */
	&[href*="spotify.com"] {
		background-color: #1db954;

		&::before {
			content: "\f1bc";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Snapchat */
	&[href*="snapchat.com"] {
		background-color: #fffc00;

		&::before {
			content: "\f2ac";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Stack Overflow */
	&[href*="stackoverflow.com"] {
		background-color: #f48024;

		&::before {
			content: "\f16c";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Steam */
	&[href*="steamcommunity.com"] {
		background-color: #171A21;

		&::before {
			content: "\f1b6";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* StumbleUpon */
	&[href*="stumbleupon.com"] {
		background-color: #eb4924;

		&::before {
			content: "\f1a4";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Tripadvisor */
	&[href*="tripadvisor.com"] {
		background-color: #00af87;

		&::before {
			content: "\f262";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Tumblr */
	&[href*="tumblr.com"] {
		background-color: #35465c;

		&::before {
			content: "\f173";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Twitch */
	&[href*="twitch.tv"] {
		background-color: $social-twitch;

		&::before {
			content: "\f1e8";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Twitter */
	&[href*="twitter.com"] {
		background-color: $social-twitter;

		&::before {
			content: "\f099";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Vimeo */
	&[href*="vimeo.com"] {
		background-color: #1ab7ea;

		&::before {
			content: "\f194";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Weibo */
	&[href*="weibo.com"] {
		background-color: #df2029;

		&::before {
			content: "\f18a";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Wikipedia */
	&[href*="wikipedia.org"] {
		background-color: #000000;

		&::before {
			content: "\f266";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Wordpress */
	&[href*="wordpress.org"],
	&[href*="wordpress.com"]{
		border-color: #21759b;

		&::before {
			content: "\f19a";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Xing */
	&[href*="xing.com"] {
		background-color: #026466;

		&::before {
			content: "\f168";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Yahoo */
	&[href*="yahoo.com"] {
		background-color: #410093;

		&::before {
			content: "\f19e";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Youtube */
	&[href*="youtube.com"] {
		background-color: $social-youtube;

		&::before {
			content: "\f167";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* Mixer */
	&[href*="mixer.com"] {
		background-color: #002050;

		&::before {
			content: "\f956";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* VK */
	&[href*="vk.com"],
	&[href*="vkontakte.com"] {
		background-color: $social-vk;

		&::before {
			content: "\f189";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}

	/* OK */
	&[href*="ok.ru"] {
		background-color: $social-odnoklassniki;

		&::before {
			content: "\f263";
			font-family: 'Font Awesome 5 Brands';
			font-weight: 400;
		}
	}
}
