/* Post Filter
/* ------------------------- */
.post-filter {
	background-color: $filter-bg;
	border-bottom: 1px solid $filter-border;
}

	// Select
		.post-filter__select {

			.post-filter__label {
				font-family: $font-family-accent;
				color: $filter-label-color;
			}
		}


// Boxed
.post-filter--boxed {
	background-color: transparent;
	border-bottom: 0;

	.post-filter__form {
		background-color: $filter-bg;
		border: 1px solid $filter-border;
		border-radius: $card-border-radius;

		.post-filter__select:first-child {
			border-top-#{$left}-radius: $card-border-radius;
			border-bottom-#{$left}-radius: $card-border-radius;
		}
	}

	.cs-select {

		.cs-options {
			border-top: 1px solid $filter-border;

			// top arrow border
			&::before {
				border-bottom: 8px solid $filter-border;
			}

			// top arrow bg
			&::after {
				border-bottom: 7px solid $filter-bg;
			}
		}
	}

	// Submit
	.post-filter__submit {

		.btn {
			border-bottom-#{$left}-radius: $card-border-radius;
			border-bottom-#{$right}-radius: $card-border-radius;

			@media (min-width: 992px) {
				border-bottom-#{$left}-radius: 0;
				border-top-#{$right}-radius: $card-border-radius;
			}
		}
	}
}
