/* Single Post
/* ------------------------- */
.post--single {

	.post__tags--simple {

		a {
			color: $headings-color;
			font-family: $font-family-accent;

			&::before {
				color: $color-primary;
			}

			&:hover {
				color: $link-color-hover;
			}
		}
	}
}

// Post Single - Small
.post--single-sm {

	.post__meta {

		.meta__item--date {
			color: $headings-color;
		}
	}
}
