@import 'oldsite/fonts_roboto';
@import 'oldsite/bootstrap';
@import 'oldsite/select2';
@import 'oldsite/owl';
@import 'oldsite/fancybox';
@import 'oldsite/animate';
@import 'oldsite/splash-icons';
@import 'oldsite/skin-custom';
@import 'oldsite/splash';
@import 'oldsite/form-basic';
@import 'oldsite/js_composer';
@import 'fonts/font_fontawesome';

#main {
  padding: 0 !important;
}

.vc_custom_1462188886536 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;

  background-color: #f0f0f0 !important;
}

.vc_custom_1480096154746 {
  margin-top: 40px !important;
  margin-bottom: 42px !important;
}

.vc_custom_1476628522539 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.vc_custom_1476626466570 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.vc_custom_1476628266511 {
  background-color: rgba(10, 10, 10, .4) !important;

  *background-color: rgb(10, 10, 10) !important;
}

.vc_custom_1476628284054 {
  background-color: rgba(0, 0, 0, .4) !important;

  *background-color: rgb(0, 0, 0) !important;
}

.stm-header {
  .stm-main-menu {
    .stm-main-menu-unit {
      .header-menu {
        li {
          a {
            line-height: 3.4;

            padding: 15px;
          }
        }
      }
    }
  }
}
.stm-header {
  .stm-main-menu {
    .stm-main-menu-unit {
      .header-menu {
        .sub-menu {
          width: 300px;
        }
      }
    }
  }
}
.sidebar {
  #categories-2 {
    h6 {
      display: none;
    }
  }
}

.player-card {
  height: 280px;
  margin-top: 50px;

  background-color: #323232;
}
.player-name {
  width: 400px;
}
.player-pic {
  position: absolute;
  top: 30px;
  left: 80px;

  width: 130px;
}
.player-picture {
  width: 23%;
}
.description {
  font-size: 28px;

  padding-top: 30px;
  padding-right: 8px;
  padding-left: 0;

  text-transform: uppercase;

  color: white;
}
.stats-bar {
  float: left;

  width: 380px;
  height: 30px;
  margin-top: 25px;

  border-radius: 2px;
  background-color: #e8e8e0;
}
.games,
.tds,
.yards {
  font-size: 15px;
  line-height: 2;

  float: left;

  margin-top: 0;
  margin-left: 20px;
  padding-right: 23px;

  text-transform: none;

  color: #111;
}
.games,
.tds {
  height: 100%;

  border-right: 1px solid #434343;
}



.born,
.nationality,
.team,
.height-weight,
.position {
  font-size: 12px;

  color: #878787;
  span {
    color: #fff;
  }
}
.current-team {
  height: 100%;
  margin-left: 100px;
  padding-top: 16px;
  padding-left: 75px;

  background-color: #434343;
  img {
    width: 250px;
    height: 250px;

    background-size: cover;
  }
}
.socials {
  font-size: 24px;

  padding-top: 20px;

  color: #fff;
  a {
    color: #fff;
  }
}
.fa-facebook-official,
.fa-vk,
.fa-instagram,
.fa-twitter {
  z-index: 1;

  padding-right: 5px;
}
.fa-vk {
  &:hover {
    color: #45668e;
  }
}
.fa-facebook-official {
  &:hover {
    color: #3b5998;
  }
}
.fa-instagram {
  &:hover {
    color: #fcaf45;
  }
}
.fa-twitter {
  &:hover {
    color: #aab8c2;
  }
}
.short-bio {
  p {
    padding-top: 10px;
  }
  h3 {
    padding-top: 10px;
  }
}
.team-card {
  height: 280px;
  margin-top: 50px;

  background-color: #323232;
}
.team-background-image {
  width: 1200px;
  height: 280px;

  opacity: 1;
  background-color: #323232;
  background-position: 190px;
}
.team-picture {
  z-index: 10;

  height: 280px;
}
td {
  text-align: center;
}
.left-bg-block {
  width: 45%;
  height: 100%;
  min-height: 545px;

  background-color: #d9d9d9;
}
.right-bg-block {
  float: left;

  width: 55%;
  height: 100%;
  min-height: 545px;
  padding: 0;

  background-color: #525252;
}
.team-sign {
  font-size: 30px;

  margin-top: 50px;

  text-transform: uppercase;

  color: white;
  text-align: center;
}
.team-list {
  float: left;

  box-sizing: border-box;
  width: 50%;
  height: 100%;
  margin-top: 55px;
  margin-bottom: 50px;
  li {
    cursor: pointer;
    float: left;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 4px;
    padding: 4px;

    border: 1px solid transparent;
    &:before{
      background-color: #d9d9d9;
    }
    &:hover,
    &.active {
      border: 1px solid #fff;
      span {
        background-color: #fff;
      }
    }
    span {
      font-size: 16px;
      line-height: 27px;

      display: block;
      float: left;

      box-sizing: border-box;
      width: 100%;
      padding-left: 46px;

      color: #201600;
    }
  }
}
.person-image {
  width: 100%;
  height: 100%;
  img {
    height: 545px;
  }
  .person-info {
    position: absolute;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    padding: 20px;

    text-align: center;
    /* bottom: 0px; */

    background-color: rgba(32,22,0,.5);
    bottom: -5px;
    color:#fff;
    .person-name{
      float: left;
    margin-bottom: 17px;
    width: 100%;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    }
    .person-role{
          width: 100%;
    margin-bottom: 17px;
    float: left;
    font-size: 20px;
    color: #ffffff;
    }
    .person-description{
      float: left;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    }
  }
}
.team-colors{
float: left;


  .first-color{
    background-color: red;
    height: 20px;
  width: 20px;
  }
  .second-color{
    background-color: white;
    height: 20px;
  width: 20px;
  }
  .third-color{
    background-color: black;
    height: 20px;
  width: 20px;
  }
}
.games{
  audio{

  }
}
.team-anthem{
 font-size: 15px;
 margin-top: 15px;
}
.colors{
  height: 20px;
  padding-left: 17px;
   span{
      height: 25px;
      width: 25px;
      display: inline-block;

    }
}
.first-color,.second-color,.third-color{
    width: 25px;
    height: 25px;
    background-color: red;
    float: left;
    margin-left:11px;

}
.fotorama{
  width: auto;

}
.home{
  padding-bottom: 0;
}
.logo-main{
  img{

    height: 95px;
    margin-top: 22px;
    margin-left: 25px;
  }
}
.slide{

  width: 400px;
}
.pagination{
.page-numbers{
    margin: 0 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;
    display: inline-block;
    min-width: 45px;
    min-height: 45px;
    text-align: center;
    text-decoration: none!important;
    color: #bfbfbf;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    &:hover{
    color: #fff;
    border-color: #00529b;
    background-color: #00529b;
    }
}
.current{
  color: #fff;
    border-color: #00529b;
    background-color: #00529b;
}
}
.filters-select{
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
.team-table-position{
  h3{
    margin-top: 5px;
  }
}

.grid-item{
  z-index:-1;

}
.results{
  h2{
    font-size: 55px;
    margin-top: 15px;
    &:after{
      position: relative;
      content: '';
      display: block;
      width: auto;
      height: 1px;
      background-color: grey;
      margin-top: 20px;
    }
  }
}
.photo-title{
    text-align: center;
    font-size: 32px;
    padding: 19px;
    text-decoration: none;
    color: black;
    &:hover{
      color:black;
      text-decoration:none;
    }
    img{
      padding: 20px;
    }
}
.gallery{
  li{
    &:before{
      background-color: white;
    }
  }
}
