@import 'import/reset';
@import 'import/variables';

@import 'fonts/font_fontawesome';
@import 'import/fonts_roboto';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'owl/owl.carousel';
@import 'owl/owl.theme.default';

@import 'import/fotorama';
@import 'import/fancybox';
@import 'import/animate';
@import 'import/splash-icons';
@import 'import/wordpress';


@font-face {
  font-family: Glyphicons Halflings;

  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}

@font-face {
  font-family: stm-splash-icons;

  src: url(../fonts/splash/stm-splash-icons.eot?rhamik);
  src: url(../fonts/splash/stm-splash-icons.eot?rhamik#iefix) format('embedded-opentype'), url(../fonts/splash/stm-splash-icons.ttf?rhamik) format('truetype'), url(../fonts/splash/stm-splash-icons.woff?rhamik) format('woff'), url(../fonts/splash/stm-splash-icons.svg?rhamik#stm-splash-icons) format('svg');
}
@font-face {
  font-family: vc_grid_v1;

  src: url(../fonts/vc_grid/vc_grid_v1.eot?-9hbgac);
  src: url(../fonts/vc_grid/vc_grid_v1.eot?#iefix-9hbgac) format('embedded-opentype'), url(../fonts/vc_grid/vc_grid_v1.woff?-9hbgac) format('woff'), url(../fonts/vc_grid/vc_grid_v1.ttf?-9hbgac) format('truetype'), url(../fonts/vc_grid/vc_grid_v1.svg?-9hbgac#vc_grid_v1) format('svg');
}

//colors
$black: black;
$color_alabaster_approx: #fbfbfb;
$color_alto_approx: #ddd;
$white: white;


* {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
.clearfix {
  &:before {
    display: table;

    content: '';
  }
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}

/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */


*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;

  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;

  color: #333;
  background-color: #fff;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;

  color: white;
  &:hover {
    text-decoration: underline;

    color: white;
  }
  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;

  max-width: 100%;
  height: auto;
}

[role=button] {
  cursor: pointer;
}

p {
  margin: 0 0 10px;
}

small {
  font-size: 85%;
}

ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  ul {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
.h5,
h6,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;

  color: #fff;
}



h1 {
  font-size: 36px;
  line-height: 60px;

  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  line-height: 50px;

  margin-bottom: 15px;
}
h3 {
  font-size: 24px;
  line-height: 40px;

  margin-bottom: 10px;
  small {
    font-weight: 400;
    line-height: 1;

    color: #fff;
  }
}

h4 {
  font-size: 18px;
  line-height: 30px;

  margin-bottom: 10px;
}

h5,
.h5 {
  font-size: 14px;
  line-height: 24px;

  margin-bottom: 10px;
}

h6,
.h6 {
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;

  margin-bottom: 10px;
}

h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  small {
    font-size: 65%;
  }
}

.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-1,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-12,
.col-sm-6 {
  position: relative;

  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

table {
  background-color: transparent;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;

  text-align: left;

  color: #777;
}

th {
  text-align: left;
}

.table-responsive {
  overflow-x: auto;

  min-height: .01%;
}

label {
  font-weight: 700;

  display: inline-block;

  max-width: 100%;
  margin-bottom: 5px;
}

.fade {
  -webkit-transition: opacity .15s linear;
          transition: opacity .15s linear;

  opacity: 0;
  &.in {
    opacity: 1;
  }
}

.collapse {
  display: none;
  &.in {
    display: block;
  }
}

.collapsing {
  position: relative;

  overflow: hidden;

  height: 0;

  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
          transition-property: height, visibility;
}

.tab-content > {
  .tab-pane {
    display: none;
  }
  .active {
    display: block;
  }
}

.pagination {
  display: inline-block;

  margin: 20px 0;
  padding-left: 0;

  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  border-color: #ebccd1;
  background-color: #f2dede;
}

.clearfix {
  &:after,
  &:before {
    display: table;

    content: ' ';
  }
}

.container {
  &:after,
  &:before {
    display: table;

    content: ' ';
  }
}

.row {
  &:after,
  &:before {
    display: table;

    content: ' ';
  }
}

.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

.pull-left {
  float: left !important;
}

@-ms-viewport {
  width: device-width;
}

.owl-carousel {
  position: relative;
  z-index: 1;

  display: none;

  width: 100%;

  -webkit-tap-highlight-color: transparent;
  .owl-stage {
    position: relative;

    -ms-touch-action: pan-Y;
    &:after {
      line-height: 0;

      display: block;
      visibility: hidden;
      clear: both;

      height: 0;

      content: '.';
    }
  }
  .owl-stage-outer {
    position: relative;

    overflow: hidden;

    -webkit-transform: translate3d(0, 0, 0);
  }
  .owl-controls {
    .owl-nav {
      .owl-prev,
      .owl-next {
        cursor: pointer;
        cursor: hand;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

        -khtml-user-select: none;
      }
    }
    .owl-dot {
      cursor: pointer;
      cursor: hand;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

      -khtml-user-select: none;
    }
  }
  &.owl-loaded {
    display: block;
  }
  .owl-item {
    position: relative;

    float: left;

    min-height: 1px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    img {
      display: block;

      width: 100%;

      -webkit-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
    }
  }
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.stm-header {
  .stm-main-menu .stm-main-menu-unit .header-menu > li a {
    text-transform: none;
  }
  .stm-header-background {
    opacity: .8 !important;
    background-position: 50% 100% !important;
  }
}


.aligncenter {
  display: block;

  margin: 5px auto;
}

.alignright {
  float: right;

  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;

  margin: 5px 20px 10px 0;
}

a img.aligncenter {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

.gallery {
  margin-bottom: 30px;
}

input {
  &[type=text] {
    font-weight: 400;

    display: block;

    width: 100%;
    height: 55px;
    padding: 10px 20px 11px;

    color: #151515;
    border: 1px solid rgba(215, 215, 214, .7);
    border-radius: 4px;
    outline: none !important;
    background: rgba(255, 255, 255, .7);
    &:focus {
      border: 1px solid #d7d7d6;
      background: white;
    }
  }
  &[type=submit] {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    position: relative;
    z-index: 1;

    display: inline-block;

    max-width: 100%;
    padding: 11px 26px 9px;

    vertical-align: top;
    text-decoration: none !important;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #00529b;
    border-radius: 5px;
    outline: none !important;
    background-color: transparent !important;
  }
}

button {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;

  position: relative;
  z-index: 1;

  display: inline-block;

  max-width: 100%;
  padding: 11px 26px 9px;

  vertical-align: top;
  text-decoration: none !important;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #fff;
  border: 2px solid #00529b;
  border-radius: 5px;
  outline: none !important;
  background-color: transparent !important;
}

.button {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;

  position: relative;
  z-index: 1;

  display: inline-block;

  max-width: 100%;
  padding: 11px 26px 9px;

  vertical-align: top;
  text-decoration: none !important;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #fff;
  border: 2px solid #00529b;
  border-radius: 5px;
  outline: none !important;
  background-color: transparent !important;
  &.btn-md {
    padding: 16px 61px 14px;
  }
}

input[type=submit]:before,
button:before,
.button:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: '';
  -webkit-transition: -webkit-transform .4s, opacity .4s;
  -webkit-transition: opacity .4s, -webkit-transform .4s;
  -webkit-transition: -webkit-transform .4s, opacity .4s, -webkit-transform .4s;
          transition: opacity .4s, -webkit-transform .4s;
          transition:         transform .4s, opacity .4s;
          transition:         transform .4s, opacity .4s, -webkit-transform .4s;
  -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
          transition-timing-function: cubic-bezier(.2, 1, .3, 1);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);

  opacity: 1;
  background: #00529b;
}

input[type=submit]:hover,
button:hover,
.button:hover {
  color: #00529b;
  border-color: #00529b;
}


input[type=submit]:hover:active,
button:hover:active,
.button:hover:active {
  color: #00529b !important;
  border-color: #00529b;
}

input[type=submit]:hover:before,
button:hover:before {
  -webkit-transform: scale3d(.7, 1, 1);
          transform: scale3d(.7, 1, 1);

  opacity: 0;
}

.button {
  &:hover:before {
    -webkit-transform: scale3d(.7, 1, 1);
            transform: scale3d(.7, 1, 1);

    opacity: 0;
  }
  &.btn-style-4 {
    border-color: #fff;
    &:before {
      background-color: #fff;
    }
    &:hover {
      color: #fff;
      &:active {
        color: #fff !important;
        border-color: #fff;
      }
    }
  }
  &.btn-secondary {
    color: #00529b;
    &:before {
      -webkit-transform: scale3d(.7, 1, 1);
              transform: scale3d(.7, 1, 1);

      opacity: 0;
    }
    &:hover {
      color: #fff;
      &:before {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

        opacity: 1;
      }
      &:active {
        color: #fff !important;
      }
    }
    &.btn-style-4 {
      color: #fff;
      &:before {
        background: #fff;
      }
      &:hover {
        color: #00529b;
        &:active {
          color: #00529b !important;
        }
      }
    }
  }
}

input[type=submit] {
  background-color: #00529b !important;
  &:hover {
    background-color: transparent !important;
  }
}

textarea {
  width: 100%;
  max-height: 117px;
  padding: 20px 17px;

  resize: none;

  color: #151515;
  border: 1px solid #d7d6d6;
  border: 1px solid rgba(215, 215, 214, .7);
  border-radius: 5px;
  outline: none !important;
  background: rgba(255, 255, 255, .7);
  &:focus {
    border: 1px solid #d7d7d6;
    background: white;
  }
}

body {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;

  color: #000;
}

.wpb_wrapper .wpb_content_element {
  margin-bottom: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #009bdc;
  outline: none !important;
  &:hover {
    text-decoration: underline;

    color: #009bdc;
  }
}

p {
  font-weight: 400;

  margin: 0 0 24px;
}

.button {
  font-family: Roboto Condensed;
}

input[type=text],
textarea,
.comment-form label,
h1,
h2,
h3,
h4,
h5,
.h5,
h6,
.h6,
.heading-font,
.widget_recent_entries,
.menu-widget-menu-container li,
table {
  font-family: Roboto Condensed;

  margin: 0;

  color: #151515;
}


ul {
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
  li {
    position: relative;

    margin-bottom: 10px;
    padding-left: 20px;

    color: #151515;
    &:before {
      position: absolute;
      top: 11px;
      left: 0;

      display: block;

      width: 3px;
      height: 3px;

      content: '';

      background-color: #00529b;
    }
    a {
      display: inline-block;
    }
  }
}

ol {
  margin-bottom: 20px;
  padding: 0;

  list-style: none;

  counter-reset: section;
  li {
    position: relative;

    margin-bottom: 10px;
    padding-left: 0;

    color: #151515;
    &:before {
      font-size: 14px;
      font-weight: 700;

      position: relative;
      top: 0;

      display: block;
      display: inline;

      margin-right: 7px;

      content: '';
      content: counters(section, '.') '. ';
      counter-increment: section;

      color: #00529b;
    }
  }
}

ul ul {
  margin-top: 10px;
  padding-left: 10px;
}

table {
  width: 100%;
  thead {
    color: #fff;
    background-color: #00529b;
    tr th {
      padding: 13px 7px;
    }
  }
  tbody tr td {
    padding: 13px 5px;

    border-bottom: 1px solid #d8d8d8;
  }
}

.stm-red {
  color: #00529b !important;
}

.owl-item {
  -webkit-transform: translateZ(0) scale(1, 1);

  -webkit-backface-visibility: hidden;
}

.stm-default-page {
  padding: 50px 0 0;
}

.stm-red-bg {
  background-color: #00529b;
}

.container {
  width: auto;
  max-width: 1200px;
}

#wrapper {
  position: relative;
  z-index: 45;
  // overflow: hidden;

  background-color: #999;
}

#main {
  padding-bottom: 100px;
}

.row-3 .col-md-4:nth-child(3n+1) {
  clear: both;
}

#stm-top-bar {
  min-height: 50px;

  color: #fff;
  background-color: #151515;
  .heading-font,
  .stm-ticker-title,
  a {
    color: #fff;
  }
  .stm-top-ticker-holder {
    overflow: hidden;

    vertical-align: top;
    white-space: nowrap;
    .stm-ticker-title {
      font-size: 15px;
      font-weight: 700;
      line-height: 50px;

      position: relative;
      top: 1px;

      display: block;
      float: left;

      margin-right: 50px;

      vertical-align: top;
      word-spacing: 1.3px;
      text-transform: uppercase;
    }
    .stm-ticker {
      display: block;
      overflow: hidden;

      height: 50px;
      margin: 0;
      padding: 0;

      list-style-type: none;

      vertical-align: top;
      li {
        font-weight: 300;
        line-height: 50px;

        position: static;

        margin-bottom: 0;

        white-space: nowrap;
        letter-spacing: .8px;
        text-overflow: ellipsis;

        color: inherit;
        &:before {
          display: none;
        }
      }
      &.ticker-active li {
        display: none;
        overflow: hidden;

        white-space: nowrap;
      }
    }
  }
  .stm-top-socials-holder {
    float: right;

    margin-right: 37px;
    .top-bar-socials li {
      line-height: 50px;

      display: inline-block;

      margin-right: 23px;
      margin-bottom: 0;
      padding: 0;

      vertical-align: top;
      &:before {
        display: none;
      }
      a {
        font-size: 16px;

        opacity: .7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .stm-top-bar_right {
    float: right;
    .stm-top-cart-holder,
    .stm-top-switcher-holder {
      line-height: 50px;

      display: inline-block;

      vertical-align: top;
    }
  }
}

.stm-list-duty {
  margin: 0;
  padding: 0;

  list-style: none;
  li {
    padding-left: 0;
    &:before {
      display: none !important;
    }
  }
}

.stm-header {
  position: relative;
  z-index: 9999;
  .stm-header-inner {
    padding: 33px 0 37px;

    background-color: #000;
  }
  .stm-header-background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .6;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
  .stm-header-container {
    position: relative;
    z-index: 5;
  }
  .logo-main {
    float: left;

    margin-right: 20px;
    img {
      -webkit-transform: translateZ(0);
    }
  }
  .stm-main-menu {
    text-align: right;
    .stm-main-menu-unit {
      position: relative;

      display: inline-block;

      max-width: 100%;

      text-align: right;
      vertical-align: top;

      background: rgba(21, 21, 21, .8);
      &:after {
        position: absolute;
        right: 0;
        bottom: -2px;
        left: 0;

        display: block;

        height: 2px;

        content: '';

        background: rgba(21, 21, 21, .5);
      }
      .header-menu {
        font-size: 0;
        .sub-menu {
          position: absolute;
          z-index: -1;

          visibility: hidden;

          width: 215px;
          margin: 0;
          padding: 0;

          list-style: none;

          text-align: left;

          opacity: 0;
          background-color: #111;
          li {
            position: relative;
            a {
              line-height: 50px;

              padding-right: 40px;
            }
            &.current-menu-item a {
              background-color: #111;
            }
          }
        }
        li {
          margin-bottom: 0;
          padding-left: 0;
          &:before {
            display: none;
          }
          &:hover > .sub-menu {
            z-index: 1;

            visibility: visible;

            opacity: 1;
          }
        }
        > li {
          display: inline-block;

          max-width: 100%;

          vertical-align: top;
          &.current-menu-item > a {
            background-color: #00529b;
            &:before {
              -webkit-transform: translate3d(0, 0, 0);
                      transform: translate3d(0, 0, 0);

              opacity: 1;
            }
          }
          a {
            font-size: 15px;
            font-weight: 700;
            line-height: 70px;

            position: relative;

            display: block;
            overflow: hidden;

            padding: 0 24px;

            text-decoration: none !important;
            text-transform: uppercase;

            color: #fff;
            span {
              position: relative;
              z-index: 5;
            }
            &:before {
              position: absolute;
              z-index: 1;
              top: 0;
              left: 0;

              display: block;

              width: 100%;
              height: 100%;

              content: '';
              transition: transform .4s, opacity .4s;
              transition-timing-function: cubic-bezier(.2, 1, .3, 1);
              transform: scale3d(.7, 1, 1);

              opacity: 0;
              background: #00529b;
            }
            &:hover:before {
              transform: translate3d(0, 0, 0);

              opacity: 1;
            }
          }
        }
      }
    }
  }
  &.stm-transparent-header .stm-header-inner {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;

    background-color: transparent;
    .stm-header-background {
      visibility: hidden;

      opacity: 0;
    }
  }
  &.stm-non-transparent-header .stm-header-inner {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    transition: all 1s ease;
  }
}

.stm-title-box-unit {
  padding-top: 61px;
  padding-bottom: 50px;
  &.transparent-header_on {
    padding: 0;
  }
  .stm-page-title {
    margin-top: 0;
  }
}

.stm-small-title-box {
  margin-top: -8px;
  .stm-page-title {
    margin: 0;
  }
  .stm-title-box-unit {
    margin: 0 -15px;
    padding-top: 0;
    padding-bottom: 21px;
  }
}

.stm-page-title {
  margin-top: 61px;
  h3 {
    font-weight: 700;

    letter-spacing: 1.1px;
    text-transform: uppercase;
  }
}
.sticky{
  background-color: black;
  opacity: 1;
  top: 0px;

}
.rev_slider {
  background-color: #000;
}

.tparrows.hades {
  width: 80px !important;
  height: 80px !important;

  background-color: #252525;
  &:before {
    font-size: 24px;
    line-height: 80px !important;
  }
  &:hover {
    background-color: #00529b;
    &:before {
      color: #fff;
      background-color: #00529b;
    }
  }
  .tp-arr-allwrapper {
    width: 80px !important;
    height: 80px !important;
  }
}

#stm-footer-bottom {
  padding: 22px 0 28px;

  color: #fff;
  background-color: #1a1a1a;
  .h6,
  a {
    color: #fff;
  }
  .footer-bottom-left {
    float: left;
    .footer-bottom-left-text {
      font-size: 13px;
      font-weight: 300;

      margin-top: 6px;

      letter-spacing: -.2px;
      word-spacing: -.4px;
    }
  }
  .footer-bottom-right {
    overflow: hidden;
    .footer-bottom-right-text {
      font-size: 13px;
      font-weight: 300;

      float: right;

      margin-top: 6px;

      text-align: right;
      letter-spacing: -.2px;
      word-spacing: -.4px;
    }
    .footer-socials-unit {
      overflow: hidden;

      text-align: center;
      .footer-socials-title {
        position: relative;
        top: 7px;

        display: inline-block;

        max-width: 100%;
        margin-right: 15px;

        vertical-align: top;
        text-transform: uppercase;
      }
      .footer-bottom-socials {
        display: inline-block;

        max-width: 100%;

        vertical-align: top;
        li {
          display: inline-block;

          max-width: 100%;
          margin: 0 3px;

          vertical-align: top;
          a {
            font-size: 15px;
            line-height: 36px;

            display: block;

            width: 36px;
            height: 36px;

            text-align: center;

            border-radius: 50%;
            background-color: #00529b;
            &:hover {
              background: rgba(0, 82, 155, .8);
            }
          }
        }
      }
    }
  }
}

.footer-widgets-wrapper {
  padding: 13px 0 5px;

  color: #fff;
  background-color: #000;
  .widget-title {
    margin-top: 44px;
  }
  li {
    color: white;
    a {
      text-decoration: none !important;
      &:hover {
        color: #00529b;
      }
    }
  }
  a {
    color: white;
  }
  .stm-cols-4 {
    margin: 0 -15px;
    aside {
      display: block;
      float: left;

      width: 25%;
      margin-bottom: 30px;
      &:nth-child(4n+1) {
        clear: both;
      }
      .widget-wrapper {
        padding: 0 15px;
      }
    }
  }
  .textwidget {
    font-size: 14px;
    .stm-text-lighten {
      padding-right: 25px;

      opacity: .5;
    }
  }
}

.widget-wrapper {
  .widget-title {
    font-size: 16px;
    font-weight: 700;

    margin-bottom: 30px;

    letter-spacing: .7px;
    text-transform: uppercase;

    color: #00529b;
  }
}


.widget_text {
  font-weight: 300;
  img {
    margin: 10px 0 14px;
  }
}

.widget_recent_entries ul li {
  margin-bottom: 33px;
  padding-top: 28px;
  padding-right: 25px;
  padding-left: 0;
  &:before {
    display: none;
  }
  .post-date {
    font-size: 12px;

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    text-transform: uppercase;

    color: #a4a4a4;
  }
  a {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;

    display: block;

    letter-spacing: .7px;
  }
}

.menu-widget-menu-container {
  padding-top: 4px;
  ul:after {
    display: table;
    clear: both;

    content: '';
  }
  li {
    float: left;

    width: 50%;
    margin-bottom: 6px;
    padding-right: 15px;
  }
}

.widget_contacts ul {
  padding-top: 5px;
  li {
    margin-bottom: 16px;
    padding-left: 30px;
    .icon {
      position: absolute;
      top: 0;
      left: 0;

      opacity: .5;
    }
    &.widget_contacts_address .text {
      padding-right: 55px;

      opacity: .5;
      &:hover {
        opacity: 1;
      }
    }
    &.widget_contacts_phone .text {
      font-size: 16px;
      font-weight: 700;

      letter-spacing: 1px;
    }
    &.widget_contacts_mail {
      padding-top: 4px;
      .icon {
        top: 4px;
      }
    }
    a {
      color: #009bdc;
      &:hover {
        text-decoration: underline !important;

        color: #009bdc;
      }
    }
  }
}

.stm-social-facebook {
  text-indent: -1px;
}

.stm-footer {
  position: relative;
  z-index: 5;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
}
.people-name {
  padding-bottom: 25px;
}
.game-title {
  text-align: center;
}
.game-bar {
  font-size: 30px;

  display: flex;
  flex-direction: row;

  width: auto;
  height: 136px;
  margin-bottom: 10px;

  color: black;
  border: 1px solid white;

  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  &:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 1);
  }
}

.stm-call-to-action {
  padding: 18px 0;
  .button {
    float: right;

    margin-left: 15px;
  }
  h4 {
    overflow: hidden;

    padding-top: 11px;

    letter-spacing: 1px;
  }
}

.stm-main-title-unit {
  margin-bottom: 36px;
}

.stm-title-left {
  float: left;
}

.stm-main-title-unit {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.stm-media-tabs .stm-main-title-unit {
  margin-right: 95px;

  text-transform: uppercase;
}

.stm-news-tabs-wrapper .stm-single-post-loop {
  margin-bottom: 30px;
}

.stm-single-post-loop {
  margin-bottom: 48px;
  a {
    text-decoration: none !important;
    .image {
      position: relative;

      overflow: hidden;

      margin-bottom: 14px;
      img {
        transition: transform .4s;
        transform: scale(1);
      }
      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        content: '';
        transition: opacity .4s, -webkit-transform .4s;
        transition: transform .4s, opacity .4s;
        transition-timing-function: cubic-bezier(.2, 1, .3, 1);
        transform: scale3d(.7, 1, 1);

        opacity: 0;
        background-color: #151515;
      }
      .stm-plus {
        position: absolute;
        z-index: 20;
        top: 50%;
        left: 50%;

        width: 76px;
        height: 76px;
        margin: -38px 0 0 -38px;

        opacity: 0;
        border: 2px solid #fff;
        border-radius: 50%;
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;

          display: block;

          width: 22px;
          height: 2px;
          margin: -2px 0 0 -11px;

          content: '';

          background-color: #fff;
        }
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;

          display: block;

          width: 2px;
          height: 22px;
          margin: -12px 0 0 -1px;

          content: '';

          background-color: #fff;
        }
      }
    }
    &:hover {
      .image {
        img {
          transform: scale(1.1);
        }
        &:before {
          z-index: 10;

          transform: translate3d(0, 0, 0);

          opacity: .5;
        }
      }
      .title {
        color: #00529b;
      }
      .stm-plus {
        opacity: 1;
      }
    }
  }
  .date {
    font-size: 14px;
    font-weight: 700;

    margin-bottom: 9px;

    text-transform: uppercase;

    color: white;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    margin-bottom: 9px;

    letter-spacing: .7px;
    text-transform: uppercase;

    color: #404040;
  }
  .content {
    line-height: 20px;

    opacity: .8;
    color: #000;
    p {
      margin-bottom: 10px;
    }
  }
  .post-meta {
    .post_list_item_tags,
    .comments-number {
      font-size: 12px;
      font-weight: 700;

      display: inline-block;

      max-width: 100%;

      vertical-align: top;
      text-transform: uppercase;

      opacity: .7;
      color: white;
    }
    .post_list_item_tags a,
    .comments-number a {
      color: #fff;
    }
    .post_list_item_tags .fa,
    .comments-number .fa {
      font-size: 13px;

      margin-right: 4px;
    }
    .post_list_item_tags:hover,
    .comments-number:hover,
    .post_list_item_tags:hover a {
      color: #00529b;
    }
    .comments-number {
      margin-right: 20px;
      &:hover a {
        color: #00529b;
      }
    }
  }
}

.stm-news-tabs-wrapper .stm-main-title-unit {
  margin-bottom: 30px;
}

.post-thumbnail {
  margin: 0 0 18px;
}

.stm_post_comments {
  margin-top: 60px;
  padding: 0 0 45px;
  .comment-respond {
    margin-top: -20px;
    padding: 20px 30px;

    background-color: #f0f0f0;
    .comment-reply-title {
      font-size: 20px;

      text-transform: uppercase;
    }
  }
}

.stm-single-post-meta {
  font-weight: 700;

  margin-bottom: 35px;

  letter-spacing: .5px;
  text-transform: uppercase;

  color: #a4a4a4;
  border-bottom: 1px solid #d9d9d9;
  .fa {
    position: relative;

    margin-right: 3px;
    &.fa-commenting,
    &.fa-calendar-o {
      top: -1px;
    }
  }
  a {
    font-weight: 700;

    text-decoration: none;
    letter-spacing: .5px;

    color: #a4a4a4;
    &:hover {
      color: #00529b;
    }
  }
  .stm-meta-left-part {
    float: left;

    margin-bottom: 16px;
    .stm-author {
      display: inline-block;

      vertical-align: top;
    }
    .stm-date {
      display: inline-block;

      margin-right: 15px;

      vertical-align: top;
    }
  }
  .stm-comments-num {
    float: right;
  }
}

.stm-single-post p {
  margin-bottom: 30px;
}

.stm-post-meta-bottom {
  font-weight: 700;

  margin-bottom: 38px;

  text-transform: uppercase;

  color: #a4a4a4 !important;
  border-bottom: 1px solid #d9d9d9;
  a {
    color: #a4a4a4;
  }
  .stm_post_tags {
    float: left;

    margin-bottom: 30px;
    .fa {
      margin-right: 5px;
    }
    a {
      margin-left: 5px;

      text-decoration: none !important;
      &:hover {
        color: #00529b !important;
      }
    }
  }
}

.vc_separator.vc_sep_color_grey .vc_sep_line {
  border-color: #e6e6e6 !important;
}

iframe {
  max-width: 100%;
}

.single table {
  margin-bottom: 20px;
}

.post-content {
  margin-bottom: 10px;
}

.stm-post-meta-bottom .stm_post_tags {
  max-width: 80%;
  a {
    display: inline-block;

    max-width: 100%;

    vertical-align: top;
  }
}

ol li:before {
  background-color: transparent;
}

ul {
  counter-reset: section;
}

.stm_post_comments {
  .comment-respond {
    background-color: #303132;
    .comment-form {
      padding: 0 0 15px;
    }
  }
  .comment-reply-title {
    color: #fff;
  }
}

aside.widget {
  margin-bottom: 63px;
  .widget-title {
    margin-bottom: 27px;
    h4 {
      font-size: 24px;

      text-transform: uppercase;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.widget_categories li {
  width: 100%;
  margin: 0;
  padding: 0;
  &:before {
    display: none;
  }
  a {
    font-size: 14px;
    font-weight: 700;

    position: relative;

    display: block;

    padding: 12px 30px;

    text-decoration: none !important;
    text-transform: uppercase;

    color: #fff !important;
    border-bottom: 1px solid #fff;
    background-color: #303132;
    span {
      position: relative;
      z-index: 20;
    }
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      content: '';
      -webkit-transition: -webkit-transform .4s, opacity .4s;
      -webkit-transition: opacity .4s, -webkit-transform .4s;
      -webkit-transition: -webkit-transform .4s, opacity .4s, -webkit-transform .4s;
              transition: opacity .4s, -webkit-transform .4s;
              transition:         transform .4s, opacity .4s;
              transition:         transform .4s, opacity .4s, -webkit-transform .4s;
      -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
              transition-timing-function: cubic-bezier(.2, 1, .3, 1);
      -webkit-transform: scale3d(.7, 1, 1);
              transform: scale3d(.7, 1, 1);

      opacity: 0;
      background-color: #00529b;
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      display: block;

      width: 5px;

      content: '';
      -webkit-transition: width .4s;
              transition: width .4s;

      background-color: #00529b;
    }
    &:hover {
      &:before {
        z-index: 10;

        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

        opacity: 1;
      }
      &:after {
        width: 0;
      }
    }
  }
}

.footer-widgets-wrapper aside.widget .widget-title {
  margin-bottom: 0;
}

.widget.widget_stm_recent_posts {
  margin-bottom: 40px;
  .widget_media {
    margin-bottom: 24px;
  }
  a {
    text-decoration: none !important;
    &:hover .h5 {
      color: #00529b;
    }
  }
  .image {
    float: left;

    max-width: 100px;
    margin-top: 6px;
    margin-right: 18px;
  }
  .date {
    font-size: 14px;
    font-weight: 700;

    margin-bottom: 10px;

    text-transform: uppercase;

    color: white;
  }
  .h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    color: #404040;
  }
  .stm-post-content {
    overflow: hidden;
  }
}

body:not(.stm-macintosh) .widget.widget_stm_recent_posts .h5 {
  line-height: 22px;
}

.stm-single-post-loop a .image .stm-plus,
.widget_stm_recent_posts .h5,
.widget_contacts ul li.widget_contacts_address .text,
.stm-single-post-loop a .title,
input[type=submit],
.stm-header .stm-main-menu .header-menu .sub-menu,
a {
  transition: all .25s ease;
}

.stm-header.stm-transparent-header {
  transition: all .5s ease;
}

.stm-transparent-header .stm-header-inner {
  transition: all .5s ease;
  .bloglogo img {
    -webkit-transition: all .5s ease;
            transition: all .5s ease;
  }
}

.stm-header.stm-transparent-header .stm-header-background {
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}

textarea:focus,
input[type=text]:focus {
  transition: all .6s ease;
}

.stm-title-box-title-wrapper h3 {
  float: left;

  margin-right: 100px;
}

.comment-respond {
  position: relative;

  margin-top: 61px;
  padding-bottom: 40px;
  .comment-reply-title {
    font-size: 24px;

    margin-bottom: 31px;

    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .comment-form {
    padding: 23px 30px 30px;

    background-color: #303132;
    label {
      font-size: 14px;

      margin-bottom: 13px;

      text-transform: uppercase;

      color: #fff;
    }
    .form-submit {
      margin-bottom: 0;
    }
    input,
    textarea {
      background-color: #fff;
    }
    p {
      margin-bottom: 39px;
    }
    .comment-form-comment {
      margin-bottom: 15px;
    }
    textarea {
      max-height: 135px;
      margin-bottom: 0;
    }
    input[type=submit] {
      min-width: 170px;
      min-height: 55px;
    }
  }
}

.stm-menu-toggle {
  margin-top: 0;
}

.stm-transparent-header .stm-header-mobile {
  background-color: rgba(21, 21, 21, .8);
}

.stm-header-mobile {
  position: relative;

  display: none;

  padding: 15px 40px;

  background-color: #151515;
  .bloglogo img {
    max-width: 105px;
  }
  .stm-mobile-right {
    float: right;

    margin-top: 22px;

    vertical-align: middle;
  }
}

.stm-menu-toggle {
  float: right;

  width: 64px;
  height: 60px;
  margin-left: 18px;

  cursor: pointer;

  border-radius: 3px;
  background: rgba(48, 49, 50, .8);
  span {
    display: block;

    width: 31px;
    height: 4px;
    margin: 0 auto 6px;

    border-radius: 2px;
    background: #fff;
    &:first-child {
      position: relative;
      top: 0;

      margin-top: 18px;

      -webkit-transition: top .3s .3s, -webkit-transform .3s 0s;
      -webkit-transition: top .3s .3s, -webkit-transform .3s 0s;
      -webkit-transition: top .3s .3s, -webkit-transform .3s 0s, -webkit-transform .3s 0s;
              transition: top .3s .3s, -webkit-transform .3s 0s;
              transition: top .3s .3s, transform .3s 0s;
              transition: top .3s .3s, transform .3s 0s, -webkit-transform .3s 0s;
    }
    &:nth-child(2) {
      -webkit-transition: opacity .3s;
              transition: opacity .3s;

      opacity: 1;
    }
    &:last-child {
      position: relative;
      top: 0;

      margin-bottom: 0;

      -webkit-transition: top .3s .3s, -webkit-transform .3s 0s;
      -webkit-transition: top .3s .3s, -webkit-transform .3s 0s;
      -webkit-transition: top .3s .3s, -webkit-transform .3s 0s, -webkit-transform .3s 0s;
              transition: top .3s .3s, -webkit-transform .3s 0s;
              transition: top .3s .3s, transform .3s 0s;
              transition: top .3s .3s, transform .3s 0s, -webkit-transform .3s 0s;
    }
  }
}

.stm-mobile-menu-unit {
  position: absolute;
  top: 100%;
  right: 40px;

  display: none;

  width: 388px;

  border-top: 5px solid #00529b;
  .inner .stm-top {
    position: relative;

    padding: 22px 25px 10px;

    background-color: #303132;
    .stm-top-right {
      overflow: hidden;

      padding-right: 40px;
      .stm-top-socials .top-bar-socials {
        text-align: center;
        li {
          font-size: 18px;

          display: inline-block;

          margin-right: 27px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.stm-mobile-menu-list {
  padding: 10px 0;

  background: rgba(21, 21, 21, .95);
  li {
    margin: 0;
    padding-left: 0;
    &:before {
      display: none;
    }
    a {
      font-size: 22px;
      font-weight: 700;

      display: block;

      padding: 18px 15px;

      text-align: center;
      text-decoration: none !important;
      text-transform: uppercase;

      color: #fff;
      &:active {
        background-color: #00529b;
      }
    }
    ul {
      display: none;

      margin: 0;
      padding: 0;

      opacity: .5;
      li a {
        font-size: 20px;
      }
    }
  }
}

.container:after,
.row:after,
.vc_clearfix:after,
.vc_column-inner:after,
.vc_row:after {
  clear: both;
}

.container {
  &:after,
  &:before {
    display: table;

    content: ' ';
  }
}

.row {
  &:after,
  &:before {
    display: table;

    content: ' ';
  }
}

.vc_row {
  &:after,
  &:before {
    display: table;

    content: ' ';
  }
}

.vc_column_container {
  width: 100%;
}

.vc_row {
  margin-right: -15px;
  margin-left: -15px;
}

.vc_col-sm-12,
.vc_col-sm-4,
.vc_col-sm-8 {
  position: relative;

  box-sizing: border-box;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.vc_clearfix {
  &:after,
  &:before {
    display: table;

    content: ' ';
  }
}

.wpb_text_column {
  &:last-child,
  p:last-child {
    margin-bottom: 0;
  }
}

.wpb_content_element {
  margin-bottom: 35px;
}

.vc_row[data-vc-full-width] {
  overflow: hidden;

  -webkit-transition: opacity .5s ease;
          transition: opacity .5s ease;
}

.vc_parallax {
  position: relative;

  overflow: hidden;
  > * {
    position: relative;
    z-index: 1;
  }
}

.vc_column-inner {
  &:after,
  &:before {
    display: table;

    content: ' ';
  }
}

.vc_row-has-fill {
  + .vc_row > .vc_column_container > .vc_column-inner, > .vc_column_container > .vc_column-inner {
    padding-top: 35px;
  }
}

.vc_column_container {
  padding-right: 0;
  padding-left: 0;
  > .vc_column-inner {
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.vc_separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:    -moz-box;
  display:         flex;
          flex-direction: row;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  h4 {
    font-size: 100%;
    line-height: 1em;

    margin: 0;

    word-wrap: break-word;

    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
  }
  .vc_sep_holder {
    position: relative;

    min-width: 10%;
    height: 1px;

    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    .vc_sep_line {
      position: relative;
      top: 1px;

      display: block;

      width: 100%;
      height: 1px;

      border-top: 1px solid #ebebeb;
    }
  }
  &.vc_separator_align_center h4 {
    padding: 0 .8em;
  }
  &.vc_sep_color_grey .vc_sep_line {
    border-color: #ebebeb;
  }
}

.vc_sep_width_100 {
  width: 100%;
}

.vc_sep_pos_align_center {
  margin-right: auto;
  margin-left: auto;
}



#main {
  padding: 0 !important;
}

.vc_custom_1462188886536 {
  background-color: #c9c9c9 !important;
}

.vc_custom_1476626466570 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.stm-header .stm-main-menu .stm-main-menu-unit .header-menu {
  li a {
    line-height: 3.4;

    padding: 15px;
  }
  .sub-menu {
    width: 300px;
  }
}

.sidebar #categories-2 h6 {
  display: none;
}

.player-card {
  height: 280px;
  margin-top: 50px;

  background-color: #323232;
}

.player-name {
  width: 400px;
}

.player-pic {
  position: absolute;
  top: 30px;
  left: 80px;

  width: 130px;
}

.player-picture {
  width: 23%;
}

.description {
  font-size: 28px;

  padding-top: 30px;
  padding-right: 8px;
  padding-left: 0;

  text-transform: uppercase;

  color: white;
}

.stats-bar {
  float: left;

  width: 380px;
  height: 30px;
  margin-top: 25px;

  border-radius: 2px;
  background-color: #e8e8e0;
}

.games,
.tds,
.yards {
  font-size: 15px;
  line-height: 2;

  float: left;

  margin-top: 0;
  margin-left: 20px;
  padding-right: 23px;

  text-transform: none;

  color: #111;
}

.games,
.tds {
  height: 100%;

  border-right: 1px solid #434343;
}

.born,
.nationality,
.team,
.height-weight,
.position {
  font-size: 12px;

  color: #878787;
}

.born span,
.nationality span,
.team span,
.height-weight span,
.position span {
  color: #fff;
}

.current-team {
  height: 100%;
  margin-left: 100px;
  padding-top: 16px;
  padding-left: 75px;

  background-color: #434343;
  img {
    width: 250px;
    height: 250px;

    background-size: cover;
  }
}

.socials {
  font-size: 24px;

  padding-top: 20px;

  color: #fff;
  a {
    color: #fff;
  }
}

.fa-facebook-official,
.fa-vk,
.fa-instagram,
.fa-twitter {
  z-index: 1;

  padding-right: 5px;
}

.fa-vk:hover {
  color: #45668e;
}

.fa-facebook-official:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #fcaf45;
}

.fa-twitter:hover {
  color: #aab8c2;
}

.short-bio {
  p,
  h3 {
    padding-top: 10px;
  }
}

.team-card {
  height: 280px;
  margin-top: 50px;

  background-color: #323232;
}
.team-game {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.team-background-image {
  width: 1200px;
  height: 280px;

  opacity: 1;
  background-color: #323232;
  background-position: 190px;
}

.team-picture {
  z-index: 10;

  height: 280px;
}

td {
  text-align: center;
}

.left-bg-block {
  width: 45%;
  height: 100%;
  min-height: 545px;

  background-color: #d9d9d9;
}

.right-bg-block {
  float: left;

  width: 55%;
  height: 100%;
  min-height: 545px;
  padding: 0;

  background-color: #525252;
}

.team-sign {
  font-size: 30px;

  margin-top: 50px;

  text-align: center;
  text-transform: uppercase;

  color: white;
}

.team-list {
  float: left;

  box-sizing: border-box;
  width: 50%;
  height: 100%;
  margin-top: 55px;
  margin-bottom: 50px;
  li {
    float: left;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 4px;
    padding: 4px;

    cursor: pointer;

    border: 1px solid transparent;
    &:before {
      background-color: #d9d9d9;
    }
    &:hover {
      border: 1px solid #fff;
      span {
        background-color: #fff;
      }
    }
    span {
      font-size: 16px;
      line-height: 27px;

      display: block;
      float: left;

      box-sizing: border-box;
      width: 100%;
      padding-left: 46px;

      color: #201600;
    }
  }
}

.person-image {
  width: 100%;
  height: 100%;
  img {
    height: 545px;
  }
  .person-info {
    position: absolute;
    bottom: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    padding: 20px;

    text-align: center;

    color: #fff;
    background-color: rgba(32, 22, 0, .5);
    .person-name {
      font-size: 30px;

      float: left;

      width: 100%;
      margin-bottom: 17px;

      text-transform: uppercase;

      color: #fff;
    }
    .person-role {
      font-size: 20px;

      float: left;

      width: 100%;
      margin-bottom: 17px;

      color: #fff;
    }
    .person-description {
      font-size: 14px;
      line-height: 24px;

      float: left;

      width: 100%;

      color: #fff;
    }
  }
}

.team-anthem {
  font-size: 15px;

  margin-top: 15px;
}

.colors {
  height: 20px;
  padding-left: 17px;
  span {
    display: inline-block;

    width: 25px;
    height: 25px;
  }
}

.fotorama {
  width: auto;
}

.home {
  padding-bottom: 0;
}

.logo-main img {
  height: 95px;
  margin-top: 22px;
  margin-left: 25px;
}

.slide {
  width: 400px;
}

.filters-select {
  position: relative;
  z-index: 1;

  float: right;

  margin-top: 15px;
  margin-right: 15px;
}
.result-pic {
  max-width: 150px;
  max-height: 80px;
}


.results h2 {
  font-size: 55px;

  margin-top: 15px;
  &:after {
    position: relative;

    display: block;

    width: auto;
    height: 1px;
    margin-top: 20px;

    content: '';

    background-color: grey;
  }
}
.result-left-team {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.rejtingi {
  table {
    margin-bottom: 50px;
  }
}
.photo-title {
  font-size: 32px;

  padding: 19px;

  text-align: center;
  text-decoration: none;

  color: black;
  &:hover {
    text-decoration: none;

    color: black;
  }
  img {
    padding: 20px;
  }
}

.gallery li:before {
  background-color: white;
}
.pagination {
  .page-numbers {
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;

    display: inline-block;

    min-width: 45px;
    min-height: 45px;
    margin: 0 10px;

    text-align: center;
    text-decoration: none!important;

    color: #bfbfbf;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    &:hover {
      color: #fff;
      border-color: #00529b;
      background-color: #00529b;
    }
  }
  .current {
    color: #fff;
    border-color: #00529b;
    background-color: #00529b;
  }
}
.championship-table {
  th {
    text-align: center;
  }
  thead {
    background-color: grey;
  }
  img {
    max-width: 100px;
    height: 100px;
  }
}
.calendar-division-title {
  text-align: center;
}
.roster-link {
  text-decoration: none;

  color: white;
}
.kalendar-2,
.results {
  #wrapper {
    color: white;
    background: url('../img/game-bg.jpg') fixed repeat 100%;
    h2,
    h3,
    .game-bar {
      color: white;
    }
  }
}
.away-team-total-yds {
  float: right;
}
.single-games,
.page-template-ratings {
  #wrapper {
    color: white;
    background: url('../img/ratings-bg.jpg') fixed repeat 100%;
    h1,
    tr,
    td,
    h2,
    h4 {
      color: white;
    }
    hr {
      color: white;
    }
    .single-game-score {
      font-size: 62px;

      display: flex;
      flex-direction: row;

      margin: 55px 0 35px 0;

      flex-wrap: wrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
      .game-date {
        font-size: 38px;

        margin-top: 35px;
      }
    }
    .team-single-game {
      display: flex;
      flex-direction: row;

      flex-wrap: wrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
      .col-md-4 {
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
      }
    }
  }
}
.turnirnaya-tablitsa {
  td {
    color: white;
  }
  .category-news {
    .date {
      color: white;
    }
  }
  .parallax {
    padding: 0 100px;

    background: url('../img/table-background.jpg') repeat fixed 100%;
  }
  #wrapper {
    h2 {
      color: white;
    }
    a {
      color: white;
    }
    h3 {
      color: #fff;
    }
  }
}

.js-trigger,
.wr-label {
  font-family: arial;

  display: inline-block;

  padding: 10px 20px;

  cursor: pointer;
  -webkit-transition: background-color .1s, color .1s;

  color: black;
  border: 1px solid;
  border-radius: 4px;
  background: #696969;
  &:hover {
    color: white;
    background: #c9c9c9;
  }
}



.js-hidden,
.wrs {
  overflow: hidden;

  width: 100%;
  height: 0;
  margin-top: 10px;

  -webkit-transition: height .3s ease;

  dislay: none;
}









.vertical-tabs {
  position: relative;

  float: left;

  width: 55%;
  height: 547px;
  min-height: 547px;
  padding: 0;

  background-color: #525252;
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}

.tabs {
  position: relative;

  float: left;

  width: 45%;
  height: inherit;
  min-height: 547px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  background-color: #d9d9d9;
  li {
    position: relative;

    width: 80%;
    margin-left: 25px;
    padding-left: 0;

    list-style: none;
    &:after {
      display: table;
      clear: both;

      content: '';
    }
    a {
      position: relative;

      display: block;

      width: 100%;
      padding: 10px;

      text-align: center;
      text-decoration: none;

      color: black;
      border: 1px solid $color_alto_approx;
      background-color: $color_alabaster_approx;
    }
    &.active a {
      z-index: 2;
    }
  }
}

.tabs-content {
  padding-right: 0;
  padding-left: 0;
}
.tabs-content .content {
  display: none;

  padding: 1px;
  &.active {
    display: block;
  }
}
.page-template-page-team {
  h2 {
    margin-left: 105px;
  }
}
.wpb_wrapper,{
  h3{
    color: #fff;
  }
}
.stm-call-to-action-inner{
  h4{
    color: #fff;
  }
}
.ammapDescriptionWindow
{
   font-size:11px;
   font-family:verdana,helvetica,arial,sans-serif;
   background-color:#FFFFFF;
   border-style:solid;
   border-color:#DADADA;
   border-width:1px;
   color:#000000;
   padding:8px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
.ammapDescriptionWindowCloseButton{
  display: none;
}
@media print {
  *,
  :after,
  :before {
    color: #000 !important;
    background: 0 0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
    &[href]:after {
      content: ' (' attr(href) ')';
    }
    &[href^='#']:after {
      content: '';
    }
  }

  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .col-sm-12,
  .col-sm-6 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .vc_col-sm-12,
  .vc_col-sm-4,
  .vc_col-sm-8 {
    float: left;
  }

  .vc_col-sm-12 {
    width: 100%;
  }

  .vc_col-sm-8 {
    width: 66.66667%;
  }

  .vc_col-sm-4 {
    width: 33.33333%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .col-md-1,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-push-3 {
    left: 25%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive {
    overflow-y: hidden;

    width: 100%;
    margin-bottom: 15px;

    border: 1px solid #ddd;

    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (max-width: 1350px) {
  .tparrows.hades {
    width: 30px;
  }
}

@media (max-width: 1250px) {
  .tparrows.hades {
    display: none;
  }
}

@media (max-width: 1100px) {
  .menu-widget-menu-container li {
    padding-right: 5px;
  }
}

@media (max-width: 1030px) {
  .stm-header .stm-main-menu .stm-main-menu-unit .header-menu > li a {
    font-size: 14px;

    padding: 0 20px;
  }
}

@media (max-width: 1000px) {
  .stm-header .stm-main-menu .stm-main-menu-unit .header-menu > li a {
    font-size: 14px;

    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .stm-header .stm-main-menu .stm-main-menu-unit .header-menu > li a {
    font-size: 13px;

    padding: 0 15px;
  }

  .footer-widgets-wrapper .stm-cols-4 aside {
    width: 50%;
    &:nth-child(2n+1) {
      clear: both;
    }
  }

  body {
    padding-bottom: 0 !important;
  }
}

@media (max-width: 920px) {
  .stm-header .stm-main-menu .stm-main-menu-unit .header-menu > li a {
    font-size: 13px;

    padding: 0 10px;
  }

  #stm-top-bar .stm-top-socials-holder {
    margin-right: 5px;
  }
}

@media (max-width: 787px) {
  .stm-call-to-action {
    position: relative;

    padding-bottom: 100px;

    text-align: center;
    .button {
      position: absolute;
      bottom: 25px;
      left: 50%;

      float: none;

      margin: 0;

      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      white-space: nowrap;
    }
  }

  .row-sm-2 .col-sm-6 {
    &:nth-child(3n+1) {
      clear: none;
    }
    &:nth-child(2n+1) {
      clear: both;
    }
  }

  .stm-header-mobile {
    display: block;
  }

  #stm-top-bar,
  .stm-header-inner {
    display: none;
  }

  .stm-transparent-header .stm-header-mobile {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  div.stm-header {
    min-height: initial !important;
  }
}

@media (max-width: 500px) {
  .stm-main-title-unit {
    margin-bottom: 20px;
  }

  .footer-widgets-wrapper .stm-cols-4 aside {
    width: 100% !important;
  }

  aside.widget .widget-title {
    margin-top: 0;
  }

  #stm-footer-bottom {
    .footer-bottom-left {
      float: none;

      width: 100%;

      text-align: center;
    }
    .footer-bottom-right {
      .footer-bottom-right-text {
        float: none;

        width: 100%;
        margin-bottom: 15px;

        text-align: center;
      }
      .footer-socials-title {
        position: static !important;

        display: block !important;

        margin-right: 0 !important;

        text-align: center;
      }
    }
  }

  .menu-widget-menu-container li {
    width: 100%;
  }

  .stm-title-left {
    float: none;
  }

  .stm-main-title-unit {
    margin-bottom: 10px !important;
  }

  .stm-title-box-unit {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #main {
    padding-bottom: 20px;

    background: #d9d9d9;
  }


  .stm-title-box-title-wrapper h3 {
    float: none;
  }
}

@media (max-width: 480px) {
  .stm-transparent-header .stm-header-mobile {
    padding-right: 15px;
    padding-left: 15px;
  }

  .stm-mobile-menu-unit {
    right: 15px;
    left: 15px;

    width: auto;
    .inner .stm-top {
      padding-right: 10px;
      padding-left: 25px;
    }
  }

  .stm-header-mobile {
    .bloglogo img {
      max-width: 80px;
    }
    .stm-mobile-right {
      margin-top: 12px;
    }
  }
}

@media (max-width: 350px) {
  .stm-mobile-menu-unit .inner .stm-top .stm-top-right .stm-top-socials .top-bar-socials li {
    margin-right: 10px;
  }
}
