/*
// #Gallery
// --------------------------------------------------
*/

.gallery {

}
	.gallery__item {

	}
		.gallery__item-inner {

			&:hover {
				background-color: $card-bg;
				color: $body-font-color;

				.gallery__icon {
					color: $headings-color;
				}
				.gallery__name {
					color: $headings-color;
				}
			}
		}
			.gallery__thumb {

				@if $template == 'basketball' or $template == 'soccer' {
					background-color: $color-dark;
				} @else {
					background-color: $card-bg;
				}
			}
				.gallery__icon {
					color: $color-primary;
				}
				.gallery__icon--circle {
					border-color: $color-primary;
					color: $headings-color;
				}
					.gallery__date {
						font-family: $font-family-accent;
						color: $body-font-color;
					}

			// Header (before thumb)
			.gallery__header {

				.gallery__like {
					color: $body-font-color;
				}
			}


				// Thumb preview
			.gallery__thumb-list {
				border-bottom-color: $card-border-color;
			}
				.gallery__thumb-item {

					&:last-child {

						&::before {
							@if $template == 'esports' {
								background-color: $color-2;
							} @else {
								background-color: $color-primary;
							}
						}

						&::after {
							color: $color-white;
						}
					}
				}
