docRoot                   $VH_ROOT
vhDomain                  $VH_NAME
adminEmails               example@example.com
enableGzip                1
enableIpGeo               1

index  {
  useServer               0
  indexFiles index.php,index.html
}

errorlog /www/wwwlogs/$VH_NAME_ols.error_log {
  useServer               0
  logLevel                ERROR
  rollingSize             10M
}

accesslog /www/wwwlogs/$VH_NAME_ols.access_log {
  useServer               0
  logFormat               '%{X-Forwarded-For}i %h %l %u %t "%r" %>s %b "%{Referer}i" "%{User-Agent}i"'
  logHeaders              5
  rollingSize             10M
  keepDays                10  compressArchive         1
}

scripthandler  {
  add                     lsapi:ulaf.com.ua php
}

extprocessor ulaf.com.ua {
  type                    lsapi
  address                 UDS://tmp/lshttpd/ulaf.com.ua.sock
  maxConns                300
  env                     LSAPI_CHILDREN=300
  env                     LSAPI_AVOID_FORK=1
  initTimeout             600
  retryTimeout            5
  persistConn             1
  pcKeepAliveTimeout      30
  respBuffer              0
  autoStart               1
  path                    /usr/local/lsws/lsphp84/bin/lsphp
  extUser                 www
  extGroup                www
  memSoftLimit            2047M
  memHardLimit            2047M
  procSoftLimit           1000
  procHardLimit           1100
}

phpIniOverride  {
php_admin_value open_basedir "/tmp/:/www/wwwroot/ulaf.com.ua/"
}

expires {
    enableExpires           1
    expiresByType           image/*=A43200,text/css=A43200,application/x-javascript=A43200,application/javascript=A43200,font/*=A43200,application/x-font-ttf=A43200
}

rewrite  {
  enable                  1
  autoLoadHtaccess        1
  include /www/server/panel/vhost/openlitespeed/proxy/ulaf.com.ua/urlrewrite/*.conf
  include /www/server/panel/vhost/apache/redirect/ulaf.com.ua/*.conf
  include /www/server/panel/vhost/openlitespeed/redirect/ulaf.com.ua/*.conf
}
include /www/server/panel/vhost/openlitespeed/proxy/ulaf.com.ua/*.conf

include /www/server/panel/vhost/openlitespeed/detail/ssl/ulaf.com.ua.conf
