/* Card Icon
--------------------------------------------------- */
.bt_bb_card_icon {
	padding: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 0;
	border: 1px solid #dbdbdb;
	background-color: var(--card-secondary-color, transparent);
	transition: all 300ms ease;
	transition-delay: 0s !important;
	
	&:hover {
		color: var(--hover-primary-color, inherit) !important;
		background-color: var(--hover-secondary-color, inherit) !important;
		border-color: var(--hover-secondary-color);
		.bt_bb_card_icon_icon .bt_bb_icon .bt_bb_icon_holder:before {
			color: var(--hover-primary-color, inherit) !important;
		}
		.bt_bb_card_icon_button .bt_bb_button .bt_bb_icon_holder:before {
			color: var(--hover-primary-color, inherit) !important;
		}
	}

	/* Shape */
	&.bt_bb_shape_square { border-radius: 0; }
	&.bt_bb_shape_soft_rounded { border-radius: var(--section-soft-rounded); }
	&.bt_bb_shape_hard_rounded { border-radius: var(--section-hard-rounded); }

	/* Shadow */
	&.bt_bb_shadow_on_hover:hover {
		box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
	}
	&.bt_bb_shadow_show {
		box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
	}
	
	/* Blur */
	&.bt_bb_blur_background {
		/* backdrop-filter: blur(10px); */
	}

	/* Gradient */
	&.bt_bb_gradient_light {
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: linear-gradient( 180deg, rgba(255,255,255,0.4) 0%, rgb(255,255,255) 100%, rgb(255,255,255) 100%);
			transition: all 650ms ease;
		}
		&[class*="bt_bb_hover_color_scheme"]:hover:before {
			opacity: 0;
		}
	}
	&.bt_bb_gradient_dark {
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: linear-gradient( 180deg, rgba(0,0,0,0.4) 0%, rgb(0,0,0) 100%, rgb(0,0,0) 100%);
		}
		&[class*="bt_bb_hover_color_scheme"]:hover:before {
			opacity: 0;
		}
	}
	&.bt_bb_gradient_accent {
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: linear-gradient( 180deg, var(--very-light-accent-color) 0%, var(--accent-color) 100%, var(--accent-color) 100%);
		}
		&[class*="bt_bb_hover_color_scheme"]:hover:before {
			opacity: 0;
		}
	}
	&.bt_bb_gradient_alternate {
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: linear-gradient( 180deg, var(--very-light-alternate-color) 0%, var(--alternate-color) 100%, var(--alternate-color) 100%);
		}
		&[class*="bt_bb_hover_color_scheme"]:hover:before {
			opacity: 0;
		}
	}

	/* Border */
	&.bt_bb_border_hide {
		border: none;
	}
	/* Border Color */
	&.bt_bb_border_color_accent {
		border-color: var(--accent-color);
	}
	&.bt_bb_border_color_alternate {
		border-color: var(--alternate-color);
	}
	&.bt_bb_border_color_dark {
		border-color: var(--dark-color);
	}
	&.bt_bb_border_color_light {
		border-color: var(--light-color);
	}
	&.bt_bb_border_color_very_light_gray {
		border-color: rgb(219 219 219 / 25%);
	}
	
	/* Link */
	.btCardLink {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
	}

	/* Icon */
	.bt_bb_card_icon_icon {
		padding-top: 3.4em;
		z-index: 1;
		position: relative;
		.bt_bb_icon .bt_bb_icon_holder:before { color: inherit; }
	}

	/* Title */
	.bt_bb_card_icon_title {
		margin-top: 4.7em;
		z-index: 1;
		position: relative;
	}

	/* Button */
	.bt_bb_card_icon_button {
		padding-top: 1.8em;
		z-index: 1;
		position: relative;
		.bt_bb_button.bt_bb_style_clean a {
			color: var(--primary-color, inherit);
			transition: none;
		}
	}

	/* Icon color */
	&.bt_bb_icon_color_accent .bt_bb_card_icon_icon .bt_bb_icon .bt_bb_icon_holder:before { color: var(--accent-color); }
	&.bt_bb_icon_color_alternate .bt_bb_card_icon_icon .bt_bb_icon .bt_bb_icon_holder:before { color: var(--alternate-color); }
	&.bt_bb_icon_color_light .bt_bb_card_icon_icon .bt_bb_icon .bt_bb_icon_holder:before { color: var(--light-color); }
	&.bt_bb_icon_color_dark .bt_bb_card_icon_icon .bt_bb_icon .bt_bb_icon_holder:before { color: var(--dark-color); }

	/* Icon color */
	&.bt_bb_button_icon_color_accent .bt_bb_card_icon_button .bt_bb_button .bt_bb_icon_holder:before { color: var(--accent-color); }
	&.bt_bb_button_icon_color_alternate .bt_bb_card_icon_button .bt_bb_button .bt_bb_icon_holder:before { color: var(--alternate-color); }
	&.bt_bb_button_icon_color_light .bt_bb_card_icon_button .bt_bb_button .bt_bb_icon_holder:before { color: var(--light-color); }
	&.bt_bb_button_icon_color_dark .bt_bb_card_icon_button .bt_bb_button .bt_bb_icon_holder:before { color: var(--dark-color); }

}


/* Padding */
$paddings: 5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 45px, 50px, 55px, 60px, 65px, 70px, 75px, 80px, 85px, 90px, 95px, 100px;

@each $padding in $paddings {
	.bt_bb_card.bt_bb_padding_#{$padding} {
		padding: $padding;
	}
}

@media (max-width: 480px) {
	.bt_bb_card_icon {
		padding: 15px;
		.bt_bb_card_icon_title {
			.bt_bb_headline .bt_bb_headline_tag {
				font-size: 1.9rem !important;
			}
		}
	}
}