/* Card Image 
--------------------------------------------------- */

.bt_bb_card_image {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 100%;
	color: var(--card-image-primary-color, inherit);
	background-color: var(--card-image-secondary-color, transparent);
	overflow: hidden;
	z-index: 2;
	transition: all 600ms ease;

	/* Shape */
	&.bt_bb_shape_soft-rounded {
		overflow: hidden;
		border-radius: var(--section-soft-rounded);
	}
	&.bt_bb_shape_hard-rounded {
		overflow: hidden;
		border-radius: var(--section-hard-rounded);
	}

	/* Alignment */
	&.bt_bb_alignment_middle {
		align-content: flex-start;
		&:not(.btNoImage), &.btNoImage.btWithHoverImage {
			.bt_bb_card_image_content_inner {
				top: 50%;
				transform: translate(0%,-50%);
			}
		}
	}
	&.bt_bb_alignment_bottom {
		align-content: flex-end;
		&:not(.btNoImage), &.btNoImage.btWithHoverImage {
			.bt_bb_card_image_content_inner {
				top: auto;
			}
		}
	}

	/* Blur */
	&.bt_bb_blur_background .bt_bb_card_image_image {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			backdrop-filter: blur(10px);
		}
	}

	/* Shadow */
	&.bt_bb_shadow_on_hover:hover {
		box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
	}
	&.bt_bb_shadow_on_hover_zoom:hover {
		box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
		.bt_bb_card_image_image {
			.bt_bb_image {
				img {
					transform: scale3d(1.03,1.03,1.03);
				}
			}
		}
	}
	&.bt_bb_shadow_show {
		box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
	}

	/* Border */
	&.bt_bb_border_gray {
		border: 1px solid var(--gray-02-color);
	}

	/* Overlay */
	&.bt_bb_background_overlay_dark_gradient {
		.bt_bb_card_image_image {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: linear-gradient( 0deg, rgba(18,18,18,0.9) 0%, rgba(18,18,18,0) 100%);
			}
		}
	}
	&.bt_bb_background_overlay_light_gradient {
		.bt_bb_card_image_image {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: linear-gradient( 0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
			}
		}
	}

	/* Hover style */
	&.bt_bb_hover_style_accent_bottom_gradient {
		.bt_bb_card_image_image {
			position: relative;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background-image: linear-gradient( 0deg, var(--accent-color) 0%, transparent 100%);
				transition: all 600ms ease;
				z-index: 1;
			}
		}
		&:hover .bt_bb_card_image_image:before {
			opacity: 0.9;
			transform: translateY(0%);
		}
	}
	&.bt_bb_hover_style_alternate_bottom_gradient {
		.bt_bb_card_image_image {
			position: relative;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background-image: linear-gradient( 0deg, var(--alternate-color) 0%, transparent 100%);
				transition: all 600ms ease;
				z-index: 1;
			}
		}
		&:hover .bt_bb_card_image_image:before {
			opacity: 0.9;
			transform: translateY(0%);
		}
	}
	&.bt_bb_hover_style_light_bottom_gradient {
		.bt_bb_card_image_image {
			position: relative;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background-image: linear-gradient( 0deg, var(--light-color) 0%, transparent 100%);
				transition: all 600ms ease;
				z-index: 1;
			}
		}
		&:hover .bt_bb_card_image_image:before {
			opacity: 0.9;
			transform: translateY(0%);
		}
	}
	&.bt_bb_hover_style_dark_bottom_gradient {
		.bt_bb_card_image_image {
			position: relative;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background-image: linear-gradient( 0deg, var(--dark-color) 0%, transparent 100%);
				transition: all 600ms ease;
				z-index: 1;
			}
		}
		&:hover .bt_bb_card_image_image:before {
			opacity: 0.9;
			transform: translateY(0%);
		}
	}


	/* Background image */
	.bt_bb_card_image_image, .bt_bb_card_image_hover_image {
		pointer-events: none;
		margin: 0 auto;
		.bt_bb_image {
			pointer-events: none;
			img {
				width: 100%;
				transform: scale3d(1,1,1);
				transition: transform 300ms ease-out;
			}
		}
	}

	/* Inner content */
	.bt_bb_card_image_content_inner {
		padding: 20px;
		display: block;
		height: fit-content;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 4;
		pointer-events: none;
		.bt_bb_button, .bt_bb_icon {
			pointer-events: all;
			z-index: 5;
		}
	}

	/* No background image + No hover image */
	&:not(.btWithHoverImage).btNoImage {
		.bt_bb_card_image_content_inner {
			position: relative;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
		}
	}

	/* With background image + Hover image */
	&:not(.btNoImage).btWithHoverImage {
		.bt_bb_card_image_hover_image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: all 350ms ease;
			.bt_bb_image img {
				width: 100%;
			}
		}
		&:hover {
			.bt_bb_card_image_hover_image {
				opacity: 1;
			}
		}
	}

	/* No background image + Hover image */
	&.btNoImage.btWithHoverImage {
		.bt_bb_card_image_hover_image {
			opacity: 0;
			transition: all 350ms ease;
		}
		&:hover {
			.bt_bb_card_image_hover_image {
				opacity: 1;
			}
		}
	}


	/* Link */
	.btCardLink {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 4;
	}

	/* Card Tag */
	.bt_bb_card_image_tag_text {
		font-weight: 600;
		position: absolute;
		top: 20px;
		left: 20px;
		padding: 0.25rem 1.25rem;
		border-radius: 30px;
		color: var(--card-image-primary-color, var(--light-color));
		border: 2px solid var(--card-image-primary-color, var(--light-color));
		z-index: 3;
	}

	/* Padding */
	&.bt_bb_padding_normal {
		.bt_bb_card_image_tag_text {
			top: 20px;
			left: 20px;
		}
		.bt_bb_card_image_content_inner {
			padding: 20px;
		}
	}
	&.bt_bb_padding_double {
		.bt_bb_card_image_tag_text {
			top: 40px;
			left: 40px;
		}
		.bt_bb_card_image_content_inner {
			padding: 40px;
		}
	}
	&.bt_bb_padding_text_indent {
		.bt_bb_card_image_tag_text {
			top: 25px;
			left: 25px;
		}
		.bt_bb_card_image_content_inner {
			padding: 25px;
			.bt_bb_image {
				margin-left: -25px;
				margin-right: -25px;
				margin-top: -25px;
			}
		}
	}
}


/* Padding */
$paddings: 5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 45px, 50px, 55px, 60px, 65px, 70px, 75px, 80px, 85px, 90px, 95px, 100px;

@each $padding in $paddings {
	.bt_bb_card_image.bt_bb_padding_#{$padding} {
		padding: $padding;
	}
	.bt_bb_card_image.bt_bb_padding_#{$padding} .bt_bb_card_image_tag_text {
		top: $padding;
		left: $padding;
	}
	.bt_bb_card_image:not(.btNoImage).bt_bb_padding_#{$padding} .bt_bb_card_image_content_inner {
		padding: $padding;
	}
	.bt_bb_card_image:not(.btNoImage).bt_bb_padding_#{$padding} {
		padding: 0;
	}
}