/* Capitalize numbers - New theme option in Customizer 
------------------------------------ */
body.uppercase-numbers-1 {
	font-variant-numeric: lining-nums;
}

/* Timeline -Custom class for theme demo 
------------------------------------ */
.btDemo01.bold_timeline_container {
	.bold_timeline_group .bold_timeline_group_header {
		margin-bottom: 7em !important;
	}
	&.bold_timeline_container_item_style_outline_top.bold_timeline_container_line_position_vertical.bold_timeline_container_item_connection_type_line .bold_timeline_item_override_connection_type_inherit.bold_timeline_item.bold_timeline_item_override_style_inherit .bold_timeline_item_connection {
		top: 1em !important;
	}
	&.bold_timeline_container_item_style_outline_top.bold_timeline_container_line_position_vertical.bold_timeline_container_item_marker_type_dot .bold_timeline_item_override_marker_type_inherit.bold_timeline_item.bold_timeline_item_override_style_inherit .bold_timeline_item_marker {
		top: 1em !important;
	}
	.bold_timeline_group_override_title_size_small.bold_timeline_group {
		.bold_timeline_group_header_inner {
			line-height: 1;
			width: 100%;
			height: 100%;
			padding-bottom: 1rem;
			.bold_timeline_group_header_title {
				font-size: var(--huge-title-size) !important;
				color: var(--accent-color);
				position: relative !important;
				transform: none !important;
			}
		}
	}
	.bold_timeline_item_override_title_size_inherit.bold_timeline_item .bold_timeline_item_header .bold_timeline_item_header_title {
		font-size: var(--large-title-size) !important;
		padding-bottom: 1rem;
	}

	.bold_timeline_item_override_supertitle_style_inherit.bold_timeline_item .bold_timeline_item_header .bold_timeline_item_header_supertitle .bold_timeline_item_header_supertitle_inner {
		font-size: 1.5rem !important;
		font-family: var(--heading-font);
		font-weight: var(--heading-font-weight);
		color: var(--accent-color);
	}
	.bold_timeline_item_override_title_size_inherit.bold_timeline_item .bold_timeline_item_header .bold_timeline_item_header_subtitle {
		font-size: 1.5rem !important;
		font-family: var(--subtitle-font);
		font-weight: var(--subtitle-font-weight);
		text-transform: var(--subtitle-text-transform);
		font-style: italic;
	}
	.bold_timeline_item_override_style_inherit.bold_timeline_item .bold_timeline_item_inner {
		border-top: none !important;
	}
	.bold_timeline_item_override_style_inherit.bold_timeline_item .bold_timeline_item_inner .bold_timeline_item_header {
		padding-top: 0em;
	}
	.bold_timeline_item .bold_timeline_item_inner .bold_timeline_item_media .bold_timeline_item_media_images .bold_timeline_item_media_image img {
		.button-shape-rounded & {
			border-radius: var(--section-soft-rounded);
		}
		.button-shape-round & {
			border-radius: var(--section-hard-rounded);
		}
	}
}

@media (max-width: 1199px) {
	.btDemo01.bold_timeline_container {
		.bold_timeline_group_override_title_size_small.bold_timeline_group {
			.bold_timeline_group_header_inner {
				.bold_timeline_group_header_title {
					font-size: 9em !important;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.btDemo01.bold_timeline_container {
		.bold_timeline_group_override_title_size_small.bold_timeline_group {
			.bold_timeline_group_header_inner {
				.bold_timeline_group_header_title {
					font-size: 7.5em !important;
				}
			}
		}
		.bold_timeline_item_override_title_size_inherit.bold_timeline_item .bold_timeline_item_header .bold_timeline_item_header_title {
			font-size: 4rem !important;
		}
	}
}


/* Image - Custom Class */
.bt-player-01 {
	margin-top: -10em;
	margin-left: -8em;
}
.bt-player-02 {
	position: absolute;
	top: -1em;
	left: -4em;
}

@media (max-width: 991px) {
	.bt-player-02 {
		position: relative;
		top: auto; left: auto;
	}
}

/* Hero Slider */
.bt_hero_slider {
	.slick-slider .slick-list .slick-slide .bt_bb_content_slider_item_content {
		z-index: 2;
	}
}


/* Woocommerce shop pages - Margin bottom */
/*body.woocommerce-page .site-content {
    margin-bottom: 0;
}*/
body.woocommerce-page {
	&.default-headline-height-regular,
	&.default-headline-height-thin,
	&.default-headline-height-thick,
	&.default-headline-height-fullscreen {
		.site-content {
			margin-bottom: var(--post-margin-bottom);
		}
	}
}



/* Page shape - New theme option in Customizer 
------------------------------------ */
body.page-shape-rounded {
	margin: 2em;
	
	&.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-open .site-header-responsive {
		margin-left: -2em;
	}

	/* First section when logged */
	.entry-content .entry-content-inner .bt_bb_wrapper > .bt_bb_fe_wrap:first-child .bt_bb_section {
		border-top-left-radius: var(--section-hard-rounded);
		border-top-right-radius: var(--section-hard-rounded);
		overflow: hidden;
	}

	/* First section not logged */
	.entry-content .entry-content-inner .bt_bb_wrapper > .bt_bb_section:first-child {
		border-top-left-radius: var(--section-hard-rounded);
		border-top-right-radius: var(--section-hard-rounded);
		overflow: hidden;
	}

	/* Footer */
	.site-footer {
		border-bottom-left-radius: var(--section-hard-rounded);
		border-bottom-right-radius: var(--section-hard-rounded);
		overflow: hidden;
	}

	/* Blog/Posts pages */
	.bt-blog-header-content > .bt_bb_section:first-child {
		border-top-left-radius: var(--section-hard-rounded);
		border-top-right-radius: var(--section-hard-rounded);
		overflow: hidden;
	}

	/* With Default headline */
	&.default-headline-height-thin,
	&.default-headline-height-regular,
	&.default-headline-height-thick,
	&.default-headline-height-fullscreen {
		.page-header {
			border-top-left-radius: var(--section-hard-rounded);
			border-top-right-radius: var(--section-hard-rounded);
			overflow: hidden;
		}
		.entry-content .entry-content-inner .bt_bb_wrapper > .bt_bb_fe_wrap:first-child .bt_bb_section,
		.entry-content .entry-content-inner .bt_bb_wrapper > .bt_bb_section:first-child,
		.bt-blog-header-content > .bt_bb_section:first-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			overflow: visible;
		}
	}
}

@media (max-width: 1199px) {
	body.page-shape-rounded {
		margin: 1em;
		&.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-open .site-header-responsive {
			margin-left: -1em;
		}
	}
}

@media (max-width: 480px) {
	body.page-shape-rounded {
		margin: 0.5em;
		&.bt-sticky-header-active.bt-sticky-header.bt-sticky-header-active-open .site-header-responsive {
			margin-left: -0.5em;
		}
	}
}