/* Navigation */
.comment-navigation,
.posts-navigation,
.post-navigation {
	.nav-links {
		.nav-previous, .nav-next {
			a {
				transition: all 200ms ease;
				.nav-inner {
					position: relative;
					min-height: var(--nav-links-arrow-only-size);
					&:before {
						content: "\e684";
						font-family: Icon7Stroke;
						font-size: var(--nav-links-arrow-size);
						display: flex;
						align-items: center;
						justify-content: center;
						flex: 0 0 var(--nav-links-arrow-only-size);
						height: var(--nav-links-arrow-only-size);
						margin: 0 0 0 var(--nav-links-arrow-margin);
						color: var(--accent-color);
						box-shadow: 0 0 0 2px var(--accent-color) inset;
						transition: all 200ms ease;
						z-index: 2;
						.button-shape-square & {
							border-radius: 0;
						}
						.button-shape-rounded & {
							border-radius: var(--soft-rounded);
						}
						.button-shape-round & {
							border-radius: var(--hard-rounded);
						}
						.rtl & {
							content: "\e686";
						}
					}
					&.nav-inner-with-image {
						min-height: var(--nav-links-image-size);
						&:before {
							flex: 0 0 var(--nav-links-image-size);
							height: var(--nav-links-image-size);
							background: var(--accent-color);
							box-shadow: none;
							color: var(--light-color);
							mix-blend-mode: var(--post-overlay-effect);
						}
						&.nav-inner-post-without-image {
							&:before {
								mix-blend-mode: unset;
							}
						}
					}
					.nav-text {
						transition: all 200ms ease;
					}
				}
				&:hover {
					color: var(--accent-color); 
				}
			}
			.nav-image {
				position: absolute;
				top: 0;
				margin: 0;
				width: var(--nav-links-image-size);
				transition: all 200ms ease;
				.rtl & {
					margin: 0;
				}
			}
			.nav-text {
				.nav-supertitle {
					font-family: var(--body-font);
				}
				.nav-title {
					font-family: var(--button-font);
					font-weight: var(--button-font-weight);
					font-style: var(--button-font-style);
					transition: none;
					line-height: 1.2;
				}
				.nav-date {
					font-family: var(--body-font);
				}
			}
		}
		.nav-previous {
			a {
				.nav-inner {
					&:before {
						margin: 0 var(--nav-links-arrow-margin) 0 0;
						transform: scalex(-1);
						.rtl & {
							margin: 0 0 0 var(--nav-links-arrow-margin);
						}
					}
					
				}
				&:hover {
					.nav-text {
						transform: none;
						.rtl & {
							transform: translateX(calc(var(--nav-links-text-hover-margin) * -1));
						}
					}
				}
			}
		}
		.nav-next {
			a {
				.nav-inner {
					&:before {
						.rtl & {
							margin: 0 var(--nav-links-arrow-margin) 0 0;
						}
					}
					
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		.nav-links {
			.nav-next {
				&:not(:first-child) {
					margin-top: 1rem;
				}
			}
		}
	}
}

/* Next / Previous for comments */
.comment-navigation {
	.nav-links {
		justify-content: space-between;
		.nav-previous, .nav-next {
			font-family: var(--button-font);
			font-weight: var(--button-font-weight);
			font-style: var(--button-font-style);
			display: flex;
			a {
				display: inline-flex;
				align-items: center;		
				&:after {
					display: flex;
					font-family: Icon7Stroke;
					content: "\e684";
					font-size: var(--post-comments-arrow-size);
					font-weight: normal;
					width: 1em;
					height: 1em;
					color: var(--light-color);
					background: var(--accent-color);
					margin: 0 0 0 var(--post-comments-arrow-margin);
					align-items: center;
					justify-items: center;
					transition: 300ms ease all;
					.button-shape-square & {
						border-radius: 0;
					}
					.button-shape-rounded & {
						border-radius: var(--soft-rounded);
					}
					.button-shape-round & {
						border-radius: var(--hard-rounded);
					}
					.rtl & {
						margin-right: var(--post-comments-arrow-margin);
						margin-left: 0;
						content: "\e686";
					}
				}
				&:hover {
					&:after {
						transform: var(--post-comments-arrow-hover-transform);
						box-shadow: var(--post-comments-arrow-hover-shadow);
						margin: 0 0 0 var(--post-comments-arrow-hover-margin);
						.rtl & {
							margin: 0 var(--post-comments-arrow-hover-margin) 0 0;
						}
					}
				}
			}
		}
		.nav-next {
			a {
				text-align: right;
				.rtl & {
					text-align: left;
				}
			}
		}
		.nav-previous {
			a {
				flex-direction: row-reverse;
				&:after {
					transform: scaleX(-1);
					margin: 0 var(--post-comments-arrow-margin) 0 0;
					.rtl & {
						margin: 0 0 0 var(--post-comments-arrow-margin);
					}
				}
				&:hover {
					&:after {
						transform: scaleX(-1) var(--post-comments-arrow-hover-transform);
						margin: 0 var(--post-comments-arrow-hover-margin) 0 0;
						.rtl & {
							margin: 0 0 0 var(--post-comments-arrow-margin);
						}
					}
				}
			}
		}
		.nav-next {
			justify-content: flex-end;
		}
	}
}

@media (max-width: 768px) {
	.comment-navigation {
		.nav-links {
			.nav-previous, .nav-next {
				a {
					font-size: .875em;
				}
			}
		}
	}
}
@media (max-width: 480px) {
	.comment-navigation {
		.nav-links {
			.nav-previous, .nav-next {
				a {
					font-size: .75em;
				}
			}
		}
	}
}