/* Score
--------------------------------------------------- */
.bt_bb_score {
	display: flex;
	width: 100%;
	align-items: center;
	transition: all 600ms ease;

	&[class*="bt_bb_color_scheme"] .bt_bb_score_details {
		background-image: none;
	}

	/* Shadow */
	&.bt_bb_shadow_on_hover:hover {
		box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	}
	&.bt_bb_shadow_show {
		box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	}

	/* Shape */
	&.bt_bb_shape_soft-rounded {
		overflow: hidden;
		border-radius: var(--section-soft-rounded);
		.bt_bb_score_date {
			border-top-left-radius: var(--section-soft-rounded);
			border-bottom-left-radius: var(--section-soft-rounded);
			.rtl & {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-top-right-radius: var(--section-soft-rounded);
				border-bottom-right-radius: var(--section-soft-rounded);
			}
		}
		.bt_bb_score_details {
			border-top-right-radius: var(--section-soft-rounded);
			border-bottom-right-radius: var(--section-soft-rounded);
			.rtl & {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-top-left-radius: var(--section-soft-rounded);
				border-bottom-left-radius: var(--section-soft-rounded);
			}
		}
		&.btNoDate {
			.bt_bb_score_details {
				border-radius: var(--section-soft-rounded);
			}
		}
	}
	&.bt_bb_shape_hard-rounded {
		overflow: hidden;
		border-radius: var(--section-hard-rounded);
		.bt_bb_score_date {
			border-top-left-radius: var(--section-hard-rounded);
			border-bottom-left-radius: var(--section-hard-rounded);
		}
		.bt_bb_score_details {
			border-top-right-radius: var(--section-hard-rounded);
			border-bottom-right-radius: var(--section-hard-rounded);
		}
		&.btNoDate {
			.bt_bb_score_details {
				border-radius: var(--section-hard-rounded);
			}
		}
	}

	/* Date */
	.bt_bb_score_date {
		font-family: var(--heading-font);
		font-weight: var(--heading-font-weight);
		max-width: 55px;
		flex: 1 0 55px;
		padding: 0.8em 0.5em;
		align-self: stretch;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		color: var(--date-primary-color, var(--light-color));
		background: var(--date-secondary-color, var(--dark-color));
		&:empty {
			display: none;
		}
		.bt_bb_score_day {
			span {
				font-size: var(--small-title-size);
				line-height: 1;
			}
		}
	}

	.bt_bb_score_details {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 1em;
		justify-content: space-evenly;
		border: 1px solid rgb(219, 219, 219);
		color: var(--score-primary-color, var(--dark-color));
		background-image: linear-gradient( 270deg, rgba(255,255,255,0.4) 0%, rgb(255,255,255) 100%, rgb(255,255,255) 100%);
		background-color: var(--score-secondary-color, inherit);
		backdrop-filter: blur(8px);

		/* Numbers */
		.bt_bb_score_score_01, .bt_bb_score_score_02 {
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			justify-content: center;
			padding: 0.25rem;
			.bt_bb_counter_holder .bt_bb_counter_content .bt_bb_counter {
				font-size: 3.75rem;
				color: var(--score-primary-color, inherit);
				span.onedigit span {
					letter-spacing: -3px;
				}
			}
		}
		.bt_bb_score_score_01 {
			.bt_bb_score_detail_01 {
				font-family: var(--heading-font);
				font-weight: var(--heading-font-weight);
				display: block;
				width: 100%;
				text-align: center;
				color: var(--score-primary-color, inherit);
			}
		}
		.bt_bb_score_score_02 {
			.bt_bb_score_detail_02 {
				font-family: var(--heading-font);
				font-weight: var(--heading-font-weight);
				display: block;
				width: 100%;
				text-align: center;
				color: var(--score-primary-color, inherit);
			}
		}

		/* Image */
		.bt_bb_score_image_01, .bt_bb_score_image_02 {
			padding: 0.25rem;
			flex: 1 0 20%;
			max-width: 20%;
			.bt_bb_image {
				max-width: 115px;
				float: none;
				margin: 0 auto;
			}
		}

		/* Content */
		.bt_bb_score_content_inner {
			padding: 0.25rem;
			.bt_bb_button {
				margin: 0 !important;
			}
		}
	}
}

@media (max-width: 768px) {
	.bt_bb_score {
		display: block;
		.bt_bb_score_date {
			max-width: inherit;
			align-items: center;
			.bt_bb_score_day {
				display: inline-block;
				width: auto;
				float: left;
				padding-right: 0.5em;
			}
			.bt_bb_score_month {
				display: inline-block;
			}
		}
		&.bt_bb_shape_soft-rounded {
			.bt_bb_score_date {
				border-top-right-radius: var(--section-soft-rounded);
				border-bottom-left-radius: 0;
			}
			.bt_bb_score_details {
				border-top-right-radius: 0;
				border-bottom-left-radius: var(--section-soft-rounded);
			}
		}
		&.bt_bb_shape_hard-rounded {
			.bt_bb_score_date {
				border-top-right-radius: var(--section-hard-rounded);
				border-bottom-left-radius: 0;
			}
			.bt_bb_score_details {
				border-top-right-radius: 0;
				border-bottom-left-radius: var(--section-hard-rounded);
			}
		}
	}
}

@media (max-width: 576px) {
	.bt_bb_score {
		.bt_bb_score_details {
			flex-wrap: wrap;
			.bt_bb_score_image_01,
			.bt_bb_score_image_02 {
				display: flex;
				max-width: inherit;
				flex: 1 0 100%;
				.bt_bb_image {
					width: 100%;
					margin: 0 auto;
					img {
						margin: 0 auto;
					}
				}
			}
			.bt_bb_score_image_01 {
				padding: 2em 1em 1em;
			}
			.bt_bb_score_image_02 {
				padding: 1em 1em 2em;
			}
		}
	}
}

@media (max-width: 480px) {
	.bt_bb_score {
		.bt_bb_score_details {
			display: block;
			.bt_bb_score_score_01,
			.bt_bb_score_score_02 {
				min-width: 100%;
			}
			.bt_bb_score_score_01 {
				padding-bottom: 2em;
			}
			.bt_bb_score_score_02 {
				padding-top: 2em;
			}
			.bt_bb_score_content_inner {
				display: flex;
				.bt_bb_button {
					margin: 0 auto !important;
				}
				.bt_bb_text {
					margin: 0 auto !important;
				}
			}
		}
	}
}