/* Single product 
--------------------------------------------------- */
.bt_bb_single_product {
	.bt_bb_single_product_image {
		padding-bottom: 1em;
	}
	.bt_bb_single_product_content {
		.bt_bb_single_product_price {
			font-size: var(--small-title-size);
			font-family: var(--heading-font);
			font-weight: var(--heading-font-weight);
			padding-bottom: 0.75rem;
		}
		.bt_bb_single_product_price_cart {
			opacity: 0;
			transition: all 600ms ease;
			.touch & {
				opacity: 1;
			}
			a.added_to_cart {
				padding-left: 1em;
			}
		}
	}
	&:hover {
		color: inherit;
		.bt_bb_single_product_price_cart {
			opacity: 1;
		}
	}
	&.bt_bb_button_width_full {
		.bt_bb_single_product_price_cart {
			.add_to_cart_inline a {
				width: 100%;
			}
		}
	}
}