@use '../../framework/assets/scss/global';


/* Single score 
--------------------------------------------------- */
.bt_bb_single_score {
	display: flex;
	align-items: center;
	padding: 1.5rem;
	position: relative;
	backdrop-filter: blur(8px);
	transition: all 600ms ease;

	/* Gradient */
	&.bt_bb_gradient_light {
		background-image: linear-gradient( 270deg, rgba(255,255,255,0.4) 0%, rgb(255,255,255) 100%, rgb(255,255,255) 100%);
	}
	&.bt_bb_gradient_dark {
		background-image: linear-gradient( -90deg, rgba(31,31,31,0.10196) 0%, rgba(31,31,31,0.4) 100%, rgba(31,31,31,0.4) 100%);
	}

	/* Border */
	&.bt_bb_border_show {
		border: 1px solid var(--gray-typo-color);
	}
	/* Border Color */
	&.bt_bb_border_color_accent { border-color: var(--accent-color); }
	&.bt_bb_border_color_alternate { border-color: var(--alternate-color); }
	&.bt_bb_border_color_dark { border-color: var(--dark-color); }
	&.bt_bb_border_color_light { border-color: var(--light-color); }

	/* Shadow */
	&.bt_bb_shadow_on_hover:hover {
		box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	}
	&.bt_bb_shadow_show {
		box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	}

	/* Shape */
	&.bt_bb_shape_soft-rounded {
		overflow: hidden;
		border-radius: var(--section-soft-rounded);
	}
	&.bt_bb_shape_hard-rounded {
		overflow: hidden;
		border-radius: var(--section-hard-rounded);
	}

	/* Link */
	.bt_bb_single_score_link {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
	}

	/* Image */
	.bt_bb_single_score_image {
		padding-right: 1em;
		flex: 1 0 20%;
		.rtl & {
			padding-left: 1em;
			padding-right: 0em;
		}
		.bt_bb_image {
			max-width: 120px;
		}
	}

	/* Title */
	.bt_bb_single_score_title {
		padding-right: 1em;
		.rtl & {
			padding-left: 1em;
			padding-right: 0em;
		}
		.bt_bb_headline_superheadline {
			font-size: 1rem;
		}
		.bt_bb_headline_subheadline {
			font-size: 1.125rem;
			margin-top: 0.3em;
		}
	}

	.bt_bb_single_score_content {
		text-align: right;
		display: flex;
		justify-self: flex-end;
		flex: auto;
		align-items: center;
		justify-content: flex-end;
		.bt_bb_single_score_item {
			.bt_bb_single_score_item_score {
				.bt_bb_single_score_score_number {
					text-align: right;
					display: flex;
					justify-content: flex-end;
					.bt_bb_counter_holder {
						font-size: 3.75rem;
					}
				}
				.bt_bb_single_score_text {
					font-size: 1.125rem;
					display: block;
					width: 100%;
				}
			}
		}
	}
}

.bt_bb_single_score .bt_bb_single_score_content {
	.bt_bb_single_score_item + .bt_bb_single_score_item {
		padding-left: 2.7em;
		padding-right: 1em;
		margin-left: 2.7em;
		border-left: 1px solid currentColor;
		.rtl & {
			padding-right: 2.7em;
			padding-left: 1em;
			margin-left: 0em;
			margin-right: 2.7em;
			border-right: 1px solid currentColor;
			border-left: 0px solid currentColor;
		}
	}
}


@media (max-width: 1200px) {
	.bt_bb_single_score {
		display: block;
		.bt_bb_single_score_image {
			padding-right: 0em;
			padding-bottom: 1rem;
			.bt_bb_image {
				float: none;
				margin: 0 auto;
			}
		}
		.bt_bb_single_score_title {
			padding-bottom: 1rem;
			padding-left: 0 !important;
			.bt_bb_headline {
				text-align: center;
			}
		}
		.bt_bb_single_score_content {
			text-align: center;
			justify-self: auto;
			padding-left: 0em;
			justify-content: center;
			.bt_bb_single_score_score_number {
				text-align: inherit;
				justify-content: inherit;
			}
		}
	}
}

@media (max-width: 580px) {
	.bt_bb_single_score .bt_bb_single_score_content {
		display: block;
		.bt_bb_single_score_item {
			padding-left: 0px !important;
			padding-right: 0px !important;
			margin-left: 0px !important;
			margin-right: 0px !important;
			border: none !important;
			.bt_bb_single_score_item_score .bt_bb_single_score_item_score_number {
				.bt_bb_counter_holder.btNoIcon {
					justify-content: center !important;
					.bt_bb_counter_content .bt_bb_counter {
						display: block !important;
					}
				}
			}
		}
	}
}