/* Typography 
--------------------------------------------------- */
input:not([type=submit]):not([type=checkbox]):not([type=radio]), textarea, select, .fancy-select .trigger {
	border: 1px solid var(--gray-typo-color);
	background-color: var(--very-light-color);
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):focus, textarea:focus, .fancy-select .trigger.open {
	border: 1px solid var(--gray-typo-color);
	box-shadow: 0 3px 10px rgb(24 24 24 / 10%);
}

input:not([type='submit']):not([type='checkbox']):not([type='radio']), textarea {
	padding: 0.925em;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0.5em 0.925em;
	line-height: 1.1 !important;
	height: 42px;
	transition: 200ms ease all;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiMxODE4MTgiIGQ9Ik0xMiwxMy4xNzJsNC45NS00Ljk1bDEuNDEzLDEuNDE0TDEyLDE2TDUuNjM2LDkuNjM2TDcuMDUsOC4yMjJMMTIsMTMuMTcyeiIvPg0KPC9zdmc+DQo=');
	background-position: 95% 50%;
	background-repeat: no-repeat;
	background-size: 20px;
	.rtl & {
		background-position: 3% 50%;
	}
	option {
		background: var(--light-color);
	}
}


h1, h2, h3, h4, h5, h6 {
	line-height: 1.0333;
	padding: 0 0 0.3em 0;
}
h1 {
	font-size: 5em;
}
h2 {
	font-size: 3.5em;
}	
h3 {
	font-size: 2.5em;
}
h4 {
	font-size: 2em;
}
h5 {
	font-size: 1.875em;
}
h6 {
	font-size: 1.375em;
}
cite {
	font-size: 1.375rem;
	font-family: var(--subtitle-font);
	font-weight: var(--subtitle-font-weight);
	font-style: var(--subtitle-font-style);
}