body {
/*	Framework related variables, overrides from framework variables.scss
--------------------------------------------------------------------------------------------------------------------*/

	/* Header styling */
	--desktop-menu-selected-line-width: 20px;						/* Width of the selected line on main menu */

	/* Subtoggle options */
	--subtoggler-size: 8px;											/* Size of subtoggler for touch devices */
	--subtoggler-thickness: 1px;									/* Thickness of the subtoggler arrow - it's not a font! */

	/* Preloader */
	--preloader-background-opacity: 1;								/* Preloader opacity */

	--logo-height: 80px;											/* Logo height */
	--sticky-logo-height: 70px;										/* Sticky logo height */
	--responsive-logo-height: 80px;									/* Responsive logo height */
	--accent-color: #fc3a45;										/* Accent, primary color */
	--alternate-color: blue;										/* Alternate, secondary color */
	--body-font: Exo;												/* Body font */
	--heading-font: Antonio;										/* Heading font */
	--heading-font-weight: bold;									/* Heading font weight */
	--heading-text-transform: uppercase;							/* Heading text transform */
	--supertitle-font: Antonio;										/* Supertitle font */
	--supertitle-font-weight: 600;									/* Supertitle font weight */
	--supertitle-text-transform: uppercase;							/* Supertitle text transform */
	--subtitle-font: Exo;											/* Subtitle font */
	--subtitle-font-weight: 500;									/* Subtitle font weight */
	--menu-font: Exo;												/* Menu font */
	--menu-first-level-text-transform: uppercase;					/* Menu first level text transform */
	--menu-other-levels-text-transform: uppercase;					/* Menu other levels text transform */
	--menu-first-level-font-weight: 500;							/* Menu first level font weight */
	--menu-other-levels-font-weight: 500;							/* Menu other levels font weight */
	--menu-font-size: 15px;											/* Menu font size */
	--button-font: Exo;												/* Button font */
	--button-font-weight: 500;										/* Button font weight */

	
	/* Desktop menu options */
	--topbar-height: 40px;											/* Height of the desktop top bar */

	/* Responsive trigger options */
	--responsive-trigger-thickness: 4px;							/* Thickness of the menu trigger */
	--responsive-trigger-size: 42px;								/* Size of the responsive trigger, width + height */
	--responsive-trigger-line-spacing: 5px;							/* Menu trigger */

	--responsive-menu-max-width: 300px;								/* Responsive Menu width */

	/* Desktop first level menu options */
	--desktop-menu-gap: 20px;										/* Gap between items in first level desktop menu */

	/* Button border radiuses */
	--small-button-full-radius: 1.833em;							/* Small buttons radius */
	--medium-button-full-radius: 1.875em;							/* Medium buttons radius */
	--normal-button-full-radius: 1.875em;							/* Normal buttons radius */
	--large-button-full-radius: 1.889em;							/* Large buttons radius */

	/* Widgets */
	--widgets-inner-spacing: 3em;									/* Spacing between widgets in sidebar */

	/* Post variable override */
	--post-inner-spacing: 6em;										/* Override single post inner spacing */
	--pagination-inner-spacing: 3em;								/* Spacing for pagination after the posts */
	--post-meta-margin: 1.25rem;										/* Margin value for posts, blog  and portfolio */
	--post-navigation-font-size: 1em;								/* Font size for newer, older posts */
	--post-half-margin: 2rem;										/* Margin bottom in post */
	
	/* Nav links */
	--nav-links-arrow-only-size: 4rem;								/* Image size for previous / next arrows with images turned off */
	--nav-links-arrow-size: 3rem;									/* Font size for the arrows in previous/next */
	--nav-links-arrow-margin: .25em;								/* Margin between arrows and content in previous/next */
	--nav-links-text-hover-margin: 6px;								/* Margin between arrow and text in previous/next */
	--bp768-nav-links-image-size: 4rem;								/* Image size for previous/next - breakpoint 768px */
	--nav-links-post-title-size: 1.375rem;									/* Next/prev title size */

	/* Nav links */
	--nav-links-image-size: 6rem;									/* Image size for previous/next */

	/* Comments */
	--post-comments-arrow-size: 2rem;								/* Size of the arrow for older/newer comments */
	--post-comments-arrow-margin: .25em;							/* Margin between arrow and text */
	--post-comments-arrow-hover-transform: translateY(-3px);		/* Transform comments arrow on hover */
	--post-comments-arrow-hover-shadow: 0 3px 10px rgb(24 24 24 / 30%);		/* Shadown on comments arrow on hover */
	--post-comments-arrow-hover-margin: .4em;						/* Margin between arrow and text in comments arrows */

	/* Woocommerce */
	--woocommerce: var(--accent-color);

	/* Cart */
	--woo-cart-widget-icon: "\e95f";								/* Icon for cart widget */
	--woo-cart-widget-icon-font: RemixIconsFinance;					/* Font family for it */
	--woo-cart-widget-remove-icon: "\e954";							/* Remove from cart icon */
	--woo-cart-widget-remove-icon-font: RemixIconsSystem;			/* Font family for it */
	--woo-cart-widget-icon-size: 1.4em;								/* Cart widget icon size */

	/* Search widget */
	--search-widget-icon-open: "\e9d7";								/* Search widget icon */
	--search-widget-icon-open-font: RemixIconsSystem;				/* Search widget icon font */
	--search-widget-icon-close: "\e954";							/* Search widget close icon */
	--search-widget-icon-close-font: RemixIconsSystem;				/* Search widget icon font */
	--search-widget-icon-search: "\e9d7";							/* Search widget icon in search field */
	--search-widget-icon-search-font: RemixIconsSystem;				/* Search widget icon font */
	--search-widget-icon-open-size: 1.4em;							/* Search widget icon size */

	/* MFP gallery icons */
	--mfp-gallery-close-icon: "\e955";								/* Grid gallery close icon */
	--mfp-gallery-close-icon-font: RemixIconsSystem;				/* Grid gallery close icon font */

	/* Contact form 7 */
	--cf7-date-icon: "\e92f";										/* Icon for input type date field */
	--cf7-date-icon-font: RemixIconsBusiness;						/* Font family for the icon */

	/* Shop product list */
	--woo-product-content-padding: 0em;								/* Padding product list */
	--woo-sale-tag-background: rgba(var(--accent-color-rgb), .1);	/* Background color for sale tag */

	/* Latest posts */
	--latest-posts-gap-small: .625em;								/* Small latest posts gap */
	--latest-posts-gap-normal: 1.25em;								/* Normal latest posts gap */
	--latest-posts-gap-large: 2.5em;								/* Large latest posts gap */
	--latest-posts-date-icon: "\ea15";								/* Date Icon on latest news, post grid, etc */
	--latest-posts-date-icon-font: RemixIconsSystem;				/* Font for it */
	--latest-posts-author-icon: "\e947";							/* Author Icon on latest news, post grid, etc */
	--latest-posts-author-icon-font: RemixIconsUser;				/* Font for it */
	--latest-posts-comments-icon: "\e901";							/* Comments Icon on latest news, post grid, etc */
	--latest-posts-comments-icon-font: RemixIconsCommunication;		/* Font for it */
	--latest-posts-category-icon: "\e91b";							/* Category Icon on latest news, post grid, etc */
	--latest-posts-category-icon-font: RemixIconsBusiness;			/* Font for it */


	/* Title sizes */
	--title-size-extrasmall: 1.375rem;
	--title-size-small: 1.875rem;
	--title-size-medium: 2.5rem;
	--title-size-normal: 3.5rem;
	--title-size-large: 5rem;
	--title-size-extralarge: 7.5rem;
	--title-size-huge: 12.5rem;




/*	Theme related variables, new variables used throughout the theme
--------------------------------------------------------------------------------------------------------------------*/
	/* Desktop menu options */
	--sticky-menu-shadow: 0px 10px 20px 0px rgb(0 0 0 / 10%);		/* shadow used on sticky menus */

	/* Title sizes */
	--extrasmall-title-size: 1.375rem;								/* Title size - Extra small */
	--small-title-size: 1.875rem;									/* Title size - Small */
	--medium-title-size: 2.5rem;									/* Title size - Medium */
	--normal-title-size: 3.5rem;									/* Title size - Normal */
	--large-title-size: 5rem;										/* Title size - Large */
	--extralarge-title-size: 7.5rem;								/* Title size - Extra large */
	--huge-title-size: 12.5rem;										/* Title size - Huge */

	/* Section rounded shapes */
	--section-soft-rounded: 16px;									/* Soft rounded shape, eg. Section */
	--section-hard-rounded: 24px;									/* Hard rounded shape, eg. Section */

	/* New color variables */
	--dark-07-color: rgb(24 24 24 / 7%);							/* Dark color for borders, backgrounds */
	--light-07-color: rgb(255 255 255 / 7%);						/* Light color 7% for borders, backgrounds */
	--light-20-color: rgb(255 255 255 / 20%);						/* Light color 20% for borders, backgrounds */
	--dark-10-color: rgb(0 0 0 / 10%);								/* Dark color 10% */
	--gray-color: #e7e7e7;											/* Gray color */
	--gray-02-color: #dedede;										/* Gray 02 color */
	--beige-color: #f8f6e2;											/* Beige color */
	--light-gray-color: #a5a5a5;									/* Light gray color */
	--very-light-color: #fafafa;									/* Very light gray color */
	--very-light-accent-color: rgba(var(--accent-color-rgb), .1);	/* Very light accent color */
	--very-light-alternate-color: rgba(var(--alternate-color-rgb), .1);	/* Very light alternate color */
	--gray-typo-color: #dbdbdb;										/* Gray color used for border inputs */
	--gray-table-color: #f1f1f1;									/* Gray color used for border inputs */
	--semi-dark-60-color: rgb(25 25 25 / 60%);						/* Semi dark color 60% */

	/* CSS Post grid - Gallery gap */
	--post-pf-border-radius: 0;										/* Border radius for post / portfolio grid items */
	
	/* CSS Post grid - Item round */
	--post-pf-soft-radius: 4px;
	--post-pf-hard-radius: 12px;
	
	/* CSS Post grid - Tile background */
	--post-pf-grid-tile-22-background: rgba(255,255,255,.75);
	--post-pf-grid-tile-22-backdrop-filter: blur(20px);


	/* Widgets */
	--widgets-recentposts-image-arrow-icon: "\e937";				/* iIcon on image for recent posts widget */
	--widgets-recentposts-image-arrow-icon-font: RemixIconsSystem;	/* Font for that icon */
	--widgets-recentposts-image-arrow-icon-size: 1.5em;				/* Size for that icon */
	--widgets-recentposts-image-arrow-effect: hard-light;			/* Background blending effect for that icon */
	--widgets-recentposts-image-arrow-transform: translateY(0px);	/* Transform effect for image */
	--widgets-recentposts-image-arrow-shadow: 0 5px 20px rgba(var(--page-primary-color-rgb), .3);	/* Box shado effect on that image */


	/* Post icons */
	--post-date-icon: "\ea15";										/* Date Icon on posts */
	--post-date-icon-font: RemixIconsSystem;						/* Font for it */
	--post-author-icon: "\e947";									/* Author Icon on posts */
	--post-author-icon-font: RemixIconsUser;						/* Font for it */
	--post-comments-icon: "\e901";									/* Comments Icon posts */
	--post-comments-icon-font: RemixIconsCommunication;				/* Font for it */
	--post-comment-link-icon: "\e985";								/* Comments Icon posts */
	--post-comment-link-icon-font: RemixIconsDesign;				/* Font for it */
	--post-category-icon: "\e91b";									/* Category Icon posts */
	--post-category-icon-font: RemixIconsBusiness;					/* Font for it */
	--post-tags-icon: "\e94b";										/* Tags Icon posts */
	--post-tags-icon-font: RemixIconsFinance;						/* Font for it */


	/* Post media look */
	--post-quote-size: 1.875em;										/* Font size for the post quote in regular mode */
	--post-quote-columns-size: 1.563em;								/* Font size for the post quote in columns and zig-zag mode */
	--post-media-icon-size: 1em;									/* Icon size for the quote and link */
	--post-quote-icon: "\e931";										/* Icon for post quote */
	--post-quote-icon-family: RemixIcons-Communication;				/* Font family for the quote */
	--post-link-icon: "\e92d";										/* Icon for post link */
	--post-link-icon-family: RemixIcons-Editor;						/* Font family for the link */
	--post-overlay-opacity: .8;										/* Color opacity of the overlay for quote and link media box */
	--post-overlay-effect: hard-light;								/* Overlay mode for the post image */

	/* Author info */
	--post-author-padding: 2em;										/* All around padding for author info */

	/* Comments */
	--post-comments-arrow-size: 2rem;								/* Size of the arrow for older/newer comments */
	--post-comments-arrow-margin: .25em;							/* Margin between arrow and text */
	--post-comments-arrow-hover-transform: translateY(-3px);		/* Transform comments arrow on hover */
	--post-comments-arrow-hover-shadow: 0 3px 10px rgba(var(--page-primary-color-rgb), .3);		/* Shadown on comments arrow on hover */
	--post-comments-arrow-hover-margin: .4em;						/* Margin between arrow and text in comments arrows */
	--post-comments-time-stamp: "\ea15";							/* Comments timestamp icon */
	--post-comments-time-stamp-font: RemixIconsSystem;				/* Font for it */
	--post-comments-edit: "\e933";									/* Edit comment or edit pingback, trackback icon */
	--post-comments-edit-font: RemixIconsDesign;					/* Font for it */
	--post-comments-reply: "\e995";									/* Reply comment icon */
	--post-comments-reply-font: RemixIconsBusiness;					/* Font for it */
	--post-comments-cancel-reply: "\e955";							/* Icon for cancel reply button */
	--post-comments-cancel-reply-font: RemixIconsSystem;			/* Font for it */


	/* Latest posts */
	--latest-posts-view-more-icon: "\e937";							/* View more Icon on latest news, post grid, etc */
	--latest-posts-view-more-icon-font: RemixIconsSystem;			/* Font for it */

}
.page-header {
	--primary-color: var(--light-color);
	--secondary-color: var(--accent-color);
}

@media (max-width: 768px) {
	body {
		--nav-links-image-size: 4rem;
	}
}