/* Duotone Effect
/* ------------------------- */

.effect-duotone {
	position: relative;
}
	.effect-duotone__layer {

		&::after {
			background-color: $duotone-layer-dark;
		}
	}

// base
.effect-duotone--base {

	.effect-duotone__layer {

		&::after {
			background-color: $duotone-base-color-1 !important;
		}
	}
		.effect-duotone__layer-inner {
			background-color: $duotone-base-color-2 !important;
		}
}


/**
 *
 * Duotone dynamic colors
 *
 */

// Color Primary
.effect-duotone--primary {

	.effect-duotone__layer {

		&::after {
			background-color: $duotone-layer-dark;
		}
	}
		.effect-duotone__layer-inner {
			background-color: $color-primary;
		}
}

// Color Secondary
.effect-duotone--secondary {

	.effect-duotone__layer {

		&::after {
			background-color: $duotone-layer-dark;
		}
	}
		.effect-duotone__layer-inner {
			background-color: $headings-color;
		}
}

// Color Tertiary
.effect-duotone--tertiary {

	.effect-duotone__layer {

		&::after {
			background-color: $duotone-layer-dark;
		}
	}
		.effect-duotone__layer-inner {
			background-color: $color-3;
		}
}

// Color Quaternary
.effect-duotone--quaternary {

	.effect-duotone__layer {

		&::after {
			background-color: $duotone-layer-dark;
		}
	}
		.effect-duotone__layer-inner {
			background-color: $color-4-darken;
		}
}

// Color Info
.effect-duotone--info {

	.effect-duotone__layer {

		&::after {
			background-color: $duotone-layer-dark;
		}
	}
		.effect-duotone__layer-inner {
			background-color: $color-info;
		}
}


// Posts Duotone
@each $color, $value in $post-category-colors {

	.posts__item--#{$color} {

		.effect-duotone {

			.effect-duotone__layer-inner {
				background-color: #{$value};
			}
		}
	}
}

// Hero Slider Duotone Effect
.hero-slider--overlay-duotone {

	@each $color, $value in $post-category-colors {
		.posts__item--#{$color} {

			.effect-duotone__layer-inner {
				background-color: #{$value};
			}
		}
	}
}

// Single Post Duotone Effect
.page-heading--duotone {

	@each $color, $value in $post-category-colors {
		&.posts__item--#{$color} {

			.effect-duotone__layer-inner {
				background-color: #{$value};
			}
		}
	}
}


/**
 *
 * Duotone Static colors
 *
 */

// Color Blue
.effect-duotone--blue {

	.effect-duotone__layer {

		&::after {
			background-color: $duotone-layer-dark;
		}
	}
}

// Color 3
.effect-duotone--red {

	.effect-duotone__layer {

		&::after {
			background-color: $duotone-layer-dark;
		}
	}
}

// Color Grey
.effect-duotone--grey {

	.effect-duotone__layer {

		&::after {
			background-color: $duotone-layer-dark;
		}
	}
}

// Color Yellow
.effect-duotone--yellow {

	.effect-duotone__layer {

		&::after {
			background-color: $duotone-layer-dark;
		}
	}
}
