
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=11d90b87fbe89be70040f6db963940cb
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress