
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=16c7d48d29d0732c265fd58a90a0201d
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress