/* Marquee
/* ------------------------- */

.marquee-wrapper {
	background-color: $card-bg;

	&::before {
		background-color: $color-primary;
	}
	&::after {
		background-color: $color-4;
	}
}
.marquee {
	background-color: $card-bg;

	@media (min-width: 768px) {
		&::before {
			background-color: $color-4;
		}

		&::after {
			background-color: $card-bg;
		}
	}
}
	.marquee-label {

		@media (min-width: 768px) {
			font-family: $font-family-accent;
			color: $headings-color;
			background-color: $color-primary;

			&::before {
				background-color: $color-primary;
			}

			&::after {
				background-color: $card-bg;
			}
		}
	}


// Boxed
.marquee-wrapper--boxed {
	border-color: $card-border-color;

	.vc_row[data-vc-stretch-content] & {
		&::before,
		&::after {
			background-color: $card-header-bg;
		}
	}

	.vc_row:not([data-vc-stretch-content]) & {
		&::before,
		&::after {
			background-color: transparent;
		}
	}

	.marquee {

		@media (min-width: 768px) {

			&::before {
				background-color: $card-header-bg;
			}
		}
	}
		.marquee-label {

			i {
				color: $color-primary;
			}

			@media (min-width: 768px) {
				background-color: $card-header-bg;

				&::before {
					background-color: $card-header-bg;
				}
			}
		}
}


.marquee-wrapper--no-categories {

	.posts--inline {

		.posts__title {

			&::before {
				color: $color-4;
			}
		}
	}
}
