/* Widget: Lists */
.widget_archive,
.widget_nav_menu,
.widget_meta,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget_categories,
.widget_rss,
.widget_product_categories  {

	// Widgets in the Footer
	&.widget--footer {

		ul:first-child {

			> li {

				> a {
					color: $footer-widget-link-color;

					&:hover {
						color: $footer-widget-link-color-hover;
					}
				}
			}

			ul {
				border-top: 1px solid $card-border-color;
				padding: ($card-vertical-padding - 6) $card-horizontal-padding;

				@if $template == 'football' {
					background-color: $color-dark-2;
					font-size: 10px;
				}

				li {

					a {
						color: $footer-widget-link-color;

						&:hover {
							color: $footer-widget-link-color-hover;
						}
					}
				}
			}
		}
	}
}
