/* Widget: Lists */
.widget_archive,
.widget_nav_menu,
.widget_meta,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget_categories,
.widget_rss,
.widget_product_categories {

	// Widgets in the Footer
	&.widget--footer {

		ul:first-child {
			list-style: none;
			padding: 0;
			margin: 0;
			font-size: 13px;
			font-weight: 400;
			text-transform: none;
			line-height: 1.5em;

			li {
				padding-bottom: 8px;
			}

			> li {

				& + li {
					border-top: none;
				}

				> a {
					display: inline;
					padding: 0;
					color: $footer-widget-link-color;

					&:hover {
						color: $footer-widget-link-color-hover;
					}
				}

				&.has-children {
					background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='#{$select-caret-color}' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E"), "#", "%23");
					background-position: right $card-horizontal-padding top $card-vertical-padding;
					background-repeat: no-repeat;
					background-size: 6px 4px;
				}
			}

			ul {
				border-top: 1px solid $card-border-color;
				list-style: none;
				padding: ($card-vertical-padding - 6) $card-horizontal-padding;

				@if $template == 'football' {
					background-color: $color-dark-2;
					font-size: 10px;
				}

				li {
					padding: 10px 0;

					a {
						color: $footer-widget-link-color;
						transition: color 0.3s ease;

						&:hover {
							color: $footer-widget-link-color-hover;
						}
					}
				}
			}
		}
	}
}


// Display Navigation Menu widget in 2 columns
.footer-widgets {

	.col-lg-3 {

		.widget_nav_menu {

			.menu {
				display: flex;
				flex-wrap: wrap;

				> li {
					flex-basis: 50%;
					max-width: 50%;
					flex-grow: 1;
				}
			}
		}
	}
}
