/* Widget: Twitch Streams */

.widget_tp_twitch_widget {

}

// Streams feed
.twitch-streams {

}
		// Stream
		.twitch-stream__featured {
			color: $body-font-color;
			margin-bottom: .2em;

			a {
				color: $body-font-color;
			}
		}

		.twitch-stream__title {
			color: #fff; // always on dark overlay

			> a {
				color: #fff; // always on dark overlay
			}
		}

		.twitch-stream__info {
			color: $body-font-color;

			a {
				color: $body-font-color;

				&:hover {
					color: $color-white; // always on dark overlay
				}
			}
		}

			.twitch-stream__viewers {
				color: $color-white; // always on dark overlay
			}

		.twitch-stream__status {
			font-family: $font-family-accent;

			@if $template == 'esports' {
				color: $color-gray-2;
			} @else {
				color: $color-gray;
			}

			&::before {

				@if $template == 'esports' {
					background-color: $color-gray-2;
				} @else {
					background-color: $color-gray;
				}
			}

			.tp-twitch-stream--live & {
				color: $color-white;
			}
		}


		.twitch-stream__status--scheduled {

			&::before {
				background-color: $headings-color;
			}
		}
			.twitch-stream__countdown-counter {

				.countdown-counter__item {

					@if $template == 'esports' {
						color: lighten($color-2-lighten, 10%);
					} @else {
						color: lighten($headings-color, 10%);
					}
				}
			}

		.twitch-stream-video__clip {
			border-color: $card-border-color;
		}

		.twitch-stream-video__link {

			&::after {
				color: $color-white;
			}
		}


// Embeded Player
.twitch-stream__thumbnail-link {
	background-color: #000;
	border-color: $card-border-color;
}
	.twitch-stream__thumbnail-overlay {
		background-color: rgba(0,0,0,.8);
	}
		.twitch-stream__thumbnail-icon {
			color: $color-white;
		}
