/* Widget: Team Info */
.team-info-list {

}
	.team-info__item {

		& + & {
			border-top-color: $card-border-color;
		}
	}
		.team-info__label,
		.team-info__value,
		.team-info__item--desc strong {
			font-family: $font-family-accent;
			color: $headings-color;
		}
		.team-info__value--active {
			color: $color-primary;
		}
