/* Widget: Twitch Streams */

.widget_tp_twitch_widget {

	&.card {
		border: none;
		padding: 0;
		border-radius: 0;
		background-color: transparent;
		box-shadow: none;

		.card__content {
			padding: 0;
		}

		.card__header {
			border-radius: $card-border-radius;

			&::before {
				border-bottom-#{$left}-radius: $card-border-radius;
			}
		}

		.card__header + .card__content {
			padding-top: 15px;
		}

		.twitch-stream-video .card__content {
			padding: $card-vertical-padding $card-horizontal-padding;
		}
	}
}

// Streams feed
.twitch-streams {

}

		// Stream
		.twitch-stream-wrapper {
			margin-bottom: 15px;

			@if $template == 'esports' {
				& .twitch-stream__overlay {
					background-image: url("../images/esports/samples/twitch-stream-1-bg.jpg");
				}
				&:nth-child(2n) .twitch-stream__overlay {
					background-image: url("../images/esports/samples/twitch-stream-2-bg.jpg");
				}
				&:nth-child(3n) .twitch-stream__overlay {
					background-image: url("../images/esports/samples/twitch-stream-3-bg.jpg");
				}
				&:nth-child(4n) .twitch-stream__overlay {
					background-image: url("../images/esports/samples/twitch-stream-4-bg.jpg");
				}
				&:nth-child(5n) .twitch-stream__overlay {
					background-image: url("../images/esports/samples/twitch-stream-5-bg.jpg");
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.twitch-stream {
			flex-direction: row;
			align-items: stretch;
			min-height: 86px;
			position: relative;
			overflow: hidden;
			z-index: 1;
			margin-bottom: 0 !important;
		}

		.twitch-stream--has-video {

			&,
			&.card {
				border-bottom: 0;
				border-bottom-#{$left}-radius: 0;
				border-bottom-#{$right}-radius: 0;
				margin-bottom: 0;
			}

			.twitch-stream__overlay {
				border-bottom-#{$left}-radius: 0;
				border-bottom-#{$right}-radius: 0;
			}
		}

		.twitch-stream__overlay {
			background-position: 0 0;
			background-size: cover;
			background-repeat: no-repeat;
			display: block;
			position: absolute !important;
			z-index: -1;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			border-radius: $card-border-radius;
		}

		.twitch-stream__img {
			flex-basis: 102px;
			align-self: center;
		}

		.twitch-stream__body {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 10px 15px;
		}

		.twitch-stream__featured {
			font-size: 12px;
			line-height: 1.2em;
			text-transform: uppercase;
			font-style: italic;
			color: $body-font-color;
			margin-bottom: .2em;

			a {
				color: $body-font-color;
			}
		}

		.twitch-stream__title {
			font-size: 12px;
			margin-bottom: .4em;
			color: #fff; // always on dark overlay

			@media (min-width: 992px) {
				font-size: 14px;
			}

			> a {
				color: #fff; // always on dark overlay
			}
		}

		.twitch-stream__info {
			font-size: 10px;
			line-height: 1.5em;
			margin-bottom: 8px;
			color: $body-font-color;

			@media (min-width: 992px) {
				font-size: 11px;
			}

			a {
				color: $body-font-color;

				&:hover {
					color: $color-white; // always on dark overlay
				}
			}

			.tp-twitch-icon-verified {
				margin-#{$left}: .5em;
				vertical-align: middle;
			}
		}
			.tp-twitch-icon-views {
				margin-#{$right}: .5em;
				vertical-align: middle;
			}

		.twitch-stream__footer {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
		}

		.twitch-stream__counters {
			margin-#{$left}: auto;
			font-size: 11px;
			display: flex;
			align-items: center;
		}
			.twitch-stream__views,
			.twitch-stream__viewers {
				margin-#{$left}: 1em;


				&::before {
					font-size: 13px;
					vertical-align: top;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					display: inline-block;
					font-family: 'simple-line-icons';
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					margin-#{$right}: 3px;
				}
			}

			.twitch-stream__viewers {
				color: $color-white; // always on dark overlay

				&::before {
					content: "\e005";
				}
			}
			.twitch-stream__views {

				&::before {
					content: "\e087";
				}
			}

		.twitch-stream__status {
			font-size: 12px;
			line-height: 1.2em;
			font-family: $font-family-accent;
			text-transform: uppercase;
			font-style: italic;
			font-weight: 700;
			position: relative;
			padding-#{$left}: 14px;

			@if $template == 'esports' {
				color: $color-gray-2;
			} @else {
				color: $color-gray;
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				#{$left}: 0;
				top: 50%;
				margin-top: -3px;
				width: 6px;
				height: 6px;
				border-radius: 50%;

				@if $template == 'esports' {
					background-color: $color-gray-2;
				} @else {
					background-color: $color-gray;
				}
			}

			.tp-twitch-stream--offline & {

			}

			.tp-twitch-stream--live & {
				color: $color-white; // always on dark overlay

				&::before {
					background-color: #ff004e;
					box-shadow: 0 0 0 rgba(#ff004e, 0.4);
					animation: twitchpulse 1.5s infinite;
				}
			}
		}


		.twitch-stream__status--scheduled {

			&::before {
				background-color: $headings-color;
			}
		}
			.twitch-stream__countdown-counter {
				display: inline-block;
				vertical-align: text-top;

				.countdown-counter__item {
					font-size: 12px;
					display: inline-block;
					float: none;
					width: auto;

					@if $template == 'esports' {
						color: lighten($color-2-lighten, 10%);
					} @else {
						color: lighten($headings-color, 10%);
					}
				}
				.countdown-counter__item + .countdown-counter__item {

					&::before {
						display: inline-block;
						position: static;
						#{$left}: 0;
						top: 0;
						font-size: 12px;
						margin: 0 .2em;
					}
				}
				.countdown-counter__label {
					display: none;
				}
			}

	// Featured
	.twitch-stream--featured {

	}

	// Video
	.twitch-stream-video {
		margin-bottom: 0 !important;

		&,
		&.card {
			border-top-#{$left}-radius: 0;
			border-top-#{$right}-radius: 0;
			text-align: center;
		}
	}

		.twitch-iframe-container {
			position: relative;
			padding-bottom: 56.25%;
			overflow: hidden;
			max-width: 100%;
			height: auto;

			iframe,
			object,
			embed {
				position: absolute;
				top: 0;
				#{$left}: 0;
				width: 100%;
				height: 100%;
			}
		}

		.twitch-stream-video__clip {
			border: 1px solid $card-border-color;
			display: inline-block;
			margin: 0 auto;

			iframe,
			img {
				max-width: 100%;
				vertical-align: top;
			}
		}

		.twitch-stream-video__link {
			display: block;
			position: relative;

			&::before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				opacity: .8;
				background-color: #000;
			}

			&::after {
				content:"\f04b";
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: 30px;
				line-height: 1em;
				color: $color-white;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				transition: all .2s ease;
			}

			&:hover {

				&::after {
					opacity: .7;
				}
			}
		}


// Embeded Player
.twitch-stream__thumbnail-link {
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #000;
	border: 1px solid $card-border-color;
	padding-bottom: 56.25%;
	max-width: 100%;
	height: auto;

	.card--no-paddings & {
		border-bottom-left-radius: $card-border-radius;
		border-bottom-right-radius: $card-border-radius;
		border: none;
	}

	.twitch-stream__thumbnail-img {
		display: block;
		position: absolute;
		top: 0;
		#{$left}: 0;
		width: 100%;
		height: 100%;
	}
}
	.twitch-stream__thumbnail-overlay {
		display: flex;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.8);
		justify-content: center;
		align-items: center;

		&:hover {
			cursor: pointer;

			.twitch-stream__thumbnail-icon {
				opacity: .5;
			}
		}
	}
		.twitch-stream__thumbnail-icon {
			display: block;
			color: $color-white;
			font-size: 30px;
			line-height: 1em;
			transition: opacity .3s ease;
		}


@keyframes twitchpulse {
	0% {
		box-shadow: 0 0 0 0 rgba(#ff004e, 0.4);
	}
	70% {
		box-shadow: 0 0 0 8px rgba(#ff004e, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(#ff004e, 0);
	}
}
