/*
// #Widgets
// --------------------------------------------------
*/

/* Base Widget */
.widget {

}

	/* Sidebar Widget */
	.widget--sidebar {

		.widget__content {
			font-size: $sidebar-content-font-size;
			line-height: $sidebar-content-line-height;
		}
	}

	.widget__content--bottom-decor {
		background-image: linear-gradient(to right, $widget-decor-color-1 8px, transparent 8px), linear-gradient(to right, $widget-decor-color-1 8px, transparent 8px), linear-gradient(to right, $widget-decor-color-1 8px, transparent 8px), linear-gradient(to right, $widget-decor-color-1 8px, transparent 8px), linear-gradient(to right, $widget-decor-color-1 8px, transparent 8px), linear-gradient(to right, $widget-decor-color-1 8px, transparent 8px), linear-gradient(to right, $widget-decor-color-2 8px, transparent 8px), linear-gradient(to right, $widget-decor-color-3 8px, transparent 8px);
	}

	/* Footer Widget */
	.widget--footer {

		.widget__title {
			color: $footer-widget-title;
			font-size: $footer-widget-title-font-size;
		}
	}
