@charset "UTF-8";
.sweeppress-simulation-mode {
  background-color: #813E99;
  color: #FFF;
  text-align: center;
  padding: 0.75em 0.5em;
  margin: 0 0 1em;
  border-radius: 5px;
  line-height: 1.4;
}
.sweeppress-simulation-mode span {
  font-size: 1.2em;
  font-weight: bold;
}
.sweeppress-simulation-mode em {
  font-size: 1em;
}
.sweeppress-simulation-mode * {
  display: block;
}

.d4p-with-table .sweeppress-notice-group.sweeppress-notice-backups {
  max-width: 100%;
}

.sweeppress-panel-inside {
  margin: -1em;
}
.sweeppress-panel-inside h5 {
  background: var(--d4p-color-main-border);
  color: #000;
  margin: -2em -1em 1em;
  padding: 0.5em;
  font-size: 1em;
  font-weight: bold;
}
.sweeppress-panel-inside p:last-child {
  margin-bottom: 0;
}

.sweeppress-item-wrapper {
  border: 1px solid #DDD;
  border-radius: 4px;
  margin: 0 0 1em;
}
.sweeppress-item-wrapper h5 {
  border-radius: 4px 4px 0 0;
  margin: 0;
  padding: 0.5em 0.75em;
  font-size: 1.1em;
  line-height: 1.5;
  background: #F4F4F4;
}
.sweeppress-item-wrapper h5 input[type=checkbox] {
  float: right;
  margin: 1px 0 0 0;
  width: 22px;
  height: 22px;
}
.sweeppress-item-wrapper h5 input[type=checkbox]:before {
  margin: -2px -3px;
  height: 24px;
  width: 24px;
}
.sweeppress-item-wrapper .sweeppress-item-inside {
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #DDD;
  padding: 0.5em 1em;
}
.sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-task {
  line-height: 2;
}
.sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-task .d4p-ui-warning {
  vertical-align: baseline;
  font-size: 0.9em;
  color: #700;
}
.sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-task.task-is-missing span {
  text-decoration: line-through;
}
.sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-task input {
  float: right;
  margin: 6px 0 0;
  width: 18px;
  height: 18px;
}
.sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-task input:before {
  margin: -1px -2px;
  height: 20px;
  width: 20px;
}
.sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-task.empty-task {
  opacity: 0.7;
}

.sweeppress-item-task-stats > span:not(:last-child):after {
  content: " · ";
}

.sweeppress-item-task-preview {
  margin-left: 0.5em;
}
.sweeppress-item-task-preview i {
  line-height: 1;
  vertical-align: middle;
}

.sweeppress-results-loader {
  font-size: 1.2em;
}

.sweeppress-inner-content p:first-of-type {
  margin-top: 0;
}
.sweeppress-inner-content p:last-of-type {
  margin-bottom: 0;
}

.sweeppress-dialog-hide-x .ui-dialog-titlebar button {
  display: none;
}

.sweeppress-cleanup-results h5 {
  border-bottom: 1px solid #888;
  padding: 0 0 0.25em 0;
  margin: 0 0 0.5em 0;
  font-size: 1.4em;
}
.sweeppress-cleanup-results h6 {
  border-bottom: 1px dotted #888;
  padding: 0 0 0.25em 0;
  margin: 0 0 0.5em 0;
  font-size: 1.2em;
}
.sweeppress-cleanup-results .sweeppress-with-errors {
  color: #D00;
}

.sweeppress-notice-group.sweeppress-notice-backups {
  border-color: #900;
}
.sweeppress-notice-group h3 {
  color: #900;
  border-bottom-color: #900;
  background: #FFF1F1;
}
.sweeppress-notice-group h3 a {
  float: right;
}
.sweeppress-notice-group .d4p-group-footer {
  text-align: left;
  padding: 1em;
  border-top: 1px solid #900;
}

.sweeppress-about-counters {
  font-size: 1.4em;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--d4p-color-layout-accent);
  margin: 1em 0 0;
  padding: 1em 0 0;
  font-weight: 100;
}
.sweeppress-about-counters i {
  font-size: 1.4em;
  color: var(--d4p-color-layout-accent);
}
.sweeppress-about-counters strong {
  font-size: 1.4em;
  font-weight: 900;
  color: var(--d4p-color-layout-accent);
}

.d4p-plugin-sweeppress .sweeppress-badge {
  border-radius: 3px;
  color: #FFF;
  display: inline-block;
  padding: 0 6px 2px;
  line-height: 1.5;
}
.d4p-plugin-sweeppress .sweeppress-badge.badge-active {
  background: #090;
}
.d4p-plugin-sweeppress .sweeppress-badge.badge-missing, .d4p-plugin-sweeppress .sweeppress-badge.badge-inactive {
  background: #900;
}
.d4p-plugin-sweeppress .sweeppress-badge.badge-installed {
  background: #050;
}
.d4p-plugin-sweeppress .sweeppress-badge.badge-serialized, .d4p-plugin-sweeppress .sweeppress-badge.badge-core, .d4p-plugin-sweeppress .sweeppress-badge.badge-theme {
  background: #813E99;
}
.d4p-plugin-sweeppress .sweeppress-badge.badge-wordpress {
  background: #511E65;
}
.d4p-plugin-sweeppress .sweeppress-badge.badge-blue, .d4p-plugin-sweeppress .sweeppress-badge.badge-empty, .d4p-plugin-sweeppress .sweeppress-badge.badge-plugin {
  background: #0A63A5;
}
.d4p-plugin-sweeppress .sweeppress-badge.badge-component {
  background: #085D65;
}
.d4p-plugin-sweeppress .sweeppress-badge.badge-widget {
  background: #A16C00;
}
.d4p-plugin-sweeppress .sweeppress-badge.badge-unknown {
  background: #111;
}
.d4p-plugin-sweeppress .sweeppress-badge.badge-sweep {
  background: #67AF12;
}
.d4p-plugin-sweeppress .sweeppress-badge.badge-light-blue {
  background: #E0F1FF;
  color: #333;
}
.d4p-plugin-sweeppress dl.sweeppress-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.d4p-plugin-sweeppress dl.sweeppress-list dt {
  font-weight: bold;
  flex: 0 0 50%;
  margin: 0;
  text-align: left;
}
.d4p-plugin-sweeppress dl.sweeppress-list dd {
  flex: 0 0 50%;
  margin: 0;
  text-align: right;
}

.sweeper-dashboard-overview > h3 input[type=checkbox] {
  float: right;
  margin: 1px 0 0 0;
  width: 22px;
  height: 22px;
  display: none;
}
.sweeper-dashboard-overview > h3 input[type=checkbox]:before {
  margin: -2px -3px;
  height: 24px;
  width: 24px;
}
.sweeper-dashboard-overview .sweeppress-quick-info {
  background: #EEE;
  padding: 0.5em 1em;
  margin: 0 0 1em;
  border-radius: 5px;
}

.sweeppress-sweeper-wrapper {
  display: flex;
  margin: 1em 0 0;
  padding: 1em 0 0;
  border-top: 1px solid #DDD;
}
.sweeppress-sweeper-wrapper .sweeppress-sweeper-counters {
  flex-grow: 1;
}

.sweeper-dashboard-database .d4p-group-inner .sweeppress-data-block dl {
  margin: 0;
  line-height: 2.2;
}
.sweeper-dashboard-database .d4p-group-inner .sweeppress-data-block dl dd strong {
  font-weight: normal;
}
.sweeper-dashboard-database.d4p-card-double .d4p-group-inner .sweeppress-data-block {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.sweeper-dashboard-database.d4p-card-double .d4p-group-inner .sweeppress-data-block > div {
  flex: 0 0 calc(50% - 2em);
}
.sweeper-dashboard-database.d4p-card-double .d4p-group-inner .sweeppress-data-block > div dl {
  padding: 0;
  margin: 0;
  border-bottom: 0;
}
@media screen and (max-width: 767px) {
  .sweeper-dashboard-database.d4p-card-double .d4p-group-inner .sweeppress-data-block {
    flex-direction: column;
  }
  .sweeper-dashboard-database.d4p-card-double .d4p-group-inner .sweeppress-data-block > div {
    flex: 0 0 auto;
  }
}

#sweeppress-information-auto {
  display: flex;
  flex-direction: row;
  margin: 0;
  flex-wrap: nowrap;
  gap: 2em;
}
#sweeppress-information-auto .sweeppress-info-block {
  flex: 50%;
}
#sweeppress-information-auto .sweeppress-info-block p:first-child {
  margin-top: 0;
}
#sweeppress-information-auto .sweeppress-info-block p:last-child {
  margin-bottom: 0;
}
#sweeppress-information-auto .sweeppress-request-block {
  flex: 50%;
}
#sweeppress-information-auto .sweeppress-request-block dl {
  margin: 0 0 1em;
  padding: 0 0 1em;
  border-bottom: 1px dashed #DDD;
  line-height: 2;
}
#sweeppress-information-auto .sweeppress-request-block dl dd strong {
  font-weight: normal;
}
#sweeppress-information-auto .sweeppress-request-block button.button-primary {
  width: 100%;
  font-size: 1.4em;
  line-height: 2.5;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#sweeppress-information-auto .sweeppress-request-block button.button-secondary {
  width: 100%;
  margin: 0.5em 0 0;
  font-size: 1.1em;
  line-height: 2;
}
@media screen and (max-width: 1080px) {
  #sweeppress-information-auto {
    flex-direction: column-reverse;
  }
  #sweeppress-information-auto .sweeppress-info-block,
  #sweeppress-information-auto .sweeppress-request-block {
    flex-basis: 100%;
  }
}

#sweeppress-form-quick .sweeppress-quick-list-sweepers {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
#sweeppress-form-quick .sweeppress-quick-list-sweepers .sweeppress-item-wrapper {
  flex: 1 0 calc((100% - 1em) / 2);
  min-width: 400px;
}
@media screen and (max-width: 640px) {
  #sweeppress-form-quick .sweeppress-quick-list-sweepers .sweeppress-item-wrapper {
    min-width: 100%;
  }
}

.sweeppress-backups-wrapper {
  display: flex;
  gap: 2em;
  flex-wrap: nowrap;
  align-items: flex-start !important;
}
.sweeppress-backups-wrapper .sweeppress-data-block {
  flex: 0 0 40%;
}
.sweeppress-backups-wrapper .sweeppress-data-block h4 {
  border-bottom: 1px solid #DDD;
}
.sweeppress-backups-wrapper .sweeppress-info-block {
  flex: 1 1 60%;
}
.sweeppress-backups-wrapper .sweeppress-info-block p:first-child {
  margin-top: 0;
}
.sweeppress-backups-wrapper .sweeppress-info-block p:last-child {
  margin-bottom: 0;
}

.d4p-badge-pro {
  padding: 1px 8px 2px !important;
  background: #F00 !important;
  font-weight: bold !important;
}

.sweeper-category-label {
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.3em;
  background: gray;
  max-width: 1000px;
  color: #FFF;
  margin: 0 0 1em;
}
.sweeper-category-label.empty-sweeper-category {
  display: none;
}
.sweeper-category-label.empty-sweeper-category.show-empty-sweeper-category {
  display: block;
}

.d4p-sweeper-content .sweeppress-sweepers-controls {
  margin: 0 0 1.25em;
  padding: 1em 1.5em;
  background: #FFF;
  border-radius: 5px;
  font-size: 1.1em;
}
.d4p-sweeper-content .sweeppress-sweepers-controls .toggle-empty-tasks {
  border: 0;
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0 0 0 1em;
  font-size: 1.2em;
  cursor: pointer;
}
.d4p-sweeper-content .sweeppress-sweepers-controls .toggle-empty-tasks[aria-expanded=true] i {
  color: var(--d4p-color-sidebar-icon-text);
}
.d4p-sweeper-content .sweeppress-sweepers-controls,
.d4p-sweeper-content .sweeppress-notice-group {
  max-width: 1000px;
}
.d4p-sweeper-content .sweeppress-item-wrapper {
  font-size: 1.1em;
  max-width: 1000px;
}
.d4p-sweeper-content .sweeppress-item-wrapper.empty-sweeper {
  display: none;
}
.d4p-sweeper-content .sweeppress-item-wrapper.show-empty-sweeper {
  display: block;
}
.d4p-sweeper-content .sweeppress-item-wrapper h5 button {
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0 0 0 1em;
  cursor: pointer;
}
.d4p-sweeper-content .sweeppress-item-wrapper h5 button i {
  font-size: 1.2em;
}
.d4p-sweeper-content .sweeppress-item-wrapper h5 button[aria-expanded=true] i {
  color: var(--d4p-color-sidebar-icon-text);
}
.d4p-sweeper-content .sweeppress-item-wrapper h5 > span {
  margin: 0 0 0 1em;
  cursor: pointer;
}
.d4p-sweeper-content .sweeppress-item-wrapper h5 > span i {
  font-size: 1.2em;
}
.d4p-sweeper-content .sweeppress-item-wrapper h5 > span.flat-system i {
  color: #A00;
  line-height: 1;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-limit,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-tables,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-days-notice,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-help {
  background: #F8F8F8;
  border-top: 1px solid #DDD;
  padding: 1em;
  line-height: 1.6;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-limit p,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-tables p,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-days-notice p,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-help p {
  margin: 0 0 1em;
  font-size: 1em;
  font-weight: bold;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-limit ul,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-tables ul,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-days-notice ul,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-help ul {
  margin: 0;
  font-size: 0.95em;
  font-weight: normal;
  list-style: inside disc;
  line-height: 1.7;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-limit ul li,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-tables ul li,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-days-notice ul li,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-help ul li {
  margin: 0;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-help .sweeppress-item-help-tables,
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-help .sweeppress-item-last-used {
  margin: 0.75em 0 0;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-limit {
  color: #D00;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-inside {
  background: #FFF;
  padding: 0.5em 1em 1em;
  line-height: 1.7em;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-run-loader {
  display: none;
  margin: 0.5em 0 0;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-run {
  margin: 0.5em 0 0;
  padding: 0.5em 1em;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-task {
  border-bottom: 1px dashed #DDD;
  padding: 4px 0;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-task.empty-task {
  display: none;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-task.task-is-missing span {
  text-decoration: line-through;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-task .d4p-ui-warning {
  vertical-align: baseline;
  font-size: 0.9em;
  color: #700;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-total .sweeppress-affected-percentage {
  float: right;
  cursor: help;
  font-size: 13px;
  padding: 0 6px 1px;
  border-radius: 3px;
  background: #DDD;
  display: inline-block;
  line-height: 1.8;
}
.d4p-sweeper-content .sweeppress-item-wrapper .sweeppress-item-inside .sweeppress-item-total p {
  margin: 1em 0 0;
}
.d4p-sweeper-content .sweeppress-item-wrapper.show-empty-tasks .sweeppress-item-inside .sweeppress-item-task.empty-task {
  display: block;
}

.d4p-panel-sweep .sweeppress-sweeper-counters dl dd strong {
  font-weight: normal;
}

.sweeppress-statistics-sweeper {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
}
.sweeppress-statistics-sweeper .sweeppress-statistics-box {
  flex: 0 0 calc(50% - 0.75em);
}
.sweeppress-statistics-sweeper .sweeppress-statistics-box h5 {
  margin: 0 0 0.5em;
  padding: 0.25em 0.75em;
  font-size: 1.1em;
  border-radius: 4px;
  background: #EEE;
}
.sweeppress-statistics-sweeper .sweeppress-statistics-box img {
  width: 100%;
  height: auto;
  display: block;
  margin: 1em 0 0;
  border: 1px solid var(--d4p-color-main-border);
}
.sweeppress-statistics-sweeper .sweeppress-statistics-box dl {
  margin: 0 0 1em !important;
  padding: 0 0 0 1em;
}
.sweeppress-statistics-sweeper .sweeppress-statistics-box dl:last-child {
  margin: 0 !important;
}
.sweeppress-statistics-sweeper .sweeppress-statistics-box dl dt {
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .sweeppress-statistics-sweeper .sweeppress-statistics-box {
    flex: 100%;
  }
}

.d4p-panel-sweepers .tablenav.top {
  display: none;
}
.d4p-panel-sweepers .sweeppress-table-sweepers {
  margin: 0;
}
.d4p-panel-sweepers .sweeppress-table-sweepers .flat-system {
  float: right;
  color: #A00;
  font-size: 1.1em;
}
.d4p-panel-sweepers .sweeppress-table-sweepers .column-auto,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-backup,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-quick,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-monitor,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-cron {
  width: 11%;
}
.d4p-panel-sweepers .sweeppress-table-sweepers .column-auto .d4p-icon,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-backup .d4p-icon,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-quick .d4p-icon,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-monitor .d4p-icon,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-cron .d4p-icon {
  font-size: 1.2em;
}
.d4p-panel-sweepers .sweeppress-table-sweepers .column-auto .d4p-icon.d4p-ui-box,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-backup .d4p-icon.d4p-ui-box,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-quick .d4p-icon.d4p-ui-box,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-monitor .d4p-icon.d4p-ui-box,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-cron .d4p-icon.d4p-ui-box {
  color: red;
}
.d4p-panel-sweepers .sweeppress-table-sweepers .column-auto .d4p-icon.d4p-ui-check-square,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-backup .d4p-icon.d4p-ui-check-square,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-quick .d4p-icon.d4p-ui-check-square,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-monitor .d4p-icon.d4p-ui-check-square,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-cron .d4p-icon.d4p-ui-check-square {
  color: green;
}
.d4p-panel-sweepers .sweeppress-table-sweepers .column-category,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-backup,
.d4p-panel-sweepers .sweeppress-table-sweepers .column-scope {
  width: 8%;
}
.d4p-panel-sweepers .sweeppress-table-sweepers tbody .column-id {
  font-family: monospace;
}
.d4p-panel-sweepers .sweeppress-table-sweepers tbody .column-sweeper {
  font-weight: bold;
}
