.accordian {
  input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    display: flex;

    .col {
      flex: 1;
    }
  }

  .tabs {
    border-radius: .5rem;
    overflow: hidden;
  }

  .tab {
    overflow: hidden;
    width: 100%;
  }

  .tab-label {
    align-content: center;
    align-items: center;
    border-bottom: .0625rem solid #d4d4d4;
    cursor: pointer;
    display: flex;
    justify-content: start;
    padding: .9375rem;

    &.before:before {
      width: 1em;
    }

    &.after:after, &.before:before {
      content: "â¯";
      height: 1em;
      margin-right: .625rem;
      text-align: center;
      transition: all .35s;
    }

    &.after:after {
      font-size: 1.875rem;
      rotate: 90deg;
      width: 2em;
    }
  }

  .tab-content {
    background: #fff;
    max-height: 0;
    overflow: hidden;
    padding: 0 1em;
    transition: all .35s;
  }

  .elementor-grid {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }

  .bw-post {
    text-align: center;

    img {
      aspect-ratio: 4/3;
      filter: brightness(0.96);
      object-fit: cover;
      width: 6.25rem;
    }
  }

  .load_more_wrapper {
    margin-top: 1.25rem;
    text-align: center;
  }

  .tab-close {
    cursor: pointer;
    display: flex;
    font-size: .75em;
    justify-content: flex-end;
    padding: 1em;
  }

  input:checked {
    + .tab-label {
      &.before:before {
        transform: rotate(90deg);
      }

      &.after:after {
        transform: rotate(-180deg);
      }
    }

    ~ .tab-content {
      max-height: 100%;
      padding: 1em;
    }
  }
}

.load_more_wrapper a {
  i {
    display: none;
  }

  &.loading > i {
    animation: fa-spin 2s linear infinite;
    display: inline-block;
  }
}
