@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-ukrainehead/subset-e-UkraineHead-Light.eot');
    src: local('e-Ukraine Head Light'), local('e-UkraineHead-Light'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Light.woff2') format('woff2'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Light.woff') format('woff'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Light.ttf') format('truetype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Light.svg#e-UkraineHead-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-ukrainehead/subset-e-UkraineHead-Thin.eot');
    src: local('e-Ukraine Head Thin'), local('e-UkraineHead-Thin'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Thin.woff2') format('woff2'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Thin.woff') format('woff'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Thin.ttf') format('truetype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Thin.svg#e-UkraineHead-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-ukrainehead/subset-e-UkraineHead-UltraLight.eot');
    src: local('e-Ukraine Head UltraLight'), local('e-UkraineHead-UltraLight'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-UltraLight.woff2') format('woff2'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-UltraLight.woff') format('woff'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-UltraLight.ttf') format('truetype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-UltraLight.svg#e-UkraineHead-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-ukrainehead/subset-e-UkraineHead-Bold.eot');
    src: local('e-Ukraine Head Bold'), local('e-UkraineHead-Bold'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Bold.woff2') format('woff2'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Bold.woff') format('woff'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Bold.ttf') format('truetype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Bold.svg#e-UkraineHead-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-ukrainehead/subset-e-UkraineHead-Medium.eot');
    src: local('e-Ukraine Head Medium'), local('e-UkraineHead-Medium'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Medium.woff2') format('woff2'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Medium.woff') format('woff'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Medium.ttf') format('truetype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Medium.svg#e-UkraineHead-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head NAME';
    src: url('../fonts/e-ukrainehead/subset-e-UkraineHead-NAME.eot');
    src: local('e-Ukraine Head NAME'), local('e-UkraineHead-NAME'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-NAME.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-NAME.woff2') format('woff2'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-NAME.woff') format('woff'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-NAME.ttf') format('truetype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-NAME.svg#e-UkraineHead-NAME') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head LOGO';
    src: url('../fonts/e-ukrainehead/subset-e-UkraineHead-LOGO.eot');
    src: local('e-Ukraine Head LOGO'), local('e-UkraineHead-LOGO'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-LOGO.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-LOGO.woff2') format('woff2'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-LOGO.woff') format('woff'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-LOGO.ttf') format('truetype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-LOGO.svg#e-UkraineHead-LOGO') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-ukrainehead/subset-e-UkraineHead-Regular.eot');
    src: local('e-Ukraine Head Regular'), local('e-UkraineHead-Regular'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Regular.woff2') format('woff2'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Regular.woff') format('woff'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Regular.ttf') format('truetype'),
        url('../fonts/e-ukrainehead/subset-e-UkraineHead-Regular.svg#e-UkraineHead-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

