@font-face {
    font-family: 'e-Ukraine';
    src: url('../fonts/e-ukraine/subset-e-Ukraine-Regular.eot');
    src: local('e-Ukraine Regular'), local('e-Ukraine-Regular'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Regular.woff2') format('woff2'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Regular.woff') format('woff'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Regular.ttf') format('truetype'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Regular.svg#e-Ukraine-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('../fonts/e-ukraine/subset-e-Ukraine-Medium.eot');
    src: local('e-Ukraine Medium'), local('e-Ukraine-Medium'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Medium.woff2') format('woff2'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Medium.woff') format('woff'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Medium.ttf') format('truetype'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Medium.svg#e-Ukraine-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('../fonts/e-ukraine/subset-e-Ukraine-Thin.eot');
    src: local('e-Ukraine Thin'), local('e-Ukraine-Thin'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Thin.woff2') format('woff2'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Thin.woff') format('woff'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Thin.ttf') format('truetype'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Thin.svg#e-Ukraine-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('../fonts/e-ukraine/subset-e-Ukraine-Bold.eot');
    src: local('e-Ukraine Bold'), local('e-Ukraine-Bold'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Bold.woff2') format('woff2'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Bold.woff') format('woff'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Bold.ttf') format('truetype'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Bold.svg#e-Ukraine-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('../fonts/e-ukraine/subset-e-Ukraine-UltraLight.eot');
    src: local('e-Ukraine UltraLight'), local('e-Ukraine-UltraLight'),
        url('../fonts/e-ukraine/subset-e-Ukraine-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukraine/subset-e-Ukraine-UltraLight.woff2') format('woff2'),
        url('../fonts/e-ukraine/subset-e-Ukraine-UltraLight.woff') format('woff'),
        url('../fonts/e-ukraine/subset-e-Ukraine-UltraLight.ttf') format('truetype'),
        url('../fonts/e-ukraine/subset-e-Ukraine-UltraLight.svg#e-Ukraine-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('../fonts/e-ukraine/subset-e-Ukraine-Light.eot');
    src: local('e-Ukraine Light'), local('e-Ukraine-Light'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Light.woff2') format('woff2'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Light.woff') format('woff'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Light.ttf') format('truetype'),
        url('../fonts/e-ukraine/subset-e-Ukraine-Light.svg#e-Ukraine-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

